<jhi-toast></jhi-toast>
<div class="playground m-4">
  <div class="row">
    <jhi-button severity="primary" label="Submit" icon="sync" />
    <jhi-button severity="secondary" label="Submit" icon="home" />
    <jhi-button severity="success" label="Submit" />
    <jhi-button severity="warn" label="Submit" />
    <jhi-button severity="danger" label="Submit" />
    <jhi-button severity="info" label="Submit" />
    <jhi-button severity="primary" label="Disabled" [disabled]="true" />
  </div>
  <div class="row">
    <jhi-button severity="primary" variant="outlined" label="Submit" />
    <jhi-button severity="secondary" variant="outlined" label="Submit" />
    <jhi-button severity="success" variant="outlined" label="Submit" icon="sync" />
    <jhi-button severity="warn" variant="outlined" label="Submit" icon="home" />
    <jhi-button severity="danger" variant="outlined" label="Submit" />
    <jhi-button severity="info" variant="outlined" label="Submit" />
    <jhi-button severity="primary" variant="outlined" label="Disabled" [disabled]="true" />
  </div>
  <div class="row">
    <jhi-button severity="primary" variant="text" label="Submit" />
    <jhi-button severity="secondary" variant="text" label="Submit" />
    <jhi-button severity="success" variant="text" label="Submit" />
    <jhi-button severity="warn" variant="text" label="Submit" />
    <jhi-button severity="danger" variant="text" label="Submit" icon="sync" />
    <jhi-button severity="info" variant="text" label="Submit" icon="home" />
    <jhi-button severity="primary" variant="text" label="Disabled" [disabled]="true" />
  </div>
  <div class="row">
    <jhi-button severity="primary" icon="home" />
    <jhi-button severity="secondary" icon="home" />
    <jhi-button severity="success" icon="home" />
    <jhi-button severity="warn" icon="home" />
    <jhi-button severity="danger" icon="home" />
    <jhi-button severity="info" icon="home" />
    <jhi-button severity="primary" icon="home" [disabled]="true" />
  </div>
  <div class="row">
    <jhi-button severity="primary" variant="outlined" icon="home" />
    <jhi-button severity="secondary" variant="outlined" icon="home" />
    <jhi-button severity="success" variant="outlined" icon="home" />
    <jhi-button severity="warn" variant="outlined" icon="home" />
    <jhi-button severity="danger" variant="outlined" icon="home" />
    <jhi-button severity="info" variant="outlined" icon="home" />
    <jhi-button severity="primary" variant="outlined" icon="home" [disabled]="true" />
  </div>
  <div class="row">
    <jhi-button severity="primary" variant="text" icon="home" />
    <jhi-button severity="secondary" variant="text" icon="home" />
    <jhi-button severity="success" variant="text" icon="home" />
    <jhi-button severity="warn" variant="text" icon="home" />
    <jhi-button severity="danger" variant="text" icon="home" />
    <jhi-button severity="info" variant="text" icon="home" />
    <jhi-button severity="primary" variant="text" icon="home" [disabled]="true" />
  </div>
  <div class="row">
    <jhi-button severity="primary" variant="text" icon="home" [numberOfFavorites]="2" />
    <jhi-button severity="secondary" variant="text" icon="home" [numberOfFavorites]="22" />
    <jhi-button severity="success" variant="text" icon="home" [numberOfFavorites]="3" />
    <jhi-button severity="warn" variant="text" icon="home" [numberOfFavorites]="33" />
    <jhi-button severity="danger" variant="text" icon="home" [numberOfFavorites]="4" />
    <jhi-button severity="info" variant="text" icon="home" [numberOfFavorites]="214" />
    <jhi-button severity="primary" variant="text" icon="home" [numberOfFavorites]="214" [disabled]="true" />
  </div>

  <div>
    <h2>Button Groups</h2>
  </div>
  <div>
    <jhi-button-group [data]="buttonGroupVertical" />
  </div>
  <div class="mt-4">
    <jhi-button-group [data]="buttonGroupHorizontal" />
  </div>
</div>
