<div class="page-container">
  <div class="about-us-page">
    <h1 class="headline" jhiTranslate="about-us.headline"></h1>

    <h2 class="subheadline" jhiTranslate="about-us.chair.headline"></h2>
    <span class="text bloc mb-4" jhiTranslate="about-us.chair.description"></span>
    <span class="text bloc" jhiTranslate="about-us.chair.contact"></span>

    <h2 class="subheadline" jhiTranslate="about-us.support.headline"></h2>
    <span class="text" jhiTranslate="about-us.support.mailbox"></span>
  </div>
</div>
