<div class="page-container">
  <div class="max-w-[75rem] mr-auto">
    <h1 class="text-[2rem] font-bold" jhiTranslate="about-us.headline"></h1>

    <span class="block text-base text-justify whitespace-pre-line leading-8 mt-4" jhiTranslate="about-us.chair.description"></span>
    <span class="block text-base text-justify whitespace-pre-line leading-8" jhiTranslate="about-us.chair.contact"></span>

    <h2 class="text-2xl font-semibold mt-8 mb-4" jhiTranslate="about-us.support.headline"></h2>
    <span class="block text-base text-justify whitespace-pre-line" jhiTranslate="about-us.support.mailbox"></span>
  </div>
</div>
