<p-dialog header="Filter" [modal]="true" [(visible)]="visible" styleClass="filter-dialog">
  @for (filterField of draftFields(); track i; let i = $index) {
    <div class="filter-row">
      <div class="label-reset">
        <span class="label">{{ filterField.displayName }}</span>
        <jhi-button variant="text" label="Clear" (click)="resetField(filterField)" [disabled]="(filterField.selected?.length ?? 0) < 1" />
      </div>
      <jhi-filter-select
        [options]="filterField.options"
        [preSelected]="filterField.selected ?? undefined"
        (selectionChange)="onSelectionChange(filterField, $event)"
      />
    </div>
    @if (i !== draftFields().length - 1) {
      <p-divider />
    }
  }
  <ng-template #footer>
    <div class="actions">
      <jhi-button variant="outlined" label="Clear All" (click)="resetAll()" [disabled]="!canResetAll()" />
      <jhi-button label="Apply" (click)="applyAndClose()" />
    </div>
  </ng-template>
</p-dialog>
