.filter-dialog {
  width: 70%;
  max-width: 40rem;
  height: 70%;
  max-height: 37rem;
}

.filter-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.75rem;

  .label-reset {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .label {
      font-weight: 600;
      line-height: 1.25rem;
    }
  }
}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
