@if (data()) {
  <form [formGroup]="page2Form">
    <p jhiTranslate="entity.applicationPage2.description"></p>
    <p class="mb-4 text-sm text-text-secondary" jhiTranslate="global.input.requiredHint"></p>
    <jhi-degree-document-section
      [applicationId]="applicationIdForDocuments()"
      [required]="true"
      [saveData]="true"
      (extracted)="onAiDataExtracted($event)"
      [bachelorDocumentIds]="documentIdsBachelorTranscript()"
      [bachelorDegreeNameControl]="page2Form.controls.bachelorDegreeName"
      [bachelorDegreeUniversityControl]="page2Form.controls.bachelorDegreeUniversity"
      [bachelorGradeControl]="page2Form.controls.bachelorGrade"
      [bachelorGradeHelperText]="helperTextBachelorGradeKey()"
      [bachelorGradeHelperTextParams]="helperTextBachelorGradeParams()"
      [bachelorGradeWarningText]="warningTextBachelorGrade()"
      (bachelorChangeScale)="onChangeGradingScale('bachelor')"
      (bachelorDocumentIdsChange)="documentIdsBachelorTranscript.set($event)"
      [masterDocumentIds]="documentIdsMasterTranscript()"
      [masterDegreeNameControl]="page2Form.controls.masterDegreeName"
      [masterDegreeUniversityControl]="page2Form.controls.masterDegreeUniversity"
      [masterGradeControl]="page2Form.controls.masterGrade"
      [masterGradeHelperText]="helperTextMasterGradeKey()"
      [masterGradeHelperTextParams]="helperTextMasterGradeParams()"
      [masterGradeWarningText]="warningTextMasterGrade()"
      (masterChangeScale)="onChangeGradingScale('master')"
      (masterDocumentIdsChange)="documentIdsMasterTranscript.set($event)"
    />
  </form>
}
