@if (data()) {
  <form [formGroup]="page2Form">
    <jhi-degree-document-section
      degreeType="bachelor"
      sectionTitleKey="entity.applicationPage2.section.bachelor"
      [applicationId]="applicationIdForDocuments()"
      [documentIds]="documentIdsBachelorTranscript()"
      [required]="true"
      [degreeNameControl]="page2Form.controls.bachelorDegreeName"
      [degreeUniversityControl]="page2Form.controls.bachelorDegreeUniversity"
      [gradeControl]="page2Form.controls.bachelorGrade"
      [gradeHelperText]="helperTextBachelorGrade()"
      [gradeWarningText]="warningTextBachelorGrade()"
      (changeScale)="onChangeGradingScale('bachelor')"
      (documentIdsChange)="documentIdsBachelorTranscript.set($event)"
    />

    <jhi-degree-document-section
      degreeType="master"
      sectionTitleKey="entity.applicationPage2.section.master"
      [applicationId]="applicationIdForDocuments()"
      [documentIds]="documentIdsMasterTranscript()"
      [required]="true"
      [degreeNameControl]="page2Form.controls.masterDegreeName"
      [degreeUniversityControl]="page2Form.controls.masterDegreeUniversity"
      [gradeControl]="page2Form.controls.masterGrade"
      [gradeHelperText]="helperTextMasterGrade()"
      [gradeWarningText]="warningTextMasterGrade()"
      (changeScale)="onChangeGradingScale('master')"
      (documentIdsChange)="documentIdsMasterTranscript.set($event)"
    />
  </form>
}
