<p-card styleClass="job-card">
  <ng-template #header>
    <div class="card-header">
      <div class="card-icon">
        <fa-icon [icon]="['fas', 'flask-vial']"></fa-icon>
      </div>
      <div class="timestamp">{{ jobCard.timestamp }}</div>
    </div>
  </ng-template>

  <ng-template #title>
    <div class="card-title">{{ jobCard.title }}</div>
  </ng-template>

  <div class="card-body">
    <ul class="card-info">
      <li class="info-item"><fa-icon [icon]="['fas', 'graduation-cap']"></fa-icon> {{ jobCard.fieldOfStudies }}</li>
      <li class="info-item"><fa-icon [icon]="['fas', 'location-dot']"></fa-icon> {{ jobCard.location }}</li>
      <li class="info-item"><fa-icon [icon]="['fas', 'user']"></fa-icon> {{ jobCard.professor }}</li>
      <li class="info-item"><fa-icon [icon]="['fas', 'clock']"></fa-icon> {{ jobCard.workload }}</li>
      <li class="info-item"><fa-icon [icon]="['fas', 'calendar']"></fa-icon> Start: {{ jobCard.startDate }}</li>
    </ul>

    <div class="card-actions">
      <jhi-button severity="primary" variant="outlined" label="View Details" (click)="onViewDetails()" class="view-button"></jhi-button>

      <jhi-button severity="primary" label="Apply" (click)="onApply()" class="apply-button"></jhi-button>
    </div>
  </div>
</p-card>
