.notification-settings {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .setting-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.75rem;

    .setting-label {
      font-size: 1rem;
      font-weight: 500;
      color: var(--p-text-secondary);
    }

    p-toggleSwitch {
      min-width: 3rem;
    }
  }
}
