<div [class.sidebar-collapsed]="isSidebarCollapsed()" [class.sidebar]="!isSidebarCollapsed()">
  @for (category of categories; track category.title) {
    <p-panel class="panel" [header]="category.title | translate">
      <div class="buttons">
        @for (button of category.buttons; track button.text) {
          <jhi-sidebar-button
            [icon]="button.icon"
            [label]="button.text | translate"
            [link]="button.link"
            [isActive]="isActive(button.link)"
          />
        }
      </div>
    </p-panel>
  }
  <div class="settings">
    <p-divider />
    <div class="settings-button-wrapper">
      <jhi-sidebar-button [isActive]="isActive('/settings')" [label]="'settings.header' | translate" icon="gear" link="/settings" />
    </div>
    <jhi-button (click)="toggleSidebar()" [icon]="isSidebarCollapsed() ? 'circle-chevron-left' : 'circle-chevron-right'" variant="text" />
  </div>
</div>
