<div
  [class]="wrapperClass()"
  [class.items-center]="isSidebarCollapsed()"
>
  <div class="flex flex-col items-center w-full flex-1 overflow-y-auto overflow-x-hidden">
    @for (category of categories; track category.title) {
      @if (isSidebarCollapsed()) {
        @if (!$first) {
          <p-divider class="section-divider" />
        }
      } @else {
        @if (category.title) {
          <span [jhiTranslate]="category.title" class="text-xs font-bold py-4 text-text-secondary w-full"></span>
        }
      }

      <div class="flex flex-col gap-1 w-full">
        @for (button of category.buttons; track button.text) {
          <jhi-sidebar-button
            [icon]="button.icon"
            [label]="button.text"
            [link]="button.link"
            [isActive]="isActive(button.link)"
            [isCollapsed]="isSidebarCollapsed()"
          />
        }
      </div>
    }
  </div>
  <div class="flex flex-col items-center w-full flex-none justify-end pb-4">
    <p-divider />
    <div class="flex gap-2 w-full justify-between items-center" [class.flex-col]="isSidebarCollapsed()">
      <jhi-sidebar-button
        [isActive]="isActive('/settings')"
        [isCollapsed]="isSidebarCollapsed()"
        label="settings.header"
        [class.flex-1]="!isSidebarCollapsed()"
        [class.w-full]="isSidebarCollapsed() || isInDrawer()"
        icon="gear"
        link="/settings"
      />
      @if (!isInDrawer()) {
        <p-button
          (click)="toggleSidebar()"
          [icon]="isSidebarCollapsed() ? 'pi pi-angle-double-right' : 'pi pi-angle-double-left'"
          [text]="true"
          [class.flex-none]="!isSidebarCollapsed()"
          [class.w-full]="isSidebarCollapsed()"
        />
      }
    </div>
  </div>
</div>
