.sidebar,
.sidebar-collapsed {
  display: flex;
  height: 100%;
  flex-direction: column;
  top: 0;
  position: sticky;
  background: var(--p-background-surface);
  border-right: 0.1rem solid var(--p-border-default);
  flex: 1 1 auto;
  padding: 1rem;

  .settings-content,
  .sidebar-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .sidebar-content {
    flex: 1 1 auto;

    .section-title {
      font-size: 0.75rem;
      font-weight: 700;
      padding: 1rem 0;
      color: var(--p-text-secondary);
    }

    .buttons {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }
  }

  .settings-content {
    flex: 0 0 auto;
    justify-content: flex-end;
    padding-bottom: 1rem;
  }
}

.sidebar-collapsed {
  width: 4.75rem;
  align-items: center;
}

.sidebar {
  width: 15rem;
}
