.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px; /* Adjusted width for better visibility */
  height: 100vh; /* Full viewport height */
  position: sticky;
  top: 0;
  background: var(--p-background-surface);
  border-right: 1px solid var(--p-border-default);
  overflow-y: auto; /* Ensure scrollability if content overflows */
  padding: 1rem; /* Added padding for better spacing */

  .panel {
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: var(--p-background-secondary);
    border-radius: 8px;
  }

  .category {
    margin-bottom: 1rem;
  }

  .category-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .category-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  jhi-sidebar-button {
    display: block;
    width: 100%;
  }
}
