<div [class.sidebar-collapsed]="isSidebarCollapsed()" [class.sidebar]="!isSidebarCollapsed()">
  <div class="sidebar-content">
    @for (category of categories; track category.title) {
      @if (isSidebarCollapsed()) {
        @if (!$first) {
          <p-divider class="section-divider" />
        }
      } @else {
        <span [jhiTranslate]="category.title" class="section-title"></span>
      }

      <div class="buttons">
        @for (button of category.buttons; track button.text) {
          <jhi-sidebar-button
            [icon]="button.icon"
            [label]="!isSidebarCollapsed() ? (button.text | translate) : undefined"
            [link]="button.link"
            [isActive]="isActive(button.link)"
          />
        }
      </div>
    }
  </div>
  <div class="settings-content">
    <p-divider />
    <jhi-sidebar-button
      [isActive]="isActive('/settings')"
      [label]="!isSidebarCollapsed() ? ('settings.header' | translate) : undefined"
      class="settings-button"
      icon="gear"
      link="/settings"
    />
  </div>
</div>
