<div class="lang-switcher-wrapper">
  <div class="lang-container">
    <div class="active-bg" [class.shift-right]="currentLang() === 'de'"></div>

    <button
      type="button"
      (click)="setLanguage('en')"
      class="lang-option"
      [class.text-active]="currentLang() === 'en'"
      [disabled]="disabled()"
    >
      <span jhiTranslate="jobCreationForm.positionDetailsSection.jobDescription.languageEnglish"></span>
    </button>

    <button
      type="button"
      (click)="setLanguage('de')"
      class="lang-option"
      [class.text-active]="currentLang() === 'de'"
      [disabled]="disabled()"
    >
      <span jhiTranslate="jobCreationForm.positionDetailsSection.jobDescription.languageGerman"></span>
    </button>
  </div>
</div>
