<div class="sort-bar">
  <!-- LEFT: total count -->
  <span
    class="record-count"
    jhiTranslate="entity.filters.recordsFound"
    [translateValues]="{ count: totalRecords(), entity: totalRecords() === 1 ? singleEntity() : multipleEntities() }"
  >
  </span>

  <div class="sort-bar__controls">
    <span jhiTranslate="entity.sortBy"></span>
    <jhi-select
      width="11rem"
      [items]="selectOptions()"
      [selected]="selectedSelectOption()"
      (selectedChange)="onSortFieldChange($event)"
      [translateItems]="shouldTranslate()"
    />
    @if (currentOption().type === 'NUMBER' && isAsc()) {
      <jhi-button [icon]="'arrow-down-1-9'" variant="text" (click)="toggleDirection()" />
    } @else if (currentOption().type === 'NUMBER' && !isAsc()) {
      <jhi-button [icon]="'arrow-up-1-9'" variant="text" (click)="toggleDirection()" />
    } @else if (currentOption().type === 'TEXT' && isAsc()) {
      <jhi-button [icon]="'arrow-down-a-z'" variant="text" (click)="toggleDirection()" />
    } @else if (currentOption().type === 'TEXT' && !isAsc()) {
      <jhi-button [icon]="'arrow-up-a-z'" variant="text" (click)="toggleDirection()" />
    }
  </div>
</div>
