<button
  type="button"
  (click)="navigate()"
  class="btn-bare flex h-11 items-center gap-4 px-4 py-3 rounded-lg cursor-pointer hover:bg-primary-hover-outlined"
  [class.bg-primary-hover-outlined]="isActive()"
  [class.justify-center]="icon() !== undefined && isCollapsed()"
  [class.w-11]="icon() !== undefined && isCollapsed()"
>
  @if (icon() !== undefined) {
    <fa-icon
      [icon]="['fas', icon() ?? '']"
      [class.text-primary]="isActive()"
      [class.text-text-primary]="!isActive()"
      [pTooltip]="displayLabel()"
      showDelay="500"
    />
  }
  @if (!isCollapsed()) {
    <div class="overflow-hidden text-ellipsis whitespace-nowrap" [pTooltip]="displayLabel()" showDelay="1000">
      {{ displayLabel() }}
    </div>
  }
</button>
