.sidebar-button {
  display: flex;
  height: 2.75rem;
  padding: 0.75rem 1rem;
  align-items: center;

  gap: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: var(--p-primary-hover-color-outlined);
  }

  &.active {
    background-color: var(--p-primary-hover-color-outlined);
  }

  &.icon-only {
    justify-content: center;
    width: 2.75rem;
  }

  .icon {
    color: var(--p-text-color);

    &.active {
      color: var(--p-primary-color);
    }
  }

  .text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
