<div class="relative">
  <p-carousel
    styleClass="hero-carousel"
    [autoplayInterval]="8000"
    [circular]="true"
    [numVisible]="1"
    [showNavigators]="false"
    [value]="imagesWithBackgroundClass"
  >
    <ng-template #item let-image>
      <div [class]="image.backgroundClass" class="relative flex items-center justify-center h-116">
        <div class="absolute inset-0 bg-base-black opacity-50 z-[1] pointer-events-none"></div>
      </div>
    </ng-template>
  </p-carousel>

  <div class="hero-overlay flex flex-col items-center justify-center py-12">
    <div class="relative z-[2] flex flex-col items-center gap-10 md:gap-8 lg:gap-10 w-full max-w-300 px-4">
      <h1
        class="text-text-on-primary text-center text-[2rem] md:text-[2.5rem] lg:text-5xl font-bold"
        jhiTranslate="professorLandingPage.hero.headline"
      ></h1>
      <p
        class="text-text-on-primary text-center text-lg md:text-xl lg:text-2xl font-semibold"
        jhiTranslate="professorLandingPage.hero.subline"
      ></p>
      <div class="pointer-events-auto">
        <jhi-button (click)="navigateToGetStarted()" label="professorLandingPage.hero.button" severity="primary" />
      </div>
    </div>
  </div>
</div>
