<div class="hero-wrap">
  <p-carousel
    styleClass="hero-carousel"
    [autoplayInterval]="8000"
    [circular]="true"
    [numVisible]="1"
    [showNavigators]="false"
    [value]="imagesWithBackgroundClass"
  >
    <ng-template #item let-image>
      <div [class]="image.backgroundClass" class="hero-container h-[29rem]"></div>
    </ng-template>
  </p-carousel>

  <div class="hero-overlay flex flex-col items-center justify-center py-12">
    <div class="hero-content flex flex-col items-center gap-10 md:gap-8 lg:gap-10 w-full max-w-[75rem] px-4">
      <h1 class="title" jhiTranslate="professorLandingPage.hero.headline"></h1>
      <p class="subtitle" jhiTranslate="professorLandingPage.hero.subline"></p>
      <div class="pointer-events-auto">
        <jhi-button (click)="navigateToGetStarted()" label="{{ 'professorLandingPage.hero.button' | translate }}" severity="primary" />
      </div>
    </div>
  </div>
</div>
