<div class="form-row">
  <jhi-datepicker
    [(selectedDate)]="data().desiredStartDate"
    [label]="'Desired Start Date'"
    [placeholder]="'Select a Start Date...'"
    [width]="'50%'"
  />
</div>
<jhi-divider label="Uploads" />
<div class="form-row">
  <jhi-string-input label="motivation" [required]="true" [(value)]="data().motivation" />
</div>
<div class="form-row">
  <jhi-string-input label="special-skill" [required]="true" [(value)]="data().skills" />
</div>
<div class="form-row">
  <jhi-string-input label="experience" [required]="true" [(value)]="data().experiences" />
</div>
