<form [formGroup]="page1Form()">
  <p jhiTranslate="entity.applicationPage1.description"></p>
  @if (applicationIdForDocuments(); as applicationId) {
    <p-divider layout="horizontal">
      <span jhiTranslate="entity.applicationPage1.label.curriculumVitae"></span>
    </p-divider>
    <div class="w-full mb-6">
      <label>
        <span jhiTranslate="entity.applicationPage1.label.curriculumVitae"></span>
        <span class="required"> *</span>
        <fa-icon
          class="icon"
          [icon]="['fas', 'circle-info']"
          [pTooltip]="'entity.applicationPage2.tooltip.filenamePrivacy' | translate"
          tooltipPosition="top"
        />
      </label>
      <div class="flex flex-col gap-4 lg:flex-row lg:items-center">
        <div class="min-w-0 flex-1">
          <jhi-upload-button
            documentType="CV"
            [applicationId]="applicationId"
            [documentIds]="computedDocumentIdsCvSet()"
            (documentIdsChange)="cvDocsSetValidity($event)"
            [allowMultiple]="false"
            [compact]="true"
          />
        </div>
        @if (aiFeaturesEnabled()) {
          <div class="flex flex-col items-center gap-2 w-full shrink-0 lg:w-40">
            <p class="m-0 text-center text-xs leading-4 text-text-tertiary">
              {{ 'entity.applicationPage1.aiExtractionHelper' | translate }}
            </p>
            <p class="m-0 text-center text-xs leading-4 text-text-tertiary italic">
              {{ 'entity.applicationPage1.aiExtractionConsent' | translate }}
            </p>
            <jhi-button
              label="?"
              variant="outlined"
              severity="primary"
              styleClass="!flex !h-6 !w-7 !min-w-5 !shrink-0 !cursor-pointer !items-center !justify-center !whitespace-nowrap !rounded-full !border !border-primary-default !bg-background-default !p-0 !text-xs !font-bold !leading-none !text-text-secondary hover:!text-primary-default hover:brightness-93"
              (click)="openAiConsentModal()"
            />
            @if (isExtractingAi()) {
              <div class="flex items-center justify-center gap-2 px-4 py-2 rounded-lg border border-border-default lg:w-full">
                <jhi-progress-spinner styleClass="w-4 h-4" strokeWidth="4" />
                <span class="whitespace-nowrap text-sm text-text-secondary">
                  {{ 'entity.applicationPage1.aiExtractionLoading' | translate }}
                </span>
              </div>
            } @else {
              <jhi-button
                [label]="'entity.applicationPage1.aiExtractionButton'"
                [shouldTranslate]="true"
                severity="primary"
                icon="custom-sparkle"
                [fullWidth]="true"
                styleClass="!justify-center !whitespace-nowrap"
                (click)="extractAiData()"
                [disabled]="!cvValid()"
              />
            }
          </div>
        }
      </div>
    </div>
  }

  <p-divider layout="horizontal"><span jhiTranslate="entity.applicationPage1.section.contactInformation"></span></p-divider>
  <div class="flex flex-col">
    <div class="flex flex-col lg:flex-row lg:gap-8">
      <div class="flex-1">
        <jhi-string-input
          [label]="'entity.applicationPage1.label.firstName'"
          id="firstName"
          [required]="true"
          [(model)]="data().firstName"
          [control]="page1Form().controls.firstName"
          [shouldTranslate]="true"
        />
      </div>
      <div class="flex-1">
        <jhi-string-input
          [label]="'entity.applicationPage1.label.lastName'"
          id="lastName"
          [required]="true"
          [(model)]="data().lastName"
          [control]="page1Form().controls.lastName"
          [shouldTranslate]="true"
        />
      </div>
    </div>

    <div class="flex flex-col lg:flex-row lg:gap-8">
      <div class="flex-1">
        <jhi-string-input
          [label]="'entity.applicationPage1.label.email'"
          [disabled]="disabledEmail()"
          id="email"
          [required]="true"
          [(model)]="data().email"
          [control]="page1Form().controls.email"
          [shouldTranslate]="true"
        />
      </div>
      <div class="flex-1">
        <jhi-string-input
          [label]="'entity.applicationPage1.label.phoneNumber'"
          id="phoneNumber"
          [required]="true"
          [(model)]="data().phoneNumber"
          [control]="page1Form().controls.phoneNumber"
          [shouldTranslate]="true"
        />
      </div>
    </div>
  </div>
  <p-divider layout="horizontal"><span jhiTranslate="entity.applicationPage1.section.voluntaryInformation"></span></p-divider>
  <div class="flex flex-col">
    <div class="flex flex-col lg:flex-row lg:gap-8">
      <div class="flex-1">
        <jhi-select
          width="100%"
          [label]="'entity.applicationPage1.label.gender' | translate"
          [items]="selectGenderLocal"
          [placeholder]="'entity.applicationPage1.placeholder.selectGender' | translate"
          id="gender"
          [(selected)]="data().gender"
          (selectedChange)="updateSelect('gender', $event)"
          [showClear]="true"
          [translateItems]="true"
          [errorEnabled]="true"
        />
      </div>
      <div class="flex-1">
        <jhi-select
          width="100%"
          [label]="'entity.applicationPage1.label.nationality' | translate"
          [items]="selectNationalityComputed()"
          [placeholder]="'entity.applicationPage1.placeholder.selectNationality' | translate"
          id="nationality"
          [(selected)]="data().nationality"
          (selectedChange)="updateSelect('nationality', $event)"
          [filter]="true"
          [showClear]="true"
          [dataKey]="'value'"
          [errorEnabled]="true"
        />
      </div>
    </div>

    <div class="flex flex-col lg:flex-row lg:gap-8">
      <div class="flex-1">
        <jhi-string-input
          [label]="'entity.applicationPage1.label.website'"
          id="website"
          [(model)]="data().website"
          [control]="page1Form().controls.website"
          [shouldTranslate]="true"
        />
      </div>
      <div class="flex-1">
        <jhi-string-input
          [label]="'entity.applicationPage1.label.linkedIn'"
          id="linkedIn"
          [(model)]="data().linkedIn"
          [control]="page1Form().controls.linkedIn"
          [shouldTranslate]="true"
        />
      </div>
    </div>

    <div class="flex flex-col lg:flex-row lg:gap-8">
      <div class="flex-1">
        <jhi-datepicker
          [selectedDate]="data().dateOfBirth"
          [label]="'entity.applicationPage1.label.dateOfBirth'"
          width="100%"
          (selectedDateChange)="setDateOfBirth($event)"
          [minDate]="minDate"
          [maxDate]="maxDate"
          [defaultDate]="defaultBirthDate"
          [shouldTranslate]="true"
        />
      </div>
      <div class="flex-1"></div>
    </div>
  </div>

  <p-divider layout="horizontal"><span jhiTranslate="entity.applicationPage1.section.address"></span></p-divider>
  <div class="flex flex-col">
    <div class="flex flex-col lg:flex-row lg:gap-8">
      <div class="flex-1">
        <jhi-string-input
          [label]="'entity.applicationPage1.label.street'"
          id="street"
          [required]="true"
          [(model)]="data().street"
          [control]="page1Form().controls.street"
          [shouldTranslate]="true"
        />
      </div>
    </div>

    <div class="flex flex-col lg:flex-row lg:gap-8">
      <div class="flex-1">
        <jhi-string-input
          [label]="'entity.applicationPage1.label.city'"
          id="city"
          [required]="true"
          [(model)]="data().city"
          [control]="page1Form().controls.city"
          [shouldTranslate]="true"
        />
      </div>
    </div>

    <div class="flex flex-col lg:flex-row lg:gap-8">
      <div class="flex-1">
        <jhi-select
          [label]="'entity.applicationPage1.label.country' | translate"
          [placeholder]="'entity.applicationPage1.placeholder.selectCountry' | translate"
          id="country"
          [required]="true"
          [(selected)]="data().country"
          width="100%"
          [items]="selectCountriesLocal()"
          (selectedChange)="updateSelect('country', $event)"
          [filter]="true"
          [dataKey]="'value'"
          [errorEnabled]="true"
        />
      </div>
      <div class="flex-1">
        <jhi-string-input
          [label]="'entity.applicationPage1.label.postcode'"
          id="postcode"
          [required]="true"
          [(model)]="data().postcode"
          [control]="page1Form().controls.postcode"
          [shouldTranslate]="true"
        />
      </div>
    </div>
  </div>
</form>

<jhi-ai-consent-modal [visible]="aiConsentModalVisible()" (visibleChange)="aiConsentModalVisible.set($event)" />
