.footer {
  display: flex;
  background-color: var(--p-background-footer);

  padding: 1rem 0;
  border-top: 0.07rem solid var(--p-divider-border-color);
  font-size: 0.9rem;
  align-items: center;

  .logo-section {
    display: flex;
    padding-left: 1rem;
    padding-right: 0.5rem;
    align-items: center;

    .app-name {
      text-align: start;
      font-weight: 600;
      padding-right: 0.5rem;
    }
  }

  .rights-section {
    display: flex;
    gap: 0.3rem;
  }

  .footer-links {
    display: inline-flex;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .legal-section {
    display: flex;
    margin-left: auto;
    padding-right: 1rem;
    gap: 0.3rem;

    .footer-links {
      color: var(--p-primary-color);
    }
  }
}

@media (max-width: 600px) {
  .footer {
    font-size: 0.75rem;
    padding: 0.5rem;
  }

  .logo-section,
  .rights-section,
  .legal-section {
    padding: 0 0.5rem;
  }
}
