.footer {
  display: flex;
  background-color: var(--background-default);
  padding: 1rem 0;
  font-size: 0.9rem;
  gap: 1rem;
  align-items: center;

  .logo-section {
    display: flex;
    align-items: center;
    text-align: start;
    color: var(--p-primary-color);
    font-weight: 700;
    padding-left: 1rem;
    gap: 1rem;

    .tum-logo {
      height: 2.25rem;
    }
  }
}
