.footer {
  display: flex;
  background-color: var(--background-default);
  padding: 1rem 0;
  font-size: 0.9rem;
  gap: 1rem;
  align-items: center;

  .logo-section {
    text-align: start;
    color: var(--p-primary-color);
    font-weight: 700;
    padding-left: 1rem;
  }
}
