<div class="footer">
  <div class="logo-section">
    <span class="app-name" jhiTranslate="footer.tumApply"></span>
    <div class="footer-links">
      <a [href]="'https://github.com/ls1intum/tum-apply/releases'" target="_blank" rel="noopener"> {{ version }} </a>
    </div>
  </div>

  <div class="rights-section">
    <span class="copyright" jhiTranslate="footer.rightsText"></span>
  </div>

  <div class="legal-section">
    <p (click)="navigateToImprint()" class="footer-links" jhiTranslate="footer.imprint"></p>
    <span class="divider">|</span>
    <p (click)="navigateToPrivacy()" class="footer-links" jhiTranslate="footer.privacy"></p>
    <span class="divider">|</span>
    <p (click)="navigateToAboutUs()" class="footer-links" jhiTranslate="footer.about-us"></p>
  </div>
</div>
