<div class="footer max-[600px]:flex-col max-[600px]:gap-1 max-[600px]:text-center">
  <div class="logo-section">
    <span class="app-name" jhiTranslate="footer.tumApply"></span>
    <div class="footer-links">
      <a [href]="'https://github.com/ls1intum/tum-apply/releases'" target="_blank" rel="noopener"> {{ version }} </a>
    </div>
  </div>

  <div class="rights-section">
    <span class="copyright" jhiTranslate="footer.rightsText"></span>
  </div>

  <div class="legal-section max-[600px]:ml-0 max-[600px]:pr-0">
    <p
      (click)="navigateToImprint()"
      (keydown.enter)="navigateToImprint()"
      class="footer-links"
      jhiTranslate="footer.imprint"
      tabindex="0"
      role="button"
    ></p>
    <span class="divider">|</span>
    <p
      (click)="navigateToPrivacy()"
      (keydown.enter)="navigateToPrivacy()"
      class="footer-links"
      jhiTranslate="footer.privacy"
      tabindex="0"
      role="button"
    ></p>
    <span class="divider">|</span>
    <p
      (click)="navigateToAboutUs()"
      (keydown.enter)="navigateToAboutUs()"
      class="footer-links"
      jhiTranslate="footer.about-us"
      tabindex="0"
      role="button"
    ></p>
  </div>
</div>
