<!-- Main Container Layout -->
<div class="flex gap-4 h-full w-full max-lg:flex-col max-lg:overflow-y-auto lg:max-xl:flex-row">
  <div class="flex flex-1 gap-4 max-lg:flex-col lg:max-xl:flex-col lg:max-xl:overflow-y-auto lg:max-xl:flex-1 xl:flex-row">
    <!-- Left Section -->
    <div
      class="p-4 flex flex-col gap-2.5 items-center mt-0 max-lg:w-full max-lg:h-fit max-lg:overflow-visible max-lg:overflow-y-auto lg:overflow-x-hidden max-xl:overflow-y-visible max-xl:w-full max-xl:h-fit max-xl:flex-none xl:overflow-y-auto xl:h-full xl:w-max xl:min-w-[25.5rem]"
    >
      <!-- Top Section: Avatar, Name, and Score -->
      <!-- Applicant Avatar -->
      <!-- TODO here the icon will be placed - preferably within the slot-rating-applicant-info ng-content component. But the icon handling has to be implemented first -->
      <!-- <div class="avatar">
          <img src="https://placehold.co/100x100" class="avatar-img" />
        </div> -->

      <!-- Rating Section (if applicable) -->
      <ng-content select="[slot-rating-applicant-info]" />

      <!-- Injected Template: Applicant Details -->
      <ng-container [ngTemplateOutlet]="applicantDetailsTemplate" />

      <!-- Injected Template: Education Information -->
      <ng-container [ngTemplateOutlet]="educationInfoTemplate" />
    </div>

    <!-- Middle Column: Text Cards (Motivation, Skills, Research Experience) -->
    <div
      class="p-4 flex flex-col gap-2.5 justify-start items-center max-lg:w-full max-lg:h-fit max-lg:overflow-visible max-lg:overflow-y-auto lg:overflow-x-hidden max-xl:overflow-y-visible max-xl:w-full max-xl:h-fit max-xl:flex-none xl:overflow-y-auto xl:h-full"
    >
      <ng-container
        [ngTemplateOutlet]="textCardTemplate"
        [ngTemplateOutletContext]="{
          icon: 'rocket',
          name: motivationLabel(),
          text: application().motivation,
        }"
      />
      <ng-container
        [ngTemplateOutlet]="textCardTemplate"
        [ngTemplateOutletContext]="{
          icon: 'brain',
          name: skillsLabel(),
          text: application().specialSkills,
        }"
      />
      <ng-container
        [ngTemplateOutlet]="textCardTemplate"
        [ngTemplateOutletContext]="{
          icon: 'flask',
          name: researchExperienceLabel(),
          text: application().projects,
        }"
      />
    </div>
  </div>
  <!-- Right Column: Slot for Additional Custom Content (e.g Documents, or Internal Comments) -->
  <div
    class="p-4 overflow-y-auto max-lg:w-full max-lg:h-fit max-lg:overflow-visible max-lg:overflow-y-visible lg:overflow-x-hidden lg:max-xl:flex-1"
  >
    <ng-content select="[slot-vertical-right]" />
  </div>
</div>

<!-- Template: Applicant Details Card -->
<ng-template #applicantDetailsTemplate>
  <div
    class="h-60 pb-6 rounded-lg border border-border-default flex flex-col justify-start items-center gap-2.5 max-xl:w-full xl:w-96"
  >
    <!-- Card Header -->
    <ng-container
      [ngTemplateOutlet]="card_header"
      [ngTemplateOutletContext]="{ header: 'entity.detail_card.applicant_info', icon: 'circle-user' }"
    />
    <!-- Applicant Information Rows -->
    <div class="w-full flex-1 px-8 flex flex-col justify-center items-center">
      <ng-container
        [ngTemplateOutlet]="infoRow"
        [ngTemplateOutletContext]="{ $implicit: 'entity.detail_card.desired_start_date', val: application().desiredDate }"
      />
      <ng-container
        [ngTemplateOutlet]="infoRow"
        [ngTemplateOutletContext]="{ $implicit: 'entity.detail_card.gender', val: application().applicant?.user?.gender }"
      />
      <ng-container
        [ngTemplateOutlet]="infoRow"
        [ngTemplateOutletContext]="{ $implicit: 'entity.detail_card.nationality', val: application().applicant?.user?.nationality }"
      />
    </div>

    <!-- Links: Website and LinkedIn -->
    <div class="w-full pb-4 inline-flex justify-around items-center">
      <a
        class="flex-1 flex justify-center items-center gap-2.5"
        [class.pointer-events-none]="!application().applicant?.user?.website"
        [class.opacity-50]="!application().applicant?.user?.website"
        [class.no-underline]="!application().applicant?.user?.website"
        [class.cursor-default]="!application().applicant?.user?.website"
        [href]="application().applicant?.user?.website"
        [attr.aria-disabled]="!application().applicant?.user?.website"
        [attr.tabindex]="!application().applicant?.user?.website ? -1 : null"
        [attr.target]="application().applicant?.user?.website ? '_blank' : null"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div>Website</div>
        <fa-icon icon="link" class="text-primary w-6 h-6" />
      </a>

      <a
        class="flex-1 flex justify-center items-center gap-2.5"
        [class.pointer-events-none]="!application().applicant?.user?.linkedinUrl"
        [class.opacity-50]="!application().applicant?.user?.linkedinUrl"
        [class.no-underline]="!application().applicant?.user?.linkedinUrl"
        [class.cursor-default]="!application().applicant?.user?.linkedinUrl"
        [href]="application().applicant?.user?.linkedinUrl"
        [attr.aria-disabled]="!application().applicant?.user?.linkedinUrl"
        [attr.tabindex]="!application().applicant?.user?.linkedinUrl ? -1 : null"
        [attr.target]="application().applicant?.user?.linkedinUrl ? '_blank' : null"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div>LinkedIn</div>
        <fa-icon [icon]="['fab', 'linkedin']" class="text-primary w-6 h-6" />
      </a>
    </div>
  </div>
</ng-template>

<!-- Template: Generic Text Card for Motivation, Skills, etc. -->
<ng-template #textCardTemplate let-icon="icon" let-name="name" let-text="text">
  <div
    class="w-full px-4 py-3 rounded-md border border-border-default flex flex-col justify-center items-center gap-2 [overflow-wrap:anywhere]"
  >
    <div class="flex items-center justify-between w-full gap-2.5">
      <fa-icon [icon]="icon" class="text-primary w-6 h-6" />
      <div class="flex-1 justify-start text-base">{{ name }}</div>
    </div>
    <div class="w-full justify-start" [innerHTML]="text"></div>
  </div>
</ng-template>

<ng-template #infoRow let-name let-val="val">
  <div class="w-full flex-1 inline-flex justify-center items-center">
    <div class="flex-1 text-left" [jhiTranslate]="name"></div>
    <div class="flex-1 text-right">{{ val }}</div>
  </div>
</ng-template>

<!-- Template: Row with Icon (for grades etc.) -->
<ng-template #infoRowWithIcon let-name let-val="val">
  <div class="flex items-center justify-between w-full gap-2.5">
    <div class="flex-1" [jhiTranslate]="name"></div>
    <div class="flex-1 flex items-center justify-end gap-2.5">
      <div class="text-right">
        {{ val }}
      </div>
      <!-- TODO here the grade translation feature can be build in
       <div class="transform -rotate-90">
        <fa-icon icon="arrow-right-arrow-left" class="text-text-disabled w-6 h-6" />
      </div> -->
    </div>
  </div>
</ng-template>

<!-- Template: Card Header -->
<ng-template #card_header let-header="header" let-icon="icon">
  <div class="h-14 flex self-stretch items-center justify-center gap-2.5 px-4">
    <fa-icon [icon]="icon" class="text-primary w-6 h-6" />
    <div class="font-bold text-center" [jhiTranslate]="header"></div>
  </div>
</ng-template>

<!-- Education Information Template -->
<ng-template #educationInfoTemplate>
  <!-- Bachelor's Information Card -->
  <div class="pb-6 rounded-lg border border-border-default flex flex-col justify-start items-center gap-2.5 max-xl:w-full xl:w-96">
    <ng-container
      [ngTemplateOutlet]="card_header"
      [ngTemplateOutletContext]="{ header: 'entity.detail_card.bachelor_info', icon: 'building-columns' }"
    />
    <div class="w-full flex-1 px-8 flex flex-col justify-center items-center">
      <ng-container
        [ngTemplateOutlet]="infoRow"
        [ngTemplateOutletContext]="{ $implicit: 'entity.detail_card.name', val: application().applicant?.bachelorDegreeName }"
      />
      <ng-container
        [ngTemplateOutlet]="infoRowWithIcon"
        [ngTemplateOutletContext]="{ $implicit: 'entity.detail_card.grade', val: application().applicant?.bachelorGrade }"
      />
      <ng-container
        [ngTemplateOutlet]="infoRow"
        [ngTemplateOutletContext]="{ $implicit: 'entity.detail_card.university', val: application().applicant?.bachelorUniversity }"
      />
    </div>
  </div>
  <!-- Master's Information Card -->
  <div class="pb-6 rounded-lg border border-border-default flex flex-col justify-start items-center gap-2.5 max-xl:w-full xl:w-96">
    <ng-container
      [ngTemplateOutlet]="card_header"
      [ngTemplateOutletContext]="{ header: 'entity.detail_card.master_info', icon: 'building-columns' }"
    />
    <div class="w-full flex-1 px-8 flex flex-col justify-center items-center">
      <ng-container
        [ngTemplateOutlet]="infoRow"
        [ngTemplateOutletContext]="{ $implicit: 'entity.detail_card.name', val: application().applicant?.masterDegreeName }"
      />
      <ng-container
        [ngTemplateOutlet]="infoRowWithIcon"
        [ngTemplateOutletContext]="{ $implicit: 'entity.detail_card.grade', val: application().applicant?.masterGrade }"
      />
      <ng-container
        [ngTemplateOutlet]="infoRow"
        [ngTemplateOutletContext]="{ $implicit: 'entity.detail_card.university', val: application().applicant?.masterUniversity }"
      />
    </div>
  </div>
</ng-template>
