.editor-footer {
  display: flex;
  justify-content: space-between;
  min-height: 2rem;

  .char-counter-warning {
    color: var(--p-warn-color);
  }

  .char-counter-danger {
    color: var(--p-danger-color);
  }

  .helper-text {
    font-size: 0.8rem;
    color: var(--p-text-primary);
  }

  .error-text {
    display: flex;
    flex-direction: column;
  }
}

.input-wrapper {
  display: flex;
  resize: vertical;
  flex-direction: column;
  overflow: hidden;
  min-height: 12.5rem;
}

.custom-quill-editor {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  min-height: 0;
}

.ql-toolbar.ql-snow {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
