<div class="input-container">
  <div class="label-top label-input-wrapper">
    @if (label(); as label) {
      <label class="custom-label" [for]="id()">
        {{ displayLabel() }}
        @if (required()) {
          <span class="required">*</span>
        }
        @if (icon(); as icon) {
          @if (icon === 'circle-info' && tooltipText()) {
            <fa-icon class="icon" [icon]="['fas', icon]" [pTooltip]="displayTooltipText()" tooltipPosition="top" />
          } @else {
            <fa-icon class="icon" [icon]="['fas', icon]" />
          }
        }
      </label>
    }

    <div
      class="input-wrapper"
      [class.error]="isEmpty()"
      contenteditable="false"
      (focusin)="onFocus()"
      (focusout)="onBlur()"
      (mouseover)="onEditorMouseOver($event)"
      (mouseout)="onEditorMouseOut($event)"
      (focus)="onEditorMouseOver($event)"
      (blur)="onEditorMouseOut($event)"
      #editorElem
      [style.height]="height()"
    >
      <quill-editor
        class="custom-quill-editor"
        (onFocus)="onFocus()"
        (onBlur)="onBlur()"
        [ngModel]="editorValue()"
        [modules]="quillModules"
        [placeholder]="displayPlaceholder()"
        (onContentChanged)="textChanged($event)"
      >
        <div quill-editor-toolbar>
          <span class="ql-formats">
            <button type="button" class="ql-bold" aria-label="Bold"></button>
            <button type="button" class="ql-italic" aria-label="Italic"></button>
            <button type="button" class="ql-underline" aria-label="Underline"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-list" value="ordered" aria-label="Ordered List" type="button"></button>
            <button class="ql-list" value="bullet" aria-label="Unordered List" type="button"></button>
            <select class="ql-align">
              <option selected></option>
              <option value="center" jhiTranslate="editor.align.center" aria-label="Align center"></option>
              <option value="right" jhiTranslate="editor.align.right" aria-label="Align right"></option>
              <option value="justify" jhiTranslate="editor.align.justify" aria-label="Align justify"></option>
            </select>
          </span>
          <span class="ql-formats">
            <button class="ql-link" aria-label="Insert Link" type="button"></button>
          </span>

          @if (showGenderDecoderButton()) {
            <span class="ql-formats ml-auto !flex items-center gap-2 flex-shrink-0 max-w-full">
              @if (codingDisplay(); as coding) {
                <span
                  class="px-3 py-1 rounded text-xs break-words text-text-primary"
                  [class]="
                    analysisResult()?.coding === 'non-inclusive-coded'
                      ? 'bg-[var(--p-warn-hover-color-outlined)]'
                      : 'bg-secondary-hover-outlined'
                  "
                >
                  {{ coding }}
                </span>
              }
              @if (shouldShowButton()) {
                <jhi-info-icon
                  class="[&_button]:!float-none [&_button]:!h-auto [&_button]:!w-auto [&_button]:!p-0"
                  [clickable]="true"
                  size="sm"
                  [disabled]="!analysisResult()"
                  tooltip="genderDecoder.openAnaylsis"
                  tooltipPosition="top"
                  ariaLabel="genderDecoder.openAnaylsis"
                  [shouldTranslate]="true"
                  (clicked)="onGenderDecoderClick()"
                />
              }
            </span>
          }
        </div>
      </quill-editor>
    </div>
    <div class="editor-footer flex justify-between min-h-8">
      <div class="error-text flex flex-col">
        @if (helperText(); as helperText) {
          <span class="helper-text text-[0.8rem] text-text-primary">{{ displayHelperText() }}</span>
        }
        @if (isEmpty() || isOverCharLimit()) {
          {{ errorMessage() }}
        }
      </div>
      @if (characterLimit() !== undefined && characterLimit() !== null) {
        <div [class]="charCounterColor()">{{ characterCount() }}/{{ characterLimit() }}</div>
      }
    </div>
  </div>
</div>
@if (showGenderDecoderButton()) {
  <jhi-gender-bias-analysis-dialog
    [visible]="showAnalysisModal()"
    [result]="analysisResult()"
    (visibleChange)="showAnalysisModal.set($event)"
    (closeDialog)="closeAnalysisModal()"
  />
}
