.editor-footer {
  display: flex;
  justify-content: space-between;
  min-height: 2rem;

  .char-counter-normal {
  }
  .char-counter-warning {
    color: var(--p-warn-color);
  }
  .char-counter-danger {
    color: var(--p-danger-color);
  }
  .helper-text {
    font-size: 0.8rem;
  }
  .error-text {
    display: flex;
    flex-direction: column;
  }
}
.custom-quill-editor {
  height: 12.5rem;
  width: 100%;
}
