<div class="step">
  <jhi-button [icon]="icon()" severity="contrast" class="pointer-events-none" />
  <h3 class="title">{{ index() + 1 }}. <span [jhiTranslate]="title()"></span></h3>
  <p
    class="description"
    [jhiTranslate]="description()"
    [translateValues]="{
      startLink:
        '<a class=&quot;text-primary&quot; href=&quot;https://www.gs.tum.de/en/gs/path-to-a-doctorate/application/requirements/&quot; target=&quot;_blank&quot; rel=&quot;noopener noreferrer&quot;>',
      endLink: '</a>',
    }"
  ></p>
</div>
