.datepicker-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    font-weight: 500;
    color: var(--text-primary);

    .required {
      color: red;
      margin-left: 0.25rem;
    }
  }

  ::ng-deep .styled-datepicker {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 0.75rem;
    overflow: hidden;

    .p-inputtext {
      flex: 1;
      border: 1px solid var(--border-default);
      padding: 1rem;
      border-radius: 0.75rem 0 0 0.75rem;
      font-size: 1rem;
      color: var(--text-primary);

      &::placeholder {
        color: var(--text-primary);
      }
    }

    .p-datepicker-trigger {
      background-color: var(--primary-default);
      border: none;
      padding: 0 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0 0.75rem 0.75rem 0;

      .pi {
        color: var(--text-on-primary);
        font-size: 1.2rem;
      }
    }
  }
}

// .custom-datepicker {
//   display: flex;
//   flex-direction: column;
//   gap: 0.5rem;

//   input[type="date"] {
//     padding: 0.5rem;
//     border-radius: 4px;
//     border: 1px solid #ccc;
//     font-size: 1rem;
//   }
// }
