.custom-datepicker {
  .p-inputtext {
    border-color: var(--p-border-default);
  }

  .p-inputtext:enabled:focus {
    box-shadow: none;
    border: 0.1rem solid var(--p-primary-color);
  }

  .p-datepicker-dropdown {
    background-color: var(--p-primary-color);
    color: var(--p-text-on-primary);
    border: 0.1rem;
  }

  .p-inputtext::placeholder {
    color: var(--p-text-primary);
  }

  .p-datepicker-clear-button {
    color: var(--p-primary-color);
    background: none;
    border: 0.1rem solid var(--p-primary-color);

    &:hover {
      background-color: var(--p-primary-color);
      border: 0.1rem solid var(--p-primary-color);
      color: var(--p-text-on-primary);
    }
  }

  .p-ripple.p-datepicker-select-month,
  .p-ripple.p-datepicker-select-year,
  .p-datepicker-decade {
    color: var(--p-primary-color);
  }
}
