<div class="datepicker-container flex flex-col relative">
  <label class="custom-label mr-4" for="startDate">
    @if (label() !== undefined) {
      @if (shouldTranslate()) {
        <span jhiTranslate="{{ label() }}"></span>
      } @else {
        {{ label() }}
      }
    }
    @if (required()) {
      <span class="required">*</span>
    }
    @if (icon(); as icon) {
      @if (icon === 'circle-info' && tooltipText()) {
        <fa-icon class="icon" [icon]="['fas', icon]" [pTooltip]="displayTooltipText() ?? ''" tooltipPosition="top" />
      } @else {
        <fa-icon class="icon" [icon]="['fas', icon]" />
      }
    }
  </label>
  <p-datepicker
    (ngModelChange)="onDateChange($event)"
    (onHide)="isCalendarOpen.set(false)"
    (onShow)="isCalendarOpen.set(true)"
    [(ngModel)]="modelDate"
    [placeholder]="displayPlaceholder()"
    [disabled]="disabled()"
    [minDate]="effectiveMinDate()"
    [maxDate]="maxDate()"
    [defaultDate]="defaultDate()"
    [showButtonBar]="true"
    [style]="{ width: width() }"
    class="custom-datepicker flex-1"
    [dateFormat]="dateFormat()"
    iconDisplay="button"
    inputId="startDate"
    showIcon="true"
    [inputStyleClass]="'w-full'"
    [appendTo]="'body'"
  >
    <ng-template pTemplate="triggericon">
      <fa-icon [icon]="['fas', 'calendar']" class="text-text-on-primary" />
    </ng-template>
  </p-datepicker>
  @if (errorEnabled()) {
    <div class="error-text"></div>
  }
</div>
