.datepicker-container {
  display: flex;
  flex-direction: column;

  .custom-label {
    color: var(--p-text-color);
  }

  // Add styling for labels on the top of the field
  &.label-top .custom-label {
    margin-bottom: 0.25rem;
  }

  .custom-datepicker {
    flex: 1;

    .p-inputtext {
      border: 0.1rem solid var(--p-border-default);
      background: transparent;

      &:disabled {
        background-color: var(--p-background-disabled);
        color: var(--p-text-disabled);
      }
    }

    .p-inputtext:enabled:focus {
      box-shadow: none;
      border: 0.1rem solid var(--p-primary-color);
    }

    .p-datepicker-dropdown {
      background-color: var(--p-primary-color);
      color: var(--p-background-default);
      border: 0.1rem;

      &:disabled {
        background-color: var(--p-text-disabled);
      }
    }

    .p-inputtext::placeholder {
      color: var(--p-text-primary);
    }

    .p-inputtext:disabled::placeholder {
      color: var(--p-text-disabled);
    }

    .p-datepicker-clear-button {
      color: var(--p-primary-color);
      background: none;
      border: 0.1rem solid var(--p-primary-color);

      &:hover {
        background-color: var(--p-primary-color);
        border: 0.1rem solid var(--p-primary-color);
        color: var(--p-text-on-primary);
      }
    }

    .p-ripple.p-datepicker-select-month,
    .p-ripple.p-datepicker-select-year,
    .p-datepicker-decade {
      color: var(--p-primary-color);
    }
  }
}

.custom-label {
  margin-right: 1rem;
}
