<div class="relative flex flex-col">
  <label class="mb-1 mr-4">
    @if (label() !== undefined) {
      @if (shouldTranslate()) {
        <span jhiTranslate="{{ label() }}"></span>
      } @else {
        {{ label() }}
      }
    }
    @if (required()) {
      <span class="required">*</span>
    }
    @if (icon(); as icon) {
      @if (icon === 'circle-info' && tooltipText()) {
        @if (shouldTranslate()) {
          <fa-icon class="text-primary-default" [icon]="['fas', icon]" [pTooltip]="tooltipText() ?? '' | translate" tooltipPosition="top" />
        } @else {
          <fa-icon class="text-primary-default" [icon]="['fas', icon]" [pTooltip]="tooltipText() ?? ''" tooltipPosition="top" />
        }
      } @else {
        <fa-icon [icon]="['fas', icon]" />
      }
    }
  </label>
  <p-datepicker
    (ngModelChange)="onDateChange($event)"
    (onHide)="isCalendarOpen.set(false)"
    (onShow)="isCalendarOpen.set(true)"
    [(ngModel)]="modelDate"
    [placeholder]="shouldTranslate() && placeholder() ? (placeholder() ?? '' | translate) : placeholder()"
    [disabled]="disabled()"
    [minDate]="effectiveMinDate()"
    [maxDate]="maxDate()"
    [defaultDate]="defaultDate()"
    [showButtonBar]="true"
    [style]="{ width: width() }"
    class="{{ datepickerClass }}"
    [dateFormat]="dateFormat()"
    iconDisplay="button"
    [inputId]="resolvedInputId()"
    showIcon="true"
    [inputStyleClass]="inputStyleClass"
  >
    <ng-template pTemplate="date" let-date>
      <span
        class="inline-flex size-full items-center justify-center"
        [class.datepicker-reference-day]="isHighlightedDate(date)"
        [pTooltip]="
          isHighlightedDate(date) && highlightedDateLabel()
            ? shouldTranslate()
              ? (highlightedDateLabel() ?? '' | translate)
              : (highlightedDateLabel() ?? '')
            : undefined
        "
        tooltipPosition="top"
        [tooltipDisabled]="!isHighlightedDate(date) || !highlightedDateLabel()"
      >
        {{ date.day }}
      </span>
    </ng-template>
    <ng-template pTemplate="triggericon">
      <fa-icon [icon]="['fas', 'calendar']" />
    </ng-template>
  </p-datepicker>
  @if (errorEnabled()) {
    <div class="error-text"></div>
  }
</div>
