.jobs-preview-wrap {
  position: relative;
  background-color: var(--p-background-default);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .job-preview-card {
    display: block;
  }
}
