<jhi-dialog
  header="interview.slots.cancelInterview.header"
  [visible]="visible()"
  (visibleChange)="onVisibleChange($event)"
  styleClass="w-[90vw] md:w-[25rem]"
>
  <div class="flex flex-col gap-4 mt-2">
    <p class="text-sm text-text-primary mb-1" jhiTranslate="interview.slots.cancelInterview.message">
      Are you sure you want to cancel this interview?
    </p>

    <div class="flex flex-col gap-3">
      <jhi-checkbox
        [model]="deleteSlot()"
        (modelChange)="deleteSlot.set($event)"
        label="interview.slots.cancelInterview.deleteSlot"
        inputId="deleteSlotCb"
        [shouldTranslate]="true"
        class="text-sm text-text-primary"
      />
      <jhi-checkbox
        [model]="sendReinvite()"
        (modelChange)="sendReinvite.set($event)"
        label="interview.slots.cancelInterview.sendReinvite"
        inputId="sendReinviteCb"
        [shouldTranslate]="true"
        class="text-sm text-text-primary"
      />
    </div>

    <div class="flex justify-end gap-3 mt-4">
      <jhi-button variant="outlined" label="interview.slots.create.cancel" [shouldTranslate]="true" (click)="close()" />
      <jhi-button severity="primary" label="interview.slots.cancelInterview.button" [shouldTranslate]="true" (click)="onConfirm()" />
    </div>
  </div>
</jhi-dialog>
