.information-section {
  display: flex;
  padding: 3rem 6.25rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;

  .tiles-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    gap: 2rem;
    justify-content: center;
  }

  .title {
    color: var(--p-text-primary);
    font-size: 2.25rem;
    font-weight: 700;
    text-align: start;
  }
}
