/* app.component.scss */

.confirm-dialog {
  display: none;
}

// Base styles
body {
  background-color: var(--p-background-surface);

  line-height: 1.6;
}

// Stepper
.stepper {
  display: flex;
  align-items: center;
  margin: 1.875rem 0;

  .step {
    display: flex;
    align-items: center;

    .step-number {
      width: 1.875rem;
      height: 1.875rem;
      border-radius: var(--border-radius-full);
      background-color: var(--p-background-disabled);
      color: var(--p-text-disabled);
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      margin-right: 0.625rem;
    }

    .step-label {
      font-size: 1rem;
      color: var(--p-text-disabled);
    }

    &.active,
    &.completed {
      .step-number {
        background-color: var(--p-primary-color);
        color: var(--p-text-on-primary);
      }

      .step-label {
        font-weight: bold;
      }
    }

    &.completed {
      .step-number {
        background-color: var(--p-primary-color);
      }
    }
  }

  .step-connector {
    flex: 1;
    height: 0.125rem;
    background-color: var(--p-text-disabled);
    margin: 0 0.625rem;
  }
}

// Form styles
.form-step {
  h2 {
    font-size: 1.25rem;
    margin-bottom: 0.625rem;
  }

  p {
    color: var(--p-text-disabled);
    font-size: 1rem;
    margin-bottom: 1.25rem;
  }
}

.input-with-icon {
  position: relative;

  .icon-input-wrapper {
    margin-top: 0.25rem;
    display: flex;
    align-items: center;

    input {
      padding-left: 2.25rem;
    }

    .ng-fa-icon.input-icon {
      position: absolute;
      left: 0.75rem;
      color: var(--p-text-disabled);
    }
  }
}

.data-privacy-notice {
  margin-top: 1.25rem;
  padding: 0.9375rem;
  border-radius: var(--border-radius-sm);
  font-size: 1rem;

  p {
    margin: 0;
    color: var(--p-text-disabled);
  }
}

// Form actions
.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding-top: 1rem;
}

input:disabled {
  color: var(--p-text-disabled);
  background-color: var(--p-background-disabled);
}

.saved_color {
  color: var(--p-success-color);
  .ng-fa-icon {
    color: inherit;
  }
}

.saving_color {
  color: var(--p-warn-color);
  .ng-fa-icon {
    color: inherit;
  }
}

.failed_color {
  color: var(--p-danger-color);
  .ng-fa-icon {
    color: inherit;
  }
}

// Info banner using primary color
.info-banner {
  background-color: var(--p-primary-50, #eff6ff);
  color: var(--p-primary-800, #1e40af);
}

.upload-area {
  &:hover {
    border-color: var(--p-primary-color);
    background-color: var(--p-primary-50, #eff6ff);
  }

  .upload-arrow {
    color: var(--p-primary-color);
  }
}
