@if (!isLoading()) {
  <div class="doctorate-form-container">
    <header>
      <h1 jhiTranslate="{{ pageTitle() }}"></h1>
    </header>

    <div class="m-4 p-1">
      <jhi-progress-stepper [steps]="stepData()" [shouldTranslate]="true" />
    </div>
  </div>

  <!-- Step 1: Basic Information -->
  <ng-template #panel1>
    <form [formGroup]="basicInfoForm">
      <h2 jhiTranslate="jobCreationForm.header.steps.basicInfo"></h2>
      <p jhiTranslate="jobCreationForm.basicInformationSection.description"></p>
      <br />
      <div class="form-field">
        <jhi-string-input
          [label]="'jobCreationForm.basicInformationSection.jobTitle.label' | translate"
          [placeholder]="'jobCreationForm.basicInformationSection.jobTitle.placeholder' | translate"
          [required]="true"
          [model]="basicInfoForm.get('title')?.value"
          [control]="basicInfoForm.get('title') ?? undefined"
        />
      </div>

      <div class="form-row">
        <div class="form-field">
          <jhi-string-input
            [label]="'jobCreationForm.basicInformationSection.researchArea.label' | translate"
            [placeholder]="'jobCreationForm.basicInformationSection.researchArea.placeholder' | translate"
            [required]="true"
            icon="circle-info"
            [model]="basicInfoForm.get('researchArea')?.value"
            [control]="basicInfoForm.get('researchArea') ?? undefined"
            [tooltipText]="'jobCreationForm.basicInformationSection.researchArea.toolTipText' | translate"
          />
        </div>

        <div class="form-field">
          <jhi-dropdown
            [selected]="basicInfoForm.get('fieldOfStudies')?.value"
            (selectedChange)="basicInfoForm.get('fieldOfStudies')?.setValue($event)"
            [items]="DropdownOptions.fieldsOfStudies"
            [label]="'jobCreationForm.basicInformationSection.fieldOfStudies.label' | translate"
            [placeholder]="'jobCreationForm.basicInformationSection.fieldOfStudies.placeholder' | translate"
            [required]="true"
            [width]="'100%'"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-field input-with-icon">
          <label for="supervisingProfessor" jhiTranslate="jobCreationForm.basicInformationSection.supervisingProfessor.label">
            <span class="required">*</span>
          </label>
          <div class="icon-input-wrapper">
            <fa-icon [icon]="['fas', 'user']" class="input-icon" />
            <input [disabled]="true" [value]="basicInfoForm.get('supervisingProfessor')?.value" id="supervisingProfessor" type="text" />
          </div>
        </div>

        <div class="form-field">
          <jhi-dropdown
            [selected]="basicInfoForm.get('location')?.value"
            (selectedChange)="basicInfoForm.get('location')?.setValue($event)"
            [items]="DropdownOptions.locations"
            [label]="'jobCreationForm.basicInformationSection.location.label' | translate"
            [placeholder]="'jobCreationForm.basicInformationSection.location.placeholder' | translate"
            [required]="true"
            [width]="'100%'"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-field">
          <jhi-datepicker
            [selectedDate]="basicInfoForm.get('startDate')?.value"
            (selectedDateChange)="basicInfoForm.get('startDate')?.setValue($event)"
            [label]="'jobCreationForm.basicInformationSection.startDate.label' | translate"
            [placeholder]="'jobCreationForm.basicInformationSection.startDate.placeholder' | translate"
            [width]="'100%'"
          />
        </div>
        <div class="form-field">
          <jhi-dropdown
            [selected]="basicInfoForm.get('workload')?.value"
            (selectedChange)="basicInfoForm.get('workload')?.setValue($event)"
            [items]="DropdownOptions.workloadOptions"
            [label]="'jobCreationForm.basicInformationSection.workload.label' | translate"
            [placeholder]="'jobCreationForm.basicInformationSection.workload.placeholder' | translate"
            [width]="'100%'"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-field">
          <jhi-dropdown
            [selected]="basicInfoForm.get('contractDuration')?.value"
            (selectedChange)="basicInfoForm.get('contractDuration')?.setValue($event)"
            [items]="DropdownOptions.contractDurations"
            [label]="'jobCreationForm.basicInformationSection.contractDuration.label' | translate"
            [placeholder]="'jobCreationForm.basicInformationSection.contractDuration.placeholder' | translate"
            [width]="'100%'"
          />
        </div>
        <div class="form-field">
          <jhi-dropdown
            [selected]="basicInfoForm.get('fundingType')?.value"
            (selectedChange)="basicInfoForm.get('fundingType')?.setValue($event)"
            [items]="DropdownOptions.fundingTypes"
            [label]="'jobCreationForm.basicInformationSection.fundingType.label' | translate"
            [placeholder]="'jobCreationForm.basicInformationSection.fundingType.placeholder' | translate"
            [required]="true"
            [width]="'100%'"
          />
        </div>
      </div>
    </form>
  </ng-template>

  <!-- Step 2: Position Details -->
  <ng-template #panel2>
    <form [formGroup]="positionDetailsForm">
      <h2 jhiTranslate="jobCreationForm.header.steps.positionDetails"></h2>
      <p jhiTranslate="jobCreationForm.positionDetailsSection.description"></p>
      <br />
      <div class="form-field">
        <label for="description" jhiTranslate="jobCreationForm.positionDetailsSection.jobDescription.label"></label>
        <span class="required">*</span>
        <fa-icon
          [icon]="['fas', 'circle-info']"
          [pTooltip]="'jobCreationForm.positionDetailsSection.jobDescription.toolTipText' | translate"
          tooltipPosition="top"
        />
        <div class="input-with-icon">
          <textarea
            formControlName="description"
            maxlength="1000"
            id="description"
            [placeholder]="'jobCreationForm.positionDetailsSection.jobDescription.placeholder' | translate"
            rows="10"
          ></textarea>
        </div>
        <div class="form-footer">
          <small class="description-helper" jhiTranslate="jobCreationForm.positionDetailsSection.jobDescription.descriptionHelper"></small>
          <small class="char-counter">{{ descriptionLength() }}/1000</small>
        </div>
      </div>

      <div class="form-field">
        <label for="tasks" jhiTranslate="jobCreationForm.positionDetailsSection.tasks.label"></label>
        <span class="required">*</span>
        <fa-icon
          [icon]="['fas', 'circle-info']"
          [pTooltip]="'jobCreationForm.positionDetailsSection.tasks.toolTipText' | translate"
          tooltipPosition="top"
        />
        <div class="input-with-icon">
          <textarea
            formControlName="tasks"
            maxlength="1000"
            id="tasks"
            [placeholder]="'jobCreationForm.positionDetailsSection.tasks.placeholder' | translate"
            rows="8"
          ></textarea>
        </div>
        <div class="form-footer">
          <small class="description-helper" jhiTranslate="jobCreationForm.positionDetailsSection.tasks.descriptionHelper"></small>
          <small class="char-counter">{{ tasksLength() }}/1000</small>
        </div>
      </div>

      <div class="form-field">
        <label for="requirements" jhiTranslate="jobCreationForm.positionDetailsSection.requirements.label"></label>
        <span class="required">*</span>
        <fa-icon
          [icon]="['fas', 'circle-info']"
          [pTooltip]="'jobCreationForm.positionDetailsSection.requirements.toolTipText' | translate"
          tooltipPosition="top"
        />
        <div class="input-with-icon">
          <textarea
            formControlName="requirements"
            maxlength="1000"
            id="requirements"
            [placeholder]="'jobCreationForm.positionDetailsSection.requirements.placeholder' | translate"
            rows="10"
          ></textarea>
        </div>
        <div class="form-footer">
          <small class="description-helper" jhiTranslate="jobCreationForm.positionDetailsSection.tasks.descriptionHelper"></small>
          <small class="char-counter">{{ requirementsLength() }}/1000</small>
        </div>
      </div>
    </form>
  </ng-template>

  <!-- Step 3: Additional Information -->
  <ng-template #panel3>
    <section class="extras-section">
      <h2 jhiTranslate="jobCreationForm.additionalInformationSection.extras.title"></h2>
      <p jhiTranslate="jobCreationForm.additionalInformationSection.extras.description"></p>
      <br />
      <div class="data-privacy-notice">
        <p [innerHTML]="'jobCreationForm.additionalInformationSection.dataPrivacyText' | translate"></p>
      </div>
    </section>
  </ng-template>

  <!-- Saving State Panel -->
  <ng-template #savingStatePanel>
    <div [className]="savingBadgeCalculatedClass()">
      <fa-icon [icon]="['fas', 'save']" />
      <span class="font-bold ml-2">
        {{ 'entity.applicationSteps.status.' + savingState() | translate }}
      </span>
    </div>
  </ng-template>
}
