<div class="playground m-4">
  <div class="row">
    <jhi-button [color]="'primary'" [variant]="'filled'" [label]="'Submit'" [icon]="'sync'" />
    <jhi-button [color]="'secondary'" [variant]="'filled'" [label]="'Submit'" [icon]="'home'" />
    <jhi-button [color]="'success'" [variant]="'filled'" [label]="'Submit'" />
    <jhi-button [color]="'warn'" [variant]="'filled'" [label]="'Submit'" />
    <jhi-button [color]="'danger'" [variant]="'filled'" [label]="'Submit'" />
    <jhi-button [color]="'info'" [variant]="'filled'" [label]="'Submit'" />
    <jhi-button [color]="'primary'" [variant]="'filled'" [label]="'Disabled'" [disabled]="true" />
  </div>
  <div class="row">
    <jhi-button [color]="'primary'" [variant]="'outlined'" [label]="'Submit'" />
    <jhi-button [color]="'secondary'" [variant]="'outlined'" [label]="'Submit'" />
    <jhi-button [color]="'success'" [variant]="'outlined'" [label]="'Submit'" [icon]="'sync'" />
    <jhi-button [color]="'warn'" [variant]="'outlined'" [label]="'Submit'" [icon]="'home'" />
    <jhi-button [color]="'danger'" [variant]="'outlined'" [label]="'Submit'" />
    <jhi-button [color]="'info'" [variant]="'outlined'" [label]="'Submit'" />
    <jhi-button [color]="'primary'" [variant]="'outlined'" [label]="'Disabled'" [disabled]="true" />
  </div>
  <div class="row">
    <jhi-button [color]="'primary'" [variant]="'text'" [label]="'Submit'" />
    <jhi-button [color]="'secondary'" [variant]="'text'" [label]="'Submit'" />
    <jhi-button [color]="'success'" [variant]="'text'" [label]="'Submit'" />
    <jhi-button [color]="'warn'" [variant]="'text'" [label]="'Submit'" />
    <jhi-button [color]="'danger'" [variant]="'text'" [label]="'Submit'" [icon]="'sync'" />
    <jhi-button [color]="'info'" [variant]="'text'" [label]="'Submit'" [icon]="'home'" />
    <jhi-button [color]="'primary'" [variant]="'text'" [label]="'Disabled'" [disabled]="true" />
  </div>
  <div class="row">
    <jhi-button [color]="'primary'" [variant]="'filled'" [icon]="'home'" />
    <jhi-button [color]="'secondary'" [variant]="'filled'" [icon]="'home'" />
    <jhi-button [color]="'success'" [variant]="'filled'" [icon]="'home'" />
    <jhi-button [color]="'warn'" [variant]="'filled'" [icon]="'home'" />
    <jhi-button [color]="'danger'" [variant]="'filled'" [icon]="'home'" />
    <jhi-button [color]="'info'" [variant]="'filled'" [icon]="'home'" />
    <jhi-button [color]="'primary'" [variant]="'filled'" [icon]="'home'" [disabled]="true" />
  </div>
  <div class="row">
    <jhi-button [color]="'primary'" [variant]="'outlined'" [icon]="'home'" />
    <jhi-button [color]="'secondary'" [variant]="'outlined'" [icon]="'home'" />
    <jhi-button [color]="'success'" [variant]="'outlined'" [icon]="'home'" />
    <jhi-button [color]="'warn'" [variant]="'outlined'" [icon]="'home'" />
    <jhi-button [color]="'danger'" [variant]="'outlined'" [icon]="'home'" />
    <jhi-button [color]="'info'" [variant]="'outlined'" [icon]="'home'" />
    <jhi-button [color]="'primary'" [variant]="'outlined'" [icon]="'home'" [disabled]="true" />
  </div>
  <div class="row">
    <jhi-button [color]="'primary'" [variant]="'text'" [icon]="'home'" />
    <jhi-button [color]="'secondary'" [variant]="'text'" [icon]="'home'" />
    <jhi-button [color]="'success'" [variant]="'text'" [icon]="'home'" />
    <jhi-button [color]="'warn'" [variant]="'text'" [icon]="'home'" />
    <jhi-button [color]="'danger'" [variant]="'text'" [icon]="'home'" />
    <jhi-button [color]="'info'" [variant]="'text'" [icon]="'home'" />
    <jhi-button [color]="'primary'" [variant]="'text'" [icon]="'home'" [disabled]="true" />
  </div>
  <div class="row">
    <jhi-button [color]="'primary'" [variant]="'text'" [icon]="'home'" [numberOfFavorites]="2" />
    <jhi-button [color]="'secondary'" [variant]="'text'" [icon]="'home'" [numberOfFavorites]="22" />
    <jhi-button [color]="'success'" [variant]="'text'" [icon]="'home'" [numberOfFavorites]="3" />
    <jhi-button [color]="'warn'" [variant]="'text'" [icon]="'home'" [numberOfFavorites]="33" />
    <jhi-button [color]="'danger'" [variant]="'text'" [icon]="'home'" [numberOfFavorites]="4" />
    <jhi-button [color]="'info'" [variant]="'text'" [icon]="'home'" [numberOfFavorites]="214" />
    <jhi-button [color]="'primary'" [variant]="'text'" [icon]="'home'" [numberOfFavorites]="214" [disabled]="true" />
  </div>

  <div>
    <h2>Button Groups</h2>
  </div>
  <div>
    <jhi-button-group [data]="buttonGroupVertical" />
  </div>
  <div class="mt-4">
    <jhi-button-group [data]="buttonGroupHorizontal" />
  </div>
</div>
