.playground {
  display: flex;
  flex-direction: column;
}

.row {
  flex-direction: row;
  display: flex;
  margin-bottom: 8px;
}

jhi-button {
  display: inline-block;
  width: min-content;
  margin-right: 8px;
  margin-bottom: 8px;
}
