<div class="flex flex-col gap-5">
  <p class="text-sm" jhiTranslate="evaluation.details.ratingDescription"></p>

  <jhi-sub-section class="w-full flex gap-8" titleKey="evaluation.details.ratingYourRating">
    <jhi-rating [(rating)]="myRating" [selectable]="true" />
  </jhi-sub-section>

  @if (otherRatings().length > 0) {
    <jhi-sub-section class="flex gap-8" titleKey="evaluation.details.ratingOtherRatings">
      @for (otherRating of otherRatings(); track otherRating.from) {
        <div class="flex flex-col gap-2">
          <p class="text-sm">{{ otherRating.from }}</p>
          <jhi-rating [rating]="otherRating.rating" />
        </div>
      }
    </jhi-sub-section>
  }
</div>
