<p-dialog
  [modal]="true"
  [(visible)]="visible"
  [styleClass]="'review-dialog ' + (mode() === 'REJECT' ? 'mode-reject' : 'mode-accept')"
  [contentStyleClass]="mode() === 'REJECT' ? 'no-overflow' : undefined"
>
  <ng-template #header class="custom-header">
    <div class="info">
      <span class="applicant-name">{{ application()?.applicationDetailDTO?.applicant?.user?.name ?? '' }}</span>
      <div class="job-name">
        <fa-icon class="icon" [icon]="['fas', 'briefcase']" />
        <span>{{ application()?.applicationDetailDTO?.jobTitle ?? '' }}</span>
      </div>
    </div>
  </ng-template>

  <ng-container [ngTemplateOutlet]="mode() === 'ACCEPT' ? acceptTemplate : rejectTemplate" />
</p-dialog>

<ng-template #acceptTemplate>
  <div>
    <jhi-editor [model]="editorModel()" (modelChange)="editorModel.set($event)" />
    <ul class="review-checkboxes">
      <!-- Will be added together with notifications
      <li>
        <p-checkbox [(ngModel)]="notifyApplicant" [binary]="true" />
        <label>Notify the applicant</label>
      </li>
      -->
      <li>
        <p-checkbox [(ngModel)]="closeJob" [binary]="true" />
        <label>Close job and reject all open applications</label>
      </li>
    </ul>
  </div>
  <p-footer class="footer">
    <jhi-button [label]="'evaluation.accept' | translate" severity="success" [disabled]="!canAccept()" (click)="onAccept()" />
  </p-footer>
</ng-template>

<ng-template #rejectTemplate>
  <jhi-dropdown
    [items]="rejectReasons"
    label="Reason"
    [required]="true"
    [selected]="selectedRejectReason()"
    placeholder="Select a reason..."
    (selectedChange)="onSelectChange($event)"
  />
  <ul class="review-checkboxes">
    <!-- Will be added together with notifications
    <li>
      <p-checkbox [(ngModel)]="notifyApplicant" [binary]="true" />
      <label>Notify the applicant</label>
    </li>
    -->
  </ul>
  <p-footer class="footer">
    <jhi-button [label]="'evaluation.reject' | translate" severity="danger" [disabled]="!canReject()" (click)="reject.emit()" />
  </p-footer>
</ng-template>
