<div class="form-row">
  <jhi-string-input-temporary label="First Name" id="firstName" [required]="true" [(value)]="data().firstName" />
  <jhi-string-input-temporary label="Last Name" id="lastName" [required]="true" [(value)]="data().lastName" />
</div>
<jhi-divider label="User Information" />
<div class="form-row">
  <jhi-string-input-temporary label="Email" icon="envelope" [disabled]="true" id="email" [required]="true" [(value)]="data().email" />
  <jhi-string-input-temporary label="Phone Number" id="phoneNumber" [required]="true" [(value)]="data().phoneNumber" />
</div>
<div class="form-row">
  <div class="w-1/2 pr-4">
    <jhi-dropdown width="100%" label="Gender" [items]="dropdownGenderLocal" id="gender" [(selected)]="data().gender" />
  </div>
  <div class="w-1/2 pr-4">
    <jhi-dropdown width="100%" label="Nationality" [items]="dropdownNationalityLocal" id="nationality" [(selected)]="data().nationality" />
  </div>
</div>
<div class="form-row">
  <div class="w-1/2 pr-4">
    <jhi-dropdown width="100%" label="Language" [items]="dropdownLanguageLocal" id="language" [(selected)]="data().language" />
  </div>
  <div class="w-1/2 pr-4">
    <label>Date of Birth</label>
    <jhi-datepicker label="" width="100%" />
  </div>
</div>
<div class="form-row">
  <div class="w-1/2 pr-4">
    <jhi-string-input-temporary label="Website" id="website" [(value)]="data().website" />
  </div>
  <div class="w-1/2 pr-4">
    <jhi-string-input-temporary label="LinkedIn" id="linkedIn" [(value)]="data().linkedIn" />
  </div>
</div>
<jhi-divider label="Address" />
<div class="form-row">
  <div class="w-3/4 pr-4">
    <jhi-string-input-temporary label="Street" id="street" [required]="true" [(value)]="data().street" />
  </div>
  <div class="w-1/4 pr-4">
    <jhi-string-input-temporary label="Streetnumber" id="streetnumber" [required]="true" [(value)]="data().streetnumber" />
  </div>
</div>
<div class="form-row">
  <jhi-string-input-temporary label="City" id="city" [required]="true" [(value)]="data().city" />
</div>
<div class="form-row">
  <div class="w-1/2 pr-4">
    <jhi-string-input-temporary label="Country" id="country" [required]="true" [(value)]="data().country" />
  </div>
  <div class="w-1/2 pr-4">
    <jhi-string-input-temporary label="Postcode" id="postcode" [required]="true" [(value)]="data().postcode" />
  </div>
</div>
