.select-wrapper {
  display: flex;
  flex-direction: column;

  .custom-label {
    color: var(--p-text-color);
  }

  // Add styling for labels on the top of the select component
  &.label-top .custom-label {
    margin-bottom: 0.25rem;
  }

  // Add styling for border and corners of select fields
  .custom-select {
    border: 0.1rem solid var(--p-border-default);
    border-radius: 0.5rem;

    // Add styling for disabled select fields
    &.p-disabled {
      background-color: var(--p-background-disabled);

      // Add styling for text inside disabled select fields
      .ng-fa-icon,
      .p-select-label.ng-star-inserted {
        color: var(--p-text-disabled) !important;
      }
    }

    // Override primeng styling of placeholder text color in select field
    .p-select-label.ng-star-inserted.p-placeholder {
      color: var(--p-text-primary);
    }

    // Override primeng unnecessary padding on top and bottom of select list
    .p-select-list {
      padding: 0;
    }

    .p-select-list-container {
      border-radius: 0.3rem;
    }

    // Override primeng styling of unselected items in select component
    .p-select-items,
    .p-select-option:not(.p-select-option-selected):not(.p-disabled).p-focus {
      background: var(--p-background-surface);

      // Override primeng styling of hover on select items
      &:hover {
        background-color: var(--p-primary-color);
        color: var(--p-text-on-primary);
      }
    }
  }

  // Override primeng styling of wrong color on select icon
  .ng-fa-icon {
    color: var(--p-text-primary);
  }

  .p-select {
    background: transparent;
  }

  // Override primeng styling of selected item in select menu
  .p-select-option.p-select-option-selected {
    background: var(--p-background-surface-alt);
    color: var(--p-text-primary);

    &:hover {
      background-color: var(--p-primary-color);
      color: var(--p-text-on-primary);
    }
  }

  // Override primeng styling of border color when clicking on select field
  .p-select:not(.p-disabled).p-focus {
    box-shadow: none;
    border: 0.1rem solid var(--p-primary-color);
  }

  // Override PrimeNG positioning and size of the clear ("X") icon
  .p-select-clear-icon {
    width: 1.25rem;
    height: 1.25rem;
    font-size: 0.75rem;
    right: 2rem;
    top: 1.25rem;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: var(--p-background-surface);
    }
  }

  .p-select-clear-icon svg path {
    fill: var(--p-text-secondary);
  }
}
