<div
  [ngClass]="{
    disabled: disabled(),
  }"
  class="label-top select-wrapper"
>
  @if (label()) {
    <label class="custom-label"
      >{{ label() }}
      @if (required()) {
        <span class="required">*</span>
      }
      @if (icon()) {
        @if (icon() === 'circle-info' && tooltipText()) {
          <fa-icon class="icon" [icon]="['fas', icon() ?? '']" [pTooltip]="tooltipText()" tooltipPosition="top" />
        } @else {
          <fa-icon class="icon" [icon]="['fas', icon() ?? '']" />
        }
      }
    </label>
  }
  <p-select
    (ngModelChange)="onSelectionChange($event)"
    (onHide)="isOpen = false"
    (onShow)="isOpen = true"
    [disabled]="disabled()"
    [ngModel]="selected()"
    [optionLabel]="labelField()"
    [options]="items()"
    [placeholder]="placeholder()"
    [style]="{ width: width() }"
    class="custom-select"
  >
    <!-- Render each select item -->
    <ng-template pTemplate="item" let-item>
      @if (!translateItems()) {
        {{ item[labelField()] }}
      } @else {
        <span jhiTranslate="{{ item[labelField()] }}"></span>
      }
    </ng-template>

    <!-- Render each selected select item -->
    <ng-template pTemplate="selectedItem" let-item>
      @if (!translateItems()) {
        {{ item[labelField()] }}
      } @else {
        <span jhiTranslate="{{ item[labelField()] }}"></span>
      }
    </ng-template>

    <ng-template pTemplate="dropdownicon">
      <fa-icon [icon]="isOpen ? ['fas', 'chevron-up'] : ['fas', 'chevron-down']" />
    </ng-template>
  </p-select>
</div>
