<div class="flex flex-col items-center justify-center gap-3 max-w-[40rem] w-full">
  <p id="manageMembersDesc" class="text-text-secondary max-w-[32rem] text-center">
    {{ 'researchGroup.members.manageSubtitle' | translate }}
  </p>

  <!-- Button row centered under the subtitle -->
  <div class="flex gap-4 items-center justify-center w-full mt-3 flex-col sm:flex-row">
    <jhi-button
      [label]="'researchGroup.members.removeMembersButton' | translate"
      severity="secondary"
      variant="outlined"
      (click)="openRemoveMembersDialog()"
      [disabled]="!hasMembers() || loading()"
    />

    <jhi-button
      [label]="'researchGroup.members.addMembersButton' | translate"
      severity="primary"
      (click)="openAddMembersDialog()"
      [disabled]="!canAddMembers() || loading()"
    />
  </div>
</div>
