<div class="flex flex-col gap-4 items-center">
  <div class="flex flex-col gap-2 text-center">
    <span class="text-center whitespace-pre-line" jhiTranslate="auth.common.otp.instructions"></span>
    <span [translateValues]="{ minutes: ttlMinutes }" jhiTranslate="auth.common.otp.minutes"></span>
  </div>
  <p-inputotp
    (keydown)="onKeyDown($event)"
    (onChange)="onChange($any($event))"
    [autofocus]="true"
    [formControl]="formControl()"
    [length]="length"
    [size]="$any(otpSize())"
    inputmode="latin"
  />
  <div class="text-negative-default">
    @if (showError()) {
      <span jhiTranslate="auth.common.otp.error"></span>
    }
  </div>
  <div class="flex justify-between w-full gap-8">
    <jhi-button
      (click)="onResend()"
      [disabled]="disableResend()"
      [fullWidth]="true"
      [label]="resendLabelKey()"
      [shouldTranslate]="true"
      [translationParams]="resendLabelParams()"
      variant="text"
    />
    <jhi-button
      (click)="onSubmit()"
      [disabled]="disabledSubmit()"
      [fullWidth]="true"
      [loading]="isBusy()"
      [shouldTranslate]="true"
      label="auth.common.otp.submit"
    />
  </div>
</div>
