<div class="faq-container">
  <h2 class="title" jhiTranslate="landingPage.faq.headline"></h2>
  <p class="subtitle" jhiTranslate="landingPage.faq.subheadline"></p>
  <p-accordion [value]="0">
    @for (tab of tabs; track tab.value) {
      <p-accordion-panel [value]="tab.value">
        <p-accordion-header>{{ tab.title | translate }}</p-accordion-header>
        <p-accordion-content>
          {{ tab.content | translate }}
        </p-accordion-content>
      </p-accordion-panel>
    }
  </p-accordion>
</div>
