.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 29rem;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;

  h1 {
    overflow: hidden;
    color: var(--p-text-on-primary);
    text-align: center;
    text-overflow: ellipsis;
    font-size: 3rem;
    font-weight: 700;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  p {
    color: var(--p-text-on-primary);
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.hero-background-landing-page-hero-section-1 {
  background-image: url('/content/images/landing-page/hero-section/landing-page-hero-section-1.png');
}

.hero-background-landing-page-hero-section-2 {
  background-image: url('/content/images/landing-page/hero-section/landing-page-hero-section-2.png');
}

.hero-background-landing-page-hero-section-3 {
  background-image: url('/content/images/landing-page/hero-section/landing-page-hero-section-3.png');
}
