@use '../../../../../content/scss/breakpoints' as bp;

.hero-wrap {
  position: relative;
}

.hero-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--p-base-black);
  opacity: 0.35;
  z-index: 1;
}

.hero-background-landing-page-hero-section-2.hero-container::after,
.hero-background-landing-page-hero-section-3.hero-container::after {
  opacity: 0.4;
}

.hero-content {
  position: relative;
  z-index: 2;

  .title {
    color: var(--p-text-on-primary);
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
  }

  .subtitle {
    color: var(--p-text-on-primary);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.hero-background-landing-page-hero-section-1 {
  background-image: url('/content/images/landing-page/hero-section/landing-page-hero-section-1.webp');
}

.hero-background-landing-page-hero-section-2 {
  background-image: url('/content/images/landing-page/hero-section/landing-page-hero-section-2.webp');
  background-position: 50% 30%;
}

.hero-background-landing-page-hero-section-3 {
  background-image: url('/content/images/landing-page/hero-section/landing-page-hero-section-3.webp');
  background-position: 50% 60%;
}
@media (max-width: bp.$lg) {
  .hero-container {
    background-position: center center;
  }

  .hero-content {
    .title {
      font-size: 2.5rem;
      -webkit-line-clamp: 2;
    }

    .subtitle {
      font-size: 1.25rem;
    }
  }
}

@media (max-width: bp.$md) {
  .hero-container {
    background-position: center center;
  }

  .hero-content {
    .title {
      font-size: 2rem;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
    }

    .subtitle {
      font-size: 1.125rem;
      text-align: center;
    }
  }
}
