<div class="relative">
  <p-carousel
    styleClass="hero-carousel"
    [autoplayInterval]="8000"
    [circular]="true"
    [numVisible]="1"
    [showNavigators]="false"
    [value]="imagesWithBackgroundClass"
  >
    <ng-template #item let-image>
      <div [class]="image.backgroundClass" class="relative flex items-center justify-center h-116">
        <div class="absolute inset-0 bg-base-black z-[1] pointer-events-none" [class]="image.overlayOpacityClass"></div>
      </div>
    </ng-template>
  </p-carousel>

  <div class="hero-overlay flex flex-col items-center justify-center py-12">
    <div class="flex flex-col relative z-[2] items-center gap-10 w-full max-w-300 px-4 md:gap-8 lg:gap-10">
      <h1
        class="text-text-on-primary text-center text-[2rem] font-bold md:text-[2.5rem] lg:text-5xl"
        jhiTranslate="landingPage.hero.headline"
      ></h1>
      <p class="text-text-on-primary text-center text-lg font-semibold md:text-xl lg:text-2xl" jhiTranslate="landingPage.hero.subline"></p>
      <div class="pointer-events-auto">
        <jhi-button (click)="navigateToPositionsOverview()" label="professorLandingPage.hero.button" severity="primary" />
      </div>
    </div>
  </div>
</div>
