@use '../../../../../content/scss/breakpoints' as bp;

.filter-multiselect {
  position: relative;
  display: inline-block;
  width: 100%;

  .p-divider {
    &.p-divider-horizontal {
      margin: 0.1rem 0;
      background: var(--p-background-default);

      .p-divider-content {
        background: var(--p-background-default);
        width: 100%;
      }
    }

    .divider-text {
      font-size: 0.75rem;
      color: var(--p-text-primary);

      &.clear-button {
        cursor: pointer;
        color: var(--p-primary-color);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .divider-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.25rem;
    width: 100%;
  }

  .p-checkbox {
    .p-checkbox-box {
      background: transparent;
    }

    &.p-checkbox-checked {
      .p-checkbox-box {
        background: var(--p-primary-color);
        border-color: #fff;
        border-radius: 0.25rem;
      }

      .p-checkbox-icon {
        color: #fff;
      }
    }
  }

  .filter-button {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    border: var(--p-border-default) solid 0.1rem;
    background: var(--p-background-default);
    border-radius: var(--border-radius-md);
    cursor: pointer;
    transition: all 0.2s ease;
    color: var(--p-text-secondary);
    font-size: var(--p-select-sm-font-size);

    span {
      margin-right: 1rem;
    }

    .filter-icon {
      transition: transform 0.2s ease;

      &.rotated {
        transform: rotate(180deg);
      }
    }

    &:hover {
      border-color: var(--p-neutral-hover-color-outlined);
    }
  }

  .selected-chips-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.375rem;
    margin-top: 0.5rem;
    .p-chip-label {
      // magic number is width of drawer (20rem) minus padding (2rem)
      max-width: 18rem;
    }
  }

  .filter-dropdown {
    position: absolute;
    min-width: max-content;
    max-width: calc(100vw - 2rem);
    width: 100%;
    box-sizing: border-box;
    z-index: 3;
    background: var(--p-background-default);
    border: var(--p-border-default) solid 0.1rem;
    border-radius: var(--border-radius-sm);
    margin-top: 0.25rem;
    max-height: 20rem;
    display: flex;
    flex-direction: column;
    font-size: var(--p-select-sm-font-size);

    .panel-header {
      padding: 0.6rem 0.75rem 0.4rem;
      display: flex;
      flex-direction: row;

      .search-input {
        width: 100%;
        padding-left: 0.75rem;
        outline: none;
        box-shadow: none;

        &::placeholder {
          color: var(--p-text-tertiary);
        }
      }
    }

    .options-container {
      flex: 1;
      overflow-y: auto;

      .options-list {
        .option-label {
          white-space: normal;
          overflow-wrap: break-word;
          hyphens: auto;
        }

        .option-item {
          margin: 0.25rem;
          border-radius: 0.5rem;
          display: flex;
          align-items: center;
          padding: 0.5rem;
          cursor: pointer;

          &.focused {
            background: var(--p-primary-hover-color-outlined);
          }

          &:hover {
            background: var(--p-primary-hover-color-outlined);
          }

          .option-label {
            padding-left: 0.5rem;
            flex: 1;
          }
        }

        .no-results {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.5rem;
        }
      }
    }
  }
}

@media (max-width: bp.$md) {
  .filter-multiselect {
    .filter-button {
      justify-content: space-between;

      span {
        margin-right: 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: 1;
      }

      .filter-icon {
        flex-shrink: 0;
      }
    }

    .filter-dropdown {
      left: 0;
      right: 0;
      max-width: calc(100vw - 2rem);

      &.align-right {
        left: auto;
        right: 0;
      }
    }
  }
}

.compact-chip {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem;
  font-size: 0.8rem;
  max-height: 1.1rem;
  margin-left: -0.25rem;
  margin-right: 0.25rem;
  cursor: default;
  color: var(--p-text-primary);
  .p-chip-remove-icon {
    width: 0.7rem;
    height: 0.7rem;
    cursor: pointer;
  }
  .p-chip-label {
    max-width: 6.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
