.filter-multiselect {
  .p-divider {
    &.p-divider-horizontal {
      margin: 0.1rem 0;
      background: var(--p-background-default);

      .p-divider-content {
        width: max-content;
      }
    }
  }

  .p-checkbox {
    .p-checkbox-box {
      background: transparent;
    }

    &.p-checkbox-checked {
      .p-checkbox-box {
        background: var(--p-primary-color);
        border-color: #fff;
        border-radius: 0.25rem;
      }

      .p-checkbox-icon {
        color: #fff;
      }
    }
  }
}

.compact-chip {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem;
  font-size: 0.8rem;
  max-height: 1.1rem;
  margin-left: -0.25rem;
  margin-right: 0.25rem;
  cursor: default;
  color: var(--p-text-primary);
  .p-chip-remove-icon {
    width: 0.7rem;
    height: 0.7rem;
    cursor: pointer;
  }
  .p-chip-label {
    max-width: 6.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
