<div class="flex flex-col lg:flex-row gap-8 lg:gap-32 p-6 md:p-16 items-center justify-center">
  <div class="flex-none lg:flex-[0_1_35%] w-full lg:w-auto">
    <img
      src="/content/images/landing-page/doctoral-journey-section/landing-page-doctoral-journey.webp"
      class="w-full h-full aspect-[5/3] rounded-xl block"
    />
  </div>
  <div class="flex flex-col items-center gap-8 lg:flex-[0_1_45%]">
    <h2 class="font-bold text-3xl" jhiTranslate="landingPage.doctoralJourney.headline"></h2>
    <p
      jhiTranslate="landingPage.doctoralJourney.text"
      [translateValues]="{
        startLink:
          '<a class=&quot;text-primary&quot; href=&quot;https://www.gs.tum.de/en/gs/doctorate-at-tum/&quot; target=&quot;_blank&quot; rel=&quot;noopener noreferrer&quot;>',
        endLink: '</a>',
      }"
    ></p>
    <jhi-button-group [data]="buttons()" />
  </div>
</div>
