<p>Sehr geehrte*r ${APPLICANT_FIRST_NAME!} ${APPLICANT_LAST_NAME!},</p>

<p>
  es freut mich, dir mitteilen zu können, dass du für die Position
  <strong>${JOB_TITLE!}</strong> in unserer Forschungsgruppe
  <strong>${RESEARCH_GROUP_NAME!}</strong> angenommen wurdest. Deine bisherigen
  Erfahrungen, deine Motivation sowie dein Potenzial, zu unseren akademischen und
  angewandten Forschungsprojekten beizutragen, haben uns überzeugt.
</p>

<p>
  Als Kandidat*in wirst du die Verantwortung für dein eigenes Forschungsprojekt
  übernehmen, einschließlich der Festlegung deiner Forschungsrichtung, der
  Veröffentlichung deiner Ergebnisse und der aktiven Mitarbeit an laufenden
  Teamaktivitäten. Diese Position erfordert ein hohes Maß an Engagement,
  Eigenständigkeit und Kommunikationsfähigkeit.
</p>

<p>
  Wir sind überzeugt, dass du in dieser Rolle erfolgreich sein wirst, und freuen uns
  darauf, deine positiven Beiträge für die Forschungsgruppe und die wissenschaftliche
  Gemeinschaft zu sehen.
</p>

<p>
  <strong>Bitte bestätige die Annahme dieses Angebots so bald wie möglich und kontaktiere mich, um die nächsten Schritte zu besprechen.
  </strong>
</p>

<p>
  Mit freundlichen Grüßen<br /><br />
  ${SUPERVISING_PROFESSOR_FIRST_NAME!} ${SUPERVISING_PROFESSOR_LAST_NAME!}<br />
  ${RESEARCH_GROUP_NAME!}<br />
  Technische Universität München
</p>
