<p>Sehr geehrte*r ${APPLICANT_FIRST_NAME!} ${APPLICANT_LAST_NAME!},</p>

<p>
  es freut mich, Ihnen mitteilen zu können, dass Sie für die Position
  <strong>${JOB_TITLE!}</strong> in unserer Forschungsgruppe
  <strong>${RESEARCH_GROUP_NAME!}</strong> angenommen wurden. Ihre bisherigen
  Erfahrungen, Ihre Motivation sowie Ihr Potenzial, zu unseren akademischen und
  angewandten Forschungsprojekten beizutragen, haben uns überzeugt.
</p>

<p>
  Als Kandidat*in werden Sie die Verantwortung für Ihr eigenes Forschungsprojekt
  übernehmen, einschließlich der Festlegung Ihrer Forschungsrichtung, der
  Veröffentlichung Ihrer Ergebnisse und der aktiven Mitarbeit an laufenden
  Teamaktivitäten. Diese Position erfordert ein hohes Maß an Engagement,
  Eigenständigkeit und Kommunikationsfähigkeit.
</p>

<p>
  Wir sind überzeugt, dass Sie in dieser Rolle erfolgreich sein werden, und freuen uns
  darauf, Ihre positiven Beiträge für die Forschungsgruppe und die wissenschaftliche
  Gemeinschaft zu sehen.
</p>

<p>
  <strong>Bitte bestätigen Sie die Annahme dieses Angebots so bald wie möglich und kontaktieren Sie, um die nächsten Schritte zu besprechen.
  </strong>
</p>

<p>
  Mit freundlichen Grüßen<br /><br />
  ${SUPERVISING_PROFESSOR_FIRST_NAME!} ${SUPERVISING_PROFESSOR_LAST_NAME!}<br />
  ${RESEARCH_GROUP_NAME!}<br />
  Technische Universität München
</p>
