<p>Sehr geehrte*r ${USER_FIRST_NAME!} ${USER_LAST_NAME!},</p>

<p>Wir möchten Sie darüber informieren, dass Ihre geschlossenen Bewerbungen und die damit verbundenen Daten gemäß unserer Datenschutzrichtlinie in 4 Wochen automatisch gelöscht werden.</p>

<p>Um die Löschung Ihrer Daten zu verhindern, loggen Sie sich bitte in Ihr TUMApply-Konto ein und exportieren Sie Ihre Daten oder nehmen Sie andere erforderliche Maßnahmen: <a href="${LOGIN_URL!}">${LOGIN_URL!}</a></p>

<p>Mit freundlichen Grüßen,<br /><br />TUMApply Team<br />Technische Universität München</p>