<p>Sehr geehrte*r ${applicantFirstName!} ${applicantLastName!},</p>

<p>
  vielen Dank für Ihre Bewerbung auf die Position <strong>${jobTitle!}</strong> in unserer Forschungsgruppe
  <strong>${researchGroupName!}</strong>. Wir schätzen das Engagement und die Zeit, die Sie in Ihre Unterlagen und Ihr Interesse investiert
  haben, sehr.
</p>

<p>
  Nach sorgfältiger Prüfung mussten wir feststellen, dass Ihr Profil die spezifischen Anforderungen dieser Position nicht vollständig
  erfüllt. Daher sehen wir von einer weiteren Berücksichtigung Ihrer Bewerbung ab.
</p>

<p>
  Wir wissen, dass eine Bewerbung für ein Promotionsprogramm eine gründliche Vorbereitung erfordert, und danken Ihnen herzlich für Ihr
  Interesse an unserer Forschungsgruppe. Gerne laden wir Sie ein, sich in Zukunft erneut auf passende Stellen in unserer Forschungsgruppe zu
  bewerben.
</p>

<p>Für Ihren weiteren akademischen und beruflichen Weg wünschen wir Ihnen viel Erfolg.</p>

<p>Mit freundlichen Grüßen<br />Ihr ${researchGroupName!} Team</p>
