<p>Sehr geehrter Herr Professor / Sehr geehrte Frau Professorin ${SUPERVISING_PROFESSOR_FIRST_NAME!},</p>

<p>für die Position <strong>${JOB_TITLE!}</strong> in deiner Forschungsgruppe wurde eine neue Bewerbung eingereicht.</p>

<p>Die Bewerbung stammt von <strong>${APPLICANT_FIRST_NAME!} ${APPLICANT_LAST_NAME!}</strong>.</p>

<p>Du kannst die Bewerbung hier einsehen:</p>

<@ui.ctaButton href=(APPLICATION_LINK!'') label="Bewerbung anzeigen" />

<p>Mit freundlichen Grüßen<br />Dein TUMApply Team</p>
