<p>Sehr geehrte*r ${APPLICANT_FIRST_NAME!} ${APPLICANT_LAST_NAME!},</p>

<p>Der Ort für Ihr Interview für die Position <strong>${JOB_TITLE!}</strong> bei ${RESEARCH_GROUP_NAME!} wurde
    aktualisiert.</p>

<p><strong>Datum & Uhrzeit:</strong> ${INTERVIEW_DATE!} ${INTERVIEW_START_TIME!}–${INTERVIEW_END_TIME!}<br>
    <strong>Neuer Ort:</strong> ${INTERVIEW_LOCATION!}
</p>

<p>Ein aktualisierter Kalendereintrag ist dieser E-Mail angehängt.</p>

<p>Mit freundlichen Grüßen<br>
    ${RESEARCH_GROUP_NAME!}</p>
