<p>Sehr geehrte*r ${APPLICANT_FIRST_NAME!} ${APPLICANT_LAST_NAME!},</p>

<p>Dein geplantes Interview für die Position <strong>${JOB_TITLE!}</strong> an unserem Lehrstuhl ${RESEARCH_GROUP_NAME!}
    wurde abgesagt und muss auf einen neuen Termin verschoben werden.</p>

<p><strong>Ursprüngliches Datum & Uhrzeit:</strong> ${INTERVIEW_DATE!}
    ${INTERVIEW_START_TIME!}–${INTERVIEW_END_TIME!}<br>
    <strong>Ort:</strong> ${INTERVIEW_LOCATION!}
</p>

<p>Bitte beachte die aktualisierte Kalendereinladung im Anhang.</p>

<p>Bitte wähle einen neuen Termin für dein Interview aus:</p>

<@ui.ctaButton href=(BOOKING_LINK!'') label="Termin wählen" />
<p>Wir freuen uns auf das Gespräch mit dir.</p>

<p>Mit freundlichen Grüßen<br>
    ${RESEARCH_GROUP_NAME!}</p>
