<p>Sehr geehrte*r ${APPLICANT_FIRST_NAME!} ${APPLICANT_LAST_NAME!},</p>

<p>vielen Dank für Ihre Bewerbung auf die Position <strong>${JOB_TITLE!}</strong> in unserer Forschungsgruppe
    ${RESEARCH_GROUP_NAME!}.</p>

<p>Wir haben Ihre Bewerbungsunterlagen geprüft und möchten Sie gerne zu einem Interview einladen.</p>

<p>Datum & Uhrzeit: ${INTERVIEW_DATE!} ${INTERVIEW_START_TIME!}–${INTERVIEW_END_TIME!}<br>
    Ort: ${INTERVIEW_LOCATION!}</p>

<p>Wir freuen uns auf das Gespräch mit Ihnen.</p>

<p>Mit freundlichen Grüßen,<br>Ihr ${RESEARCH_GROUP_NAME!} Team</p>