<p>Sehr geehrte/r ${APPLICANT_FIRST_NAME!} ${APPLICANT_LAST_NAME!},</p>

<p>Ihr geplantes Interview für die Position <strong>${JOB_TITLE!}</strong> an unserem Lehrstuhl ${RESEARCH_GROUP_NAME!}
    wurde abgesagt und muss auf einen neuen Termin verschoben werden.</p>

<p><strong>Ursprüngliches Datum & Uhrzeit:</strong> ${INTERVIEW_DATE!}
    ${INTERVIEW_START_TIME!}–${INTERVIEW_END_TIME!}<br>
    <strong>Ort:</strong> ${INTERVIEW_LOCATION!}
</p>

<p>Bitte beachten Sie die aktualisierte Kalendereinladung im Anhang.</p>
<p>Sie können den übermittelten Buchungs-Link benutzen, um selbst einen neuen Termin auszuwählen.</p>

<p>Wir freuen uns auf das Gespräch mit Ihnen.</p>

<p>Mit freundlichen Grüßen,<br>
    ${RESEARCH_GROUP_NAME!}</p>