<p>Sehr geehrte*r ${PROFESSOR_FIRST_NAME!} ${PROFESSOR_LAST_NAME!},</p>

<p>Ein Bewerber hat einen Interview-Termin für die Position <strong>${JOB_TITLE!}</strong> gebucht.</p>

<p><strong>Bewerber:</strong> ${APPLICANT_FIRST_NAME!} ${APPLICANT_LAST_NAME!}<br>
    <strong>Datum & Uhrzeit:</strong> ${INTERVIEW_DATE!} ${INTERVIEW_START_TIME!}–${INTERVIEW_END_TIME!}<br>
    <strong>Ort:</strong> ${INTERVIEW_LOCATION!}
</p>

<p>Ein Kalendereintrag ist dieser E-Mail angehängt.</p>

<p>Mit freundlichen Grüßen,<br />Ihr TUMApply Team</p>