<p>Liebe Bewerberin, lieber Bewerber,</p>

<p>
  eine neue Stelle passend zu deinem abonnierten Fachbereich wurde soeben veröffentlicht:
  <strong>${JOB_TITLE!}</strong>.
</p>

<p>
  Die Position wird von <strong>${RESEARCH_GROUP_NAME!}</strong> unter der Betreuung von
  <strong>${SUPERVISING_PROFESSOR_FIRST_NAME!} ${SUPERVISING_PROFESSOR_LAST_NAME!}</strong> angeboten.
</p>

<p>Du kannst die veröffentlichte Stelle jetzt in TUMApply ansehen.</p>

<p>Mit freundlichen Grüßen<br />Dein ${RESEARCH_GROUP_NAME!} Team</p>
