<p>Sehr geehrte*r ${APPLICANT_FIRST_NAME!} ${APPLICANT_LAST_NAME!},</p>

<p>
  eine neue Stellenausschreibung im Fachbereich <strong>${SUBJECT_AREA!}</strong> wurde in der Forschungsgruppe
  <strong>${RESEARCH_GROUP_NAME!}</strong> veröffentlicht.
</p>

<p><strong>Stelle:</strong> ${JOB_TITLE!}</p>

<p><strong>Betreuer:in:</strong> ${SUPERVISING_PROFESSOR_FIRST_NAME!} ${SUPERVISING_PROFESSOR_LAST_NAME!}</p>

<p>Weitere Informationen findest du in der Stellenausschreibung auf TUMApply.</p>

<@ui.ctaButton href=((url!'') + "/job/detail/" + (JOB_ID!'')) label="Stelle ansehen" />

<p>Mit freundlichen Grüßen<br />Dein TUMApply Team</p>
