<p>Sehr geehrte*r ${USER_FIRST_NAME!} ${USER_LAST_NAME!},</p>

<p>Wir möchten dich daran erinnern, dass deine Daten in unserem System gemäß unserer Datenschutzrichtlinie in 4 Wochen automatisch gelöscht werden.</p>

<p>Logge dich bitte in dein TUMApply-Konto ein, um die Löschung deiner Daten zu verhindern:</p>

<p style="margin: 1.25rem 0">
  <a
    href="${LOGIN_LINK!url!}"
    style="display: inline-block; padding: 0.5rem 1rem; font-size: 1rem; background-color: #3070b3; color: #ffffff; text-decoration: none; border-radius: 0.375rem; font-weight: 600"
  >
    Bei TUMApply anmelden
  </a>
</p>

<p>Mit freundlichen Grüßen<br />Dein TUMApply Team</p>
