<div class="dialog-body">
  <div class="content">
    <p jhiTranslate="onboarding.body"></p>
    <!-- <p-message severity="warn">
      <p jhiTranslate="onboarding.disclaimer"></p>
    </p-message> -->
  </div>

  <div class="actions">
    <jhi-button
      class="mr-2"
      (click)="markOnboarded(false)"
      [shouldTranslate]="true"
      label="onboarding.actions.imApplicant"
      variant="outlined"
    />
    <div class="flex flex-row gap-2">
      <jhi-button (click)="openEmployeeForm()" [shouldTranslate]="true" label="onboarding.actions.imEmployee" variant="outlined" />
      <jhi-button (click)="markOnboarded()" [shouldTranslate]="true" label="onboarding.actions.openForm" />
    </div>
  </div>
</div>
