<div class="privacy-page">
  <h1 class="headline" jhiTranslate="privacy.headline"></h1>
  <span class="text" jhiTranslate="privacy.text"></span>

  <h2 class="subheadline" jhiTranslate="privacy.logging.headline"></h2>
  <span class="text" jhiTranslate="privacy.logging.text"></span>

  <h2 class="subheadline" jhiTranslate="privacy.personalData.headline"></h2>
  <span class="text" jhiTranslate="privacy.personalData.text"></span>

  <h2 class="subheadline" jhiTranslate="privacy.dataProcessing.headline"></h2>
  <span class="text" jhiTranslate="privacy.dataProcessing.text"></span>

  <h2 class="subheadline" jhiTranslate="privacy.complaint.headline"></h2>
  <span class="text" jhiTranslate="privacy.complaint.text"></span>

  <h2 class="subheadline" jhiTranslate="privacy.dataPortability.headline"></h2>
  <span class="text" jhiTranslate="privacy.dataPortability.text"></span>

  <h2 class="subheadline" jhiTranslate="privacy.dataRight.headline"></h2>
  <p class="text" jhiTranslate="privacy.dataRight.text"></p>

  <h2 class="subheadline" jhiTranslate="privacy.sslTls.headline"></h2>
  <span class="text" jhiTranslate="privacy.sslTls.text"></span>

  <h2 class="subheadline" jhiTranslate="privacy.emailSec.headline"></h2>
  <span class="text" jhiTranslate="privacy.emailSec.text"></span>
</div>
