<div class="privacy-page">
  <h1 class="headline" jhiTranslate="privacy.headline"></h1>
  <span class="text" jhiTranslate="privacy.text"></span>

  <h2 class="subheadline" jhiTranslate="privacy.logging.headline"></h2>
  <span class="text" jhiTranslate="privacy.logging.text1"></span>
  <ul class="bullet-list">
    <li jhiTranslate="privacy.logging.bp1"></li>
    <li jhiTranslate="privacy.logging.bp2"></li>
    <li jhiTranslate="privacy.logging.bp3"></li>
    <li jhiTranslate="privacy.logging.bp4"></li>
    <li jhiTranslate="privacy.logging.bp5"></li>
    <li jhiTranslate="privacy.logging.bp6"></li>
  </ul>
  <span class="text" jhiTranslate="privacy.logging.text2"></span>
  <ul class="bullet-list">
    <li jhiTranslate="privacy.logging.bp7"></li>
    <li jhiTranslate="privacy.logging.bp8"></li>
    <li jhiTranslate="privacy.logging.bp9"></li>
  </ul>

  <h2 class="subheadline" jhiTranslate="privacy.personalData.headline"></h2>
  <span class="text" jhiTranslate="privacy.personalData.text"></span>

  <h2 class="subheadline" jhiTranslate="privacy.dataProcessing.headline"></h2>
  <span class="text" jhiTranslate="privacy.dataProcessing.text"></span>

  <h2 class="subheadline" jhiTranslate="privacy.complaint.headline"></h2>
  <span class="text" jhiTranslate="privacy.complaint.text"></span>
  <a
    href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html"
    target="_blank"
    rel="noopener noreferrer"
    class="external-link"
    jhiTranslate="privacy.complaint.link"
  ></a>

  <h2 class="subheadline" jhiTranslate="privacy.dataPortability.headline"></h2>
  <span class="text" jhiTranslate="privacy.dataPortability.text"></span>

  <h2 class="subheadline" jhiTranslate="privacy.dataRight.headline"></h2>
  <p>
    <span jhiTranslate="privacy.dataRight.text1"></span>
    <a href="mailto:ls1.admin@in.tum.de" class="external-link" jhiTranslate="privacy.dataRight.email"></a>
    <span jhiTranslate="privacy.dataRight.text2"></span>
  </p>

  <h2 class="subheadline" jhiTranslate="privacy.sslTls.headline"></h2>
  <span class="text" jhiTranslate="privacy.sslTls.text"></span>

  <h2 class="subheadline" jhiTranslate="privacy.emailSec.headline"></h2>
  <span class="text" jhiTranslate="privacy.emailSec.text"></span>
</div>
