<div class="page-container">
  <div class="max-w-[75rem] mr-auto">
    <h1 class="text-[2rem] font-bold" jhiTranslate="privacy.headline"></h1>
    <span class="block text-base text-justify mt-8" jhiTranslate="privacy.text"></span>

    <h2 class="text-2xl font-semibold mt-8 mb-4" jhiTranslate="privacy.logging.headline"></h2>
    <span class="block text-base text-justify" jhiTranslate="privacy.logging.text"></span>

    <h2 class="text-2xl font-semibold mt-8 mb-4" jhiTranslate="privacy.personalData.headline"></h2>
    <span class="block text-base text-justify" jhiTranslate="privacy.personalData.text"></span>

    <h2 class="text-2xl font-semibold mt-8 mb-4" jhiTranslate="privacy.dataProcessing.headline"></h2>
    <span class="block text-base text-justify" jhiTranslate="privacy.dataProcessing.text"></span>

    <h2 class="text-2xl font-semibold mt-8 mb-4" jhiTranslate="privacy.complaint.headline"></h2>
    <span class="block text-base text-justify" jhiTranslate="privacy.complaint.text"></span>

    <h2 class="text-2xl font-semibold mt-8 mb-4" jhiTranslate="privacy.dataPortability.headline"></h2>
    <span class="block text-base text-justify" jhiTranslate="privacy.dataPortability.text"></span>

    <h2 class="text-2xl font-semibold mt-8 mb-4" jhiTranslate="privacy.dataRight.headline"></h2>
    <p class="block text-base text-justify" jhiTranslate="privacy.dataRight.text"></p>

    <h2 class="text-2xl font-semibold mt-8 mb-4" jhiTranslate="privacy.sslTls.headline"></h2>
    <span class="block text-base text-justify" jhiTranslate="privacy.sslTls.text"></span>

    <h2 class="text-2xl font-semibold mt-8 mb-4" jhiTranslate="privacy.emailSec.headline"></h2>
    <span class="block text-base text-justify" jhiTranslate="privacy.emailSec.text"></span>

    <div class="pt-6">
      <jhi-button
        (click)="exportUserData()"
        [label]="'privacy.export.button'"
        severity="primary"
        variant="outlined"
        size="xs"
        [shouldTranslate]="true"
        [disabled]="exportButtonDisabled()"
        [tooltip]="tooltip()"
        [translationParams]="tooltipParams()"
      />
    </div>
  </div>
</div>
