<jhi-toast></jhi-toast>
<ng-template #panel1>
  <div class="h-full flex border rounded-md border-primary p-1 m-4 flex-col">
    <p>This is panel 1</p>
    <p>This is panel 1</p>
    <p>This is panel 1</p>
    <p>This is panel 1</p>
  </div>
</ng-template>
<ng-template #panel2>
  <div class="h-full flex border rounded-md border-primary p-1 m-4 flex-col">
    <p>This is panel 2</p>
    <p>This is panel 2</p>
    <p>This is panel 2</p>
    <p>This is panel 2</p>
  </div>
</ng-template>
<ng-template #panel3>
  <div class="h-full flex border rounded-md border-primary p-1 m-4 flex-col">
    <p>This is panel 3</p>
    <p>This is panel 3</p>
    <p>This is panel 3</p>
    <p>This is panel 3</p>
  </div>
</ng-template>

<div class="m-4 p-1">
  <jhi-progress-stepper [steps]="data" />
</div>
