jhi-button {
  margin-bottom: 0.25rem;
}

.button-group {
  max-width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button-group-full-width {
  flex: 1 1 auto;
  align-self: stretch;
  gap: 1rem;
}
