<div class="button_group d-flex {{ buttonGroupData.direction === 'vertical' ? 'flex-column' : 'flex-row' }}">
  @for (button of buttonGroupData.buttons; track $index) {
    <jhi-button
      class="'flex-grow-1'"
      [buttonClass]="'w-100'"
      [color]="button.color"
      [variant]="button.variant"
      [icon]="button.icon"
      [label]="button.label"
      [numberOfFavorites]="button.numberOfFavorites"
      [disabled]="button.disabled"
      (click)="button.onClick()"
    />
  }
</div>
