<div class="button-group flex {{ data().direction === 'vertical' ? 'flex-col' : 'flex-row' }}">
  @for (button of data().buttons; track $index) {
    <jhi-button
      class="grow-1"
      buttonClass="w-full"
      [severity]="button.severity"
      [variant]="button.variant"
      [icon]="button.icon"
      [isExternalLink]="button.isExternalLink"
      [label]="button.label"
      [numberOfFavorites]="button.numberOfFavorites"
      [disabled]="button.disabled"
      [shouldTranslate]="shouldTranslate()"
      (click)="button.onClick()"
    />
  }
</div>
