.voices-section {
  display: flex;
  padding: 3.25rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.25rem;
  align-self: stretch;
  background: var(--p-background-special);

  .title {
    color: var(--p-text-primary);
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
  }

  .voices-container {
    display: flex;
    padding: 0 5rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    align-self: stretch;
  }
}
