<div class="relative">
  <p-button
    [ariaLabel]="label() === undefined ? icon() : undefined"
    [disabled]="disabled()"
    [label]="label()"
    [raised]="numberOfFavorites() !== undefined"
    [severity]="severity()"
    [variant]="variant()"
    [rounded]="label() === undefined"
    [styleClass]="label() === undefined ? 'rounded-full w-14 h-14' : ''"
  >
    @if (icon() !== undefined) {
      <fa-icon [icon]="[iconPrefix(), icon() ?? '']" />
    }
  </p-button>
  @if (numberOfFavorites() !== undefined) {
    <span class="jhi-button-badge-mini absolute flex items-center justify-center overflow-hidden right_full rounded-full top-0 ml-8">{{
      numberOfFavorites()
    }}</span>
  }
</div>
