<div class="relative">
  @if (numberOfFavorites()) {
    <p-overlaybadge [value]="numberOfFavorites()" styleClass="button-overlay">
      <ng-container [ngTemplateOutlet]="button" />
    </p-overlaybadge>
  } @else {
    <ng-container [ngTemplateOutlet]="button" />
  }
</div>
<ng-template #button>
  <p-button
    [ariaLabel]="label() === undefined ? icon() : undefined"
    [disabled]="disabled()"
    [label]="label()"
    [rounded]="label() === undefined"
    [severity]="severity()"
    [variant]="variant()"
  >
    @if (icon() !== undefined) {
      <fa-icon [icon]="[iconPrefix(), icon() ?? '']" />
    }
  </p-button>
</ng-template>
