<div class="filter-sort-bar">
  <span
    class="record-count"
    jhiTranslate="entity.filters.recordsFound"
    [translateValues]="{ count: totalRecords(), entity: totalRecords() === 1 ? singleEntity() : multipleEntities() }"
  >
  </span>
  <div class="actions">
    <jhi-button
      [label]="'entity.filters.filter' | translate"
      (click)="filterDialogVisible.set(true)"
      variant="outlined"
      [numberOfFavorites]="activeFilters()"
      icon="filter"
      severity="info"
    />
    <jhi-filter-dialog [(visible)]="filterDialogVisible" [filterFields]="filterFields()" (applyFilters)="updateFilters($event)" />

    @if ((this.sortOptions() ?? []).length > 0) {
      <jhi-select
        width="13rem"
        [items]="sortSelectOptions()"
        [selected]="selectedSortSelectOption()"
        (selectedChange)="updateSort($event)"
      />
    }
  </div>
</div>
