<jhi-divider label="Bachelor" />
<div class="form-row">
  <jhi-string-input label="bachelorsDegreeName" [required]="true" [(value)]="data().bachelorsDegreeName" />
  <jhi-string-input label="bachelorsDegreeUniversity" [required]="true" [(value)]="data().bachelorsDegreeUniversity" />
</div>
<div class="form-row">
  <jhi-string-input label="bachelorsGradingScale" [required]="true" [(value)]="data().bachelorsGradingScale" />
  <jhi-string-input label="bachelorsGrade" [required]="true" [(value)]="data().bachelorsGrade" />
</div>
<jhi-divider label="Master" />
<div class="form-row">
  <jhi-string-input label="mastersDegreeName" [required]="true" [(value)]="data().mastersDegreeName" />
  <jhi-string-input label="mastersDegreeUniversity" [required]="true" [(value)]="data().mastersDegreeUniversity" />
</div>
<div class="form-row">
  <jhi-string-input label="mastersGradingScale" [required]="true" [(value)]="data().mastersGradingScale" />
  <jhi-string-input label="mastersGrade" [required]="true" [(value)]="data().mastersGrade" />
</div>
