.form-field {
  margin-bottom: 1.25rem;

  label {
    display: block;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;

    .required {
      color: var(--negative-default);
      margin-left: 0.125rem;
    }

    .disabled {
      color: var(--background-disabled);
    }
  }

  input,
  textarea,
  select {
    width: 100%;
    padding: 0.625rem 0.75rem;
    border: 0.0625rem solid var(--border-default);
    border-radius: 0.5rem;
    font-size: 0.875rem;

    &:focus {
      outline: none;
      border-color: var(--primary-default);
    }

    &.invalid {
      border-color: var(--negative-default);
    }

    &::placeholder {
      color: var(--background-disabled);
    }
  }

  textarea {
    resize: vertical;
  }

  .form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.1rem;
    font-size: 0.9rem;

    .description-helper {
      color: var(--background-disabled);
    }

    .char-counter {
      color: var(--text-primary);
    }
  }
}

.form-row {
  display: flex;
  gap: 1.25rem;

  .form-field {
    flex: 1;
  }
}

.input-with-icon {
  position: relative;

  .icon-input-wrapper {
    display: flex;
    align-items: center;

    input {
      padding-left: 2.25rem;
    }

    .ng-fa-icon.input-icon {
      position: absolute;
      left: 0.75rem;
      color: var(--text-on-disabled);
    }
  }

  .info-icon {
    position: absolute;
    right: 0.625rem;
    top: 0.625rem;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 50%;
    background-color: var(--secondary-default);
    color: var(--background-default);
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-style: italic;
  }
}
