<div class="input-container">
  <div class="label-top label-input-wrapper">
    @if (label(); as label) {
      <label class="custom-label" [for]="inputId()">
        {{ shouldTranslate() ? (label | translate) : label }}
        @if (required()) {
          <span class="required">*</span>
        }
        @if (icon(); as icon) {
          @if (icon === 'circle-info' && tooltipText()) {
            <fa-icon
              class="icon"
              [icon]="['fas', icon]"
              [pTooltip]="shouldTranslate() ? (tooltipText() ?? '' | translate) : (tooltipText() ?? '')"
              tooltipPosition="top"
            />
          } @else {
            <fa-icon class="icon" [icon]="['fas', icon ?? '']" />
          }
        }
      </label>
    }

    <div [class.error]="inputState() === 'invalid'" class="input-wrapper">
      @if (control()) {
        <input
          (blur)="onBlur()"
          (focus)="onFocus()"
          [id]="inputId()"
          [formControl]="formControl()"
          [pAutoFocus]="autofocus()"
          [placeholder]="shouldTranslate() && placeholder() ? (placeholder() ?? '' | translate) : (placeholder() ?? '')"
          [required]="required()"
          [disabled]="disabled()"
          [style]="{ width: width() }"
          autocomplete="off"
          class="custom-input"
          pInputText
        />
      } @else {
        <input
          (blur)="onBlur()"
          (focus)="onFocus()"
          (ngModelChange)="onInputChange($event)"
          [id]="inputId()"
          [ngModel]="model()"
          [pAutoFocus]="autofocus()"
          [placeholder]="shouldTranslate() && placeholder() ? (placeholder() ?? '' | translate) : (placeholder() ?? '')"
          [required]="required()"
          [disabled]="disabled()"
          [style]="{ width: width() }"
          autocomplete="off"
          class="custom-input"
          pInputText
        />
      }
    </div>
    @if (helperTextLeft() || helperTextRight()) {
      <div class="flex justify-between items-center text-sm">
        @if (helperTextLeft()) {
          <span class="text-text-disabled">{{ helperTextLeft() }}</span>
        } @else {
          <span></span>
        }
        @if (helperTextRight()) {
          <span class="text-info-default underline cursor-pointer">{{ helperTextRight() }}</span>
        }
      </div>
    }
    @if (errorEnabled()) {
      <div class="error-text">
        @if (inputState() === 'invalid' && !isFocused()) {
          {{ errorMessage() }}
        }
      </div>
    }
  </div>
</div>
