<div class="input-container">
  <div class="label-top label-input-wrapper">
    @if (label(); as label) {
      <label class="custom-label" [for]="id()">
        @if (shouldTranslate()) {
          {{ label | translate }}
        } @else {
          {{ label }}
        }
        @if (required()) {
          <span class="required">*</span>
        }
        @if (icon(); as icon) {
          @if (icon === 'circle-info' && tooltipText()) {
            @if (shouldTranslate()) {
              <fa-icon class="icon" [icon]="['fas', icon]" [pTooltip]="tooltipText() ?? '' | translate" tooltipPosition="top" />
            } @else {
              <fa-icon class="icon" [icon]="['fas', icon]" [pTooltip]="tooltipText() ?? ''" tooltipPosition="top" />
            }
          } @else {
            <fa-icon class="icon" [icon]="['fas', icon ?? '']" />
          }
        }
      </label>
    }

    <div [class.error]="inputState() === 'invalid'" class="input-wrapper">
      @if (formControl(); as ctrl) {
        <input
          (blur)="onBlur()"
          (focus)="onFocus()"
          [disabled]="disabled()"
          [id]="id()"
          [formControl]="ctrl"
          [pAutoFocus]="autofocus()"
          [placeholder]="shouldTranslate() && placeholder() ? (placeholder() ?? '' | translate) : placeholder()"
          [required]="required()"
          [style]="{ width: width() }"
          autocomplete="off"
          class="custom-input"
          pInputText
        />
      } @else {
        <input
          (blur)="onBlur()"
          (focus)="onFocus()"
          (ngModelChange)="onInputChange($event)"
          [disabled]="disabled()"
          [id]="id()"
          [ngModel]="model()"
          [pAutoFocus]="autofocus()"
          [placeholder]="shouldTranslate() && placeholder() ? (placeholder() ?? '' | translate) : placeholder()"
          [required]="required()"
          [style]="{ width: width() }"
          autocomplete="off"
          class="custom-input"
          pInputText
        />
      }
    </div>
    @if (errorEnabled()) {
      <div class="error-text">
        @if (inputState() === 'invalid' && !isFocused()) {
          {{ errorMessage() }}
        }
      </div>
    }
  </div>
</div>
