.application-steps-section {
  display: flex;
  padding: 6.25rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6.25rem;
  align-self: stretch;

  .title {
    color: var(--p-text-primary);
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
  }

  .application-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;

    .steps {
      display: flex;
      justify-content: space-between;
      padding: 0 5rem;
      gap: 2.5rem;
    }
  }
}
