<div
  class="flex flex-col justify-center items-center gap-2 sm:gap-4 md:gap-8 self-stretch bg-[var(--p-background-special)] py-8 px-4 sm:py-10 sm:px-2 md:py-12 lg:py-12 lg:px-6"
>
  <h2 class="text-center text-3xl font-bold" jhiTranslate="landingPage.applicationSteps.headline"></h2>
  <div class="flex justify-center items-center flex-col w-full">
    <div class="flex flex-col md:flex-row md:items-start justify-center items-center gap-4 lg:gap-3 flex-wrap">
      @for (step of steps; track step.title; let i = $index) {
        <jhi-application-step [index]="i" [icon]="step.icon" [title]="step.title" [description]="step.description" />
      }
    </div>
  </div>
</div>
