.job-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16.5rem, 1fr));
  gap: 1rem;
}

.job-card-grid > * {
  width: 100%;
  max-width: 25rem;
}

.no-jobs-text {
  text-align: center;
  padding: 2rem;
}
