<jhi-search-filter-sort-bar
  [totalRecords]="totalRecords()"
  [singleEntity]="'job' | translate"
  [multipleEntities]="'jobs' | translate"
  [searchText]="'jobOverviewPage.searchFilterSortBar.searchText' | translate"
  (searchOutput)="onSearchEmit($event)"
  (filterOutput)="onFilterEmit($event)"
  (sortOutput)="onSortEmit($event)"
  [filters]="[
    {
      filterId: 'fieldOfStudies',
      filterLabel: 'jobOverviewPage.searchFilterSortBar.filterOptions.fieldOfStudies',
      filterSearchPlaceholder: 'jobOverviewPage.searchFilterSortBar.filterOptions.fieldOfStudiesPlaceholder',
      filterOptions: allFieldOfStudies,
      shouldTranslateOptions: true,
    },
    {
      filterId: 'location',
      filterLabel: 'jobOverviewPage.searchFilterSortBar.filterOptions.location',
      filterSearchPlaceholder: 'jobOverviewPage.searchFilterSortBar.filterOptions.LocationSearchPlaceholder',
      filterOptions: availableLocationLabels,
      shouldTranslateOptions: true,
    },
    {
      filterId: 'supervisor',
      filterLabel: 'jobOverviewPage.searchFilterSortBar.filterOptions.supervisor',
      filterSearchPlaceholder: 'jobOverviewPage.searchFilterSortBar.filterOptions.supervisorSearchPlaceholder',
      filterOptions: allSupervisorNames(),
    },
  ]"
  [sortableFields]="sortableFields"
/>
@if (jobs().length > 0) {
  <div class="flex flex-wrap justify-center gap-4 py-4 mx-auto max-w-[104rem]">
    @for (job of jobs(); track job.jobId; let i = $index) {
      <div class="w-full min-w-[16.5rem] max-w-[20rem] flex-[1_1_16.5rem]">
        <jhi-job-card
          [jobId]="job.jobId"
          [jobTitle]="job.title"
          [departmentName]="job.departmentName ?? 'No Department'"
          [location]="job.location.toString()"
          [professor]="job.professorName"
          [workload]="job.workload || undefined"
          [startDate]="job.startDate?.toString() || undefined"
          [relativeTime]="(currentLanguage() === 'EN' ? job.relativeTimeEnglish : job.relativeTimeGerman) ?? ''"
          [applicationId]="job.applicationId"
          [applicationState]="job.applicationState ?? ApplicationStatusExtendedLocal.NotYetApplied"
          [contractDuration]="job.contractDuration"
          [headerImageUrl]="job.imageUrl"
        />
      </div>
    }
  </div>
} @else {
  <p class="text-center p-8" jhiTranslate="jobOverviewPage.noJobsFound"></p>
}
<p-table
  [value]="jobs()"
  [paginator]="true"
  [rows]="pageSize()"
  [totalRecords]="totalRecords()"
  [lazy]="true"
  (onLazyLoad)="loadOnTableEmit($event)"
  [tableStyle]="{ width: '100%' }"
/>
