<jhi-search-filter-sort-bar
  [totalRecords]="totalRecords()"
  [singleEntity]="'job' | translate"
  [multipleEntities]="'jobs' | translate"
  [searchText]="'jobOverviewPage.searchFilterSortBar.searchText' | translate"
  (searchOutput)="onSearchEmit($event)"
  (filterOutput)="onFilterEmit($event)"
  [filters]="[
    {
      filterLabel: 'jobOverviewPage.searchFilterSortBar.filterOptions.job',
      filterSearchPlaceholder: 'jobOverviewPage.searchFilterSortBar.filterOptions.jobSearchPlaceholder',
      filterOptions: allJobNames(),
    },
    {
      filterLabel: 'jobOverviewPage.searchFilterSortBar.filterOptions.fieldOfStudies',
      filterSearchPlaceholder: 'jobOverviewPage.searchFilterSortBar.filterOptions.fieldOfStudiesPlaceholder',
      filterOptions: allFieldofStudies(),
    },
    {
      filterLabel: 'jobOverviewPage.searchFilterSortBar.filterOptions.location',
      filterSearchPlaceholder: 'jobOverviewPage.searchFilterSortBar.filterOptions.LocationSearchPlaceholder',
      filterOptions: availableLocationLabels,
      shouldTranslateOptions: true,
    },
    {
      filterLabel: 'jobOverviewPage.searchFilterSortBar.filterOptions.supervisor',
      filterSearchPlaceholder: 'jobOverviewPage.searchFilterSortBar.filterOptions.supervisorSearchPlaceholder',
      filterOptions: allSupervisorNames(),
    },
  ]"
/>
@if (jobs().length > 0) {
  <div class="job-card-grid">
    @for (job of jobs(); track job.jobId) {
      <jhi-job-card
        [jobId]="job.jobId"
        [jobTitle]="job.title"
        [fieldOfStudies]="job.fieldOfStudies"
        [location]="job.location.toString()"
        [professor]="job.professorName"
        [workload]="job.workload || undefined"
        [startDate]="job.startDate?.toString() || undefined"
        [relativeTime]="(currentLanguage() === 'EN' ? job.relativeTimeEnglish : job.relativeTimeGerman) ?? ''"
        [applicationId]="job.applicationId"
        [applicationState]="job.applicationState ?? ApplicationStatusExtendedLocal.NotYetApplied"
      />
    }
  </div>
} @else {
  <p class="no-jobs-text" jhiTranslate="jobOverviewPage.noJobsFound"></p>
}
<p-table
  [value]="jobs()"
  [paginator]="true"
  [rows]="pageSize()"
  [totalRecords]="totalRecords()"
  [lazy]="true"
  (onLazyLoad)="loadOnTableEmit($event)"
  [tableStyle]="{ width: '100%' }"
/>
