.job-card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 2rem;
  justify-content: center;
}

.job-card-grid > * {
  flex: 0 0 auto;
  width: clamp(16.5rem, 20vw, 20rem);
}

.no-jobs-text {
  text-align: center;
  padding: 2rem;
}
