<p-stepper [value]="currentStep()" (valueChange)="currentStep.set($event ?? 1)" class="basis-[50rem]">
  <p-step-list>
    @for (step of steps(); track $index) {
      @if (step.shouldTranslate) {
        <p-step [value]="$index + 1" [class]="$index < currentStep() ? 'p-step-active' : ''">{{ step.name | translate }}</p-step>
      } @else {
        <p-step [value]="$index + 1" [class]="$index < currentStep() ? 'p-step-active' : ''">{{ step.name }}</p-step>
      }
    }
  </p-step-list>
</p-stepper>
<div class="w-full h-full m-2 p-2">
  <ng-container [ngTemplateOutlet]="steps()[currentStep() - 1].panelTemplate" />
</div>

<div class="flex m-2 pt-6 justify-between">
  <div>
    <jhi-button-group [data]="buttonGroupPrev()" />
  </div>
  <div class="flex gap-6">
    @if (statusDiv(); as statusDiv) {
      <ng-container [ngTemplateOutlet]="statusDiv" />
    }
    <jhi-button-group [data]="buttonGroupNext()" />
  </div>
</div>
