<p-stepper [value]="currentStep()" (valueChange)="currentStep.set($event ?? 1)" class="basis-[40rem]">
  <p-step-list class="[&_.p-step-header]:cursor-pointer">
    @for (step of steps(); track $index) {
      @if (step.shouldTranslate) {
        <p-step [value]="$index + 1" [class]="$index < currentStep() ? 'p-step-active' : ''" [disabled]="step?.disabled ?? false">
          <span [jhiTranslate]="step.name"></span>
        </p-step>
      } @else {
        <p-step [value]="$index + 1" [class]="$index < currentStep() ? 'p-step-active' : ''" [disabled]="step?.disabled ?? false">
          {{ step.name }}
        </p-step>
      }
    }
  </p-step-list>
</p-stepper>
<div class="w-full h-full my-4">
  <ng-container [ngTemplateOutlet]="steps()[currentStep() - 1].panelTemplate" />
</div>

<div class="sticky bottom-0 mt-auto py-4 bg-white transition-all duration-300 w-full z-[1100] ease-in-out">
  <div class="flex justify-between transition-opacity duration-200 ease-in-out">
    <div>
      <jhi-button-group [data]="buttonGroupPrev()" [shouldTranslate]="shouldTranslate() ?? false" />
    </div>
    <div class="flex gap-6">
      @if (statusDiv(); as statusDiv) {
        <ng-container [ngTemplateOutlet]="statusDiv" />
      }
      <jhi-button-group [data]="buttonGroupNext()" [shouldTranslate]="shouldTranslate() ?? false" />
    </div>
  </div>
</div>
