@use '../../../../content/scss/_header.scss';

.content {
  padding: 2rem 4rem;
  width: 100%;

  .card {
    .card-header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 2rem;
    }

    .form-group {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0 1.5rem;
    }
  }
}
