<div class="content">
  <div class="header">
    <h1 jhiTranslate="researchGroup.groupInfoHeader"></h1>
  </div>
  <div class="card">
    <div class="card-header">
      <h2 jhiTranslate="researchGroup.groupInfo.title" class="text-primary text-2xl"></h2>
      <jhi-button
        [label]="'researchGroup.groupInfo.saveButton'"
        [shouldTranslate]="true"
        [disabled]="!isFormValid() || isSaving()"
        (click)="onSave()"
      />
    </div>
    <div class="card-body">
      <p jhiTranslate="researchGroup.groupInfo.description"></p>
      <hr class="divider" />

      <div class="space-y-4">
        <!-- Basic information section -->
        <div class="grid grid-cols-2 gap-4">
          <jhi-string-input
            [id]="'rg-name'"
            label="{{ 'researchGroup.groupInfo.fields.name' | translate }}"
            [required]="true"
            [(model)]="formData().name"
            placeholder="{{ 'researchGroup.groupInfo.placeholders.name' | translate }}"
          />

          <jhi-string-input
            [id]="'rg-abbreviation'"
            label="{{ 'researchGroup.groupInfo.fields.abbreviation' | translate }}"
            [required]="true"
            [(model)]="formData().abbreviation"
            placeholder="{{ 'researchGroup.groupInfo.placeholders.abbreviation' | translate }}"
          />
        </div>

        <div class="grid grid-cols-2 gap-4">
          <jhi-string-input
            [id]="'rg-head'"
            label="{{ 'researchGroup.groupInfo.fields.groupHead' | translate }}"
            [required]="true"
            [(model)]="formData().groupHead"
            placeholder="{{ 'researchGroup.groupInfo.placeholders.groupHead' | translate }}"
          />
          <div></div>
        </div>

        <hr class="divider" />

        <!-- School and website section -->
        <div class="grid grid-cols-2 gap-4">
          <jhi-string-input
            [id]="'rg-school'"
            label="{{ 'researchGroup.groupInfo.fields.school' | translate }}"
            [required]="true"
            [(model)]="formData().school"
            placeholder="{{ 'researchGroup.groupInfo.placeholders.school' | translate }}"
          />

          <jhi-string-input
            [id]="'rg-website'"
            label="{{ 'researchGroup.groupInfo.fields.website' | translate }}"
            [required]="true"
            [(model)]="formData().website"
            placeholder="{{ 'researchGroup.groupInfo.placeholders.website' | translate }}"
          />
        </div>

        <div class="grid grid-cols-2 gap-4">
          <jhi-string-input
            [id]="'rg-email'"
            label="{{ 'researchGroup.groupInfo.fields.email' | translate }}"
            [required]="true"
            [(model)]="formData().email"
            placeholder="{{ 'researchGroup.groupInfo.placeholders.email' | translate }}"
          />
          <div></div>
        </div>

        <hr class="divider" />

        <!-- Address section -->
        <div class="grid grid-cols-2 gap-4">
          <jhi-string-input
            [id]="'rg-city'"
            label="{{ 'researchGroup.groupInfo.fields.city' | translate }}"
            [(model)]="formData().city"
            placeholder="{{ 'researchGroup.groupInfo.placeholders.city' | translate }}"
          />
          <jhi-string-input
            [id]="'rg-postalCode'"
            label="{{ 'researchGroup.groupInfo.fields.postalCode' | translate }}"
            [(model)]="formData().postalCode"
            placeholder="{{ 'researchGroup.groupInfo.placeholders.postalCode' | translate }}"
          />
        </div>

        <div class="grid grid-cols-2 gap-4">
          <jhi-string-input
            [id]="'rg-address'"
            label="{{ 'researchGroup.groupInfo.fields.address' | translate }}"
            [(model)]="formData().address"
            placeholder="{{ 'researchGroup.groupInfo.placeholders.address' | translate }}"
          />
          <div></div>
        </div>

        @if (hasInitialized()) {
          <label class="block mb-2" [for]="'rg-description'">{{ 'researchGroup.groupInfo.fields.description' | translate }}</label>
          <jhi-editor [id]="'rg-description'" [characterLimit]="1000" [control]="descriptionControl" />
        }
      </div>
    </div>
  </div>
</div>
