<p-inputgroup class="items-center">
  <jhi-select
    [items]="selectOptions()"
    [selected]="selectedSelectOption()"
    (selectedChange)="onSortFieldChange($event)"
    [translateItems]="true"
    [width]="'max-content'"
    [size]="'small'"
  />
  <jhi-button
    [icon]="getSortIcon()"
    [tooltip]="getSortTooltip()"
    [tooltipOptions]="{
      tooltipStyleClass: 'tooltip-left',
    }"
    [tooltipPosition]="'left'"
    variant="text"
    (click)="toggleDirection()"
    size="sm"
  />
</p-inputgroup>
