<div class="flex items-center justify-between py-1 px-6 bg-default dark:bg-background-surface-alt border-b border-border-default">
  <div class="flex items-center gap-3">
    <div class="flex flex-col gap-0.5 text-primary-default">
      <a href="https://www.cit.tum.de/" target="_blank" rel="noopener noreferrer" class="text-sm font-normal hover:opacity-80">
        TUM School of Computation, Information and Technology
      </a>
      <a
        href="https://www.tum.de/"
        target="_blank"
        rel="noopener noreferrer"
        class="text-sm font-normal hover:opacity-80"
        jhiTranslate="header.universityName"
      ></a>
    </div>
  </div>
  <a href="https://www.tum.de/" target="_blank" rel="noopener noreferrer">
    <img alt="TUM Logo" class="tum-logo h-7 shrink-0" src="content/images/tum-logo/tum-logo-blue.svg" />
  </a>
</div>
