<div class="page-container">
  <div class="header-container">
    <div class="page-header">
      @if (researchGroupId()) {
        <h1 jhiTranslate="researchGroup.memberHeaderAdmin"></h1>
      } @else {
        <h1 jhiTranslate="researchGroup.memberHeader"></h1>
      }
    </div>
    <jhi-button
      [label]="'researchGroup.members.addMembers'"
      icon="user-plus"
      [shouldTranslate]="true"
      severity="primary"
      (click)="openAddMembersModal()"
    />
  </div>

  <!-- Members Table -->
  <div class="table-wrapper">
    <jhi-dynamic-table
      [columns]="columns()"
      [data]="tableData()"
      [totalRecords]="total()"
      [page]="pageNumber()"
      [rows]="pageSize()"
      [selectable]="false"
      (lazyLoad)="loadOnTableEmit($event)"
    />
  </div>

  <!-- Templates for dynamic table -->
  <ng-template #nameTemplate let-member>
    {{ member.name }}
    @if (member.isCurrentUser) {
      <fa-icon icon="circle-user" class="current-user-icon" [title]="'researchGroup.members.me' | translate" />
    }
  </ng-template>

  <ng-template #deleteTemplate let-member>
    @if (member.canRemove) {
      <jhi-confirm-dialog
        [label]="'button.remove' | translate"
        [header]="'researchGroup.members.removeMemberModal.title' | translate"
        [message]="'researchGroup.members.removeMemberModal.message' | translate"
        confirmIcon="trash"
        (confirmed)="removeMember(member)"
        severity="danger"
        [tooltip]="'button.remove' | translate"
        [iconOnly]="true"
      />
    }
  </ng-template>

  @if (researchGroupId()) {
    <jhi-button [label]="'button.back'" severity="info" variant="outlined" [shouldTranslate]="true" icon="arrow-left" (click)="goBack()" />
  }
</div>
