@use '../../../../content/scss/_header.scss';

.research-group-members {
  padding: 2rem 4rem;
  width: 100%;

  .current-user-icon {
    margin-left: 0.5rem;
    color: var(--p-primary-color);
    font-size: 1rem;
  }
}
