<div class="carousel">
  <!-- ◄ navigation -->
  <jhi-button class="nav nav-left" aria-label="Previous" icon="chevron-left" variant="text" (click)="loadPrev()" [disabled]="isStart()" />

  <!-- cards (1 or 3) -->
  <div class="cards">
    @if (totalRecords() === 0) {
      <p jhiTranslate="evaluation.noApplicationsFound">No Applications found.</p>
    } @else {
      @for (app of visibleApplications(); track i; let i = $index) {
        @if (app) {
          <div class="flex">
            <jhi-application-card [application]="app" [disabled]="i !== middle()" />
          </div>
        } @else {
          <div class="flex">
            <jhi-application-card [application]="app" [placeholder]="true" />
          </div>
        }
      }
    }
  </div>

  <!-- ► navigation -->
  <jhi-button class="nav nav-right" aria-label="Next" icon="chevron-right" variant="text" (click)="loadNext()" [disabled]="isEnd()" />
</div>
