.carousel {
  display: flex;
  align-items: center;
  gap: 10%;
  color: var(--p-text-primary);
}

.cards {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
}

.cards p {
  white-space: nowrap;
  text-align: center;
  min-width: 40%;
}
