<div class="whole-page">
  <jhi-page-ribbon />
  <jhi-header />

  <div [class.is-collapsed]="isSidebarCollapsed()" class="main-page">
    @if (loggedIn()) {
      <jhi-sidebar
        class="sidebar shadow-[1px_0px_3px_0px_rgba(0,0,0,0.1)]"
        [isSidebarCollapsed]="isSidebarCollapsed()"
        (sidebarCollapsedChange)="toggleSidebar()"
      />
    }
    <div #scrollContainer class="content">
      <div class="content-flex">
        <router-outlet (activate)="onActivate()" />
      </div>

      <jhi-footer />
    </div>
  </div>
</div>
