.main-page {
  --sidebar-expanded: 15rem;
  --sidebar-collapsed: 5rem;
  --sidebar-width: var(--sidebar-expanded);
  --sidebar-edge: var(--sidebar-width);

  &.is-collapsed {
    --sidebar-width: var(--sidebar-collapsed);
  }
}
