<div class="whole-page">
  <jhi-page-ribbon />

  <jhi-header />

  <div [style.--sidebar-edge]="isSidebarCollapsed() ? '3.5rem' : '15rem'" class="main-page">
    @if (loggedIn()) {
      <jhi-sidebar class="sidebar" [isSidebarCollapsed]="isSidebarCollapsed()" />

      <!-- Sidebar Collapse Button -->
      <p-button
        class="sidebar-collapse-button"
        (click)="toggleSidebar()"
        [rounded]="true"
        [raised]="true"
        [outlined]="true"
        [icon]="isSidebarCollapsed() ? 'pi pi-angle-double-right' : 'pi pi-angle-double-left'"
        size="small"
        [style]="{ 'background-color': 'var(--p-background-surface)' }"
      />
    }
    <div class="content">
      <div class="content-flex">
        <router-outlet />
      </div>

      <jhi-footer />
    </div>
  </div>
</div>
