<div class="comment">
  <!-- Header -->
  <div class="comment-header">
    <div class="comment-details">
      <span class="comment-author">{{ author() }}</span>
      @if (!isCreate()) {
        <span class="comment-created-at">
          {{ createdAt() | timeAgo }}
        </span>
      }
    </div>

    @if (canEdit() && !isCreate()) {
      <div class="comment-actions">
        <jhi-button variant="text" icon="pen" (click)="startEdit()" [disabled]="isEdit()" size="sm" />
        <jhi-button variant="text" icon="trash-alt" size="sm" (click)="deleted.emit()" />
      </div>
    }
  </div>

  <!-- Body -->
  <div class="comment-body">
    @if (isEdit() || isCreate()) {
      <textarea
        rows="3"
        pTextarea
        [placeholder]="'entity.comment.placeholder' | translate"
        [autoResize]="true"
        class="w-full"
        [value]="draft()"
        (input)="onInput($event)"
      ></textarea>
    } @else {
      <div class="comment-text">{{ text() }}</div>
    }
  </div>

  @if (isEdit()) {
    <div class="comment-controls">
      <jhi-button label="evaluation.cancel" [shouldTranslate]="true" variant="text" severity="primary" (click)="onCancel()" />
      <jhi-button label="evaluation.save" [shouldTranslate]="true" severity="primary" (click)="onSave()" [disabled]="!canSave()" />
    </div>
  } @else if (isCreate()) {
    <div class="comment-controls">
      <jhi-button
        label="evaluation.post"
        [shouldTranslate]="true"
        icon="paper-plane"
        severity="primary"
        (click)="onSave()"
        [disabled]="!canSave()"
      />
    </div>
  }
</div>
