<ng-template #panel1>
  <div class="h-full flex p-1 m-4">
    <jhi-application-creation-page1 class="w-full" [(data)]="applicationData().page1" />
  </div>
</ng-template>
<ng-template #panel2>
  <div class="h-full flex p-1 m-4">
    <jhi-application-creation-page2 [(data)]="applicationData().page2" />
  </div>
</ng-template>
<ng-template #panel3>
  <div class="h-full flex p-1 m-4">
    <jhi-application-creation-page3 [(data)]="applicationData().page3" />
  </div>
</ng-template>

<div class="m-4 p-1">
  <jhi-progress-stepper [steps]="stepData" />
</div>
