.notification-settings {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .setting-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .label {
      .icon {
        color: var(--p-primary-color);
        font-size: 0.9rem;
      }

      .setting-label {
        font-size: 1rem;
        font-weight: 500;
        color: var(--p-text-secondary);
      }
    }
  }

  .tight-divider {
    margin: 0.7rem 0;
  }
}
