@use '../../../../../content/scss/breakpoints' as bp;

.search-filter-sort-bar {
  display: flex;
  flex-direction: column;

  .functionality-bar {
    display: flex;
    flex-flow: row wrap;
    gap: 0.375rem;
  }

  .p-iconfield {
    width: 100%;
    max-width: 18rem;
    min-width: 12rem;
    flex: 1;

    .p-inputtext {
      width: 100%;
      border: var(--p-border-default) solid 0.1rem;
      border-radius: var(--border-radius-md);

      &::placeholder {
        color: var(--p-text-tertiary);
      }

      &:hover {
        border-color: var(--p-neutral-hover-color-outlined);
      }
    }
  }
}

// @media (max-width: bp.$md) {
//   .search-filter-sort-bar {
//     .functionality-bar {
//       .filter-sort {
//         width: 100%;

//         .group {
//           width: 100%;

//           > span {
//             width: 100%;
//           }

//           jhi-filter-multiselect {
//             flex: 1;
//             min-width: 0;
//           }
//         }
//       }
//     }

//     .p-iconfield {
//       min-width: 100%;
//     }
//   }
// }
