<div [class]="isSummaryPage() ? '' : 'page-container'">
  @if (application(); as application) {
    <div class="header-container">
      @if (!previewDetailData()) {
        <div class="page-header">
          <h1 jhiTranslate="entity.application_detail.applicant.header" [translateValues]="{ jobTitle: application.jobTitle }"></h1>
        </div>
        <jhi-application-state-for-applicants [state]="application.applicationState" />
      }
    </div>
    <jhi-application-detail-card [application]="application">
      <div class="slot-right-width" slot-vertical-right>
        @if (documentIds(); as documentIds) {
          <jhi-document-group [documentIds]="documentIds" />
        }
      </div>
    </jhi-application-detail-card>
    <div class="w-full flex justify-end">
      @if (!previewDetailData() && application.applicationState === 'SAVED') {
        <jhi-button
          [label]="'entity.applicationOverview.actions.update' | translate"
          severity="primary"
          icon="arrow-right"
          (click)="onUpdateApplication()"
        />
      }
    </div>
  } @else {
    <p class="text-center">Application not found</p>
  }
</div>
