<jhi-toast></jhi-toast>
<div class="px-4 py-4 text-primary w-full h-remaining-viewheight flex flex-col">
  @if (application(); as application) {
    <header class="header">
      <h1
        jhiTranslate="entity.application_detail.applicant.header"
        [translateValues]="{ jobTitle: application.jobTitle }"
        class="h1-text"
      ></h1>
    </header>
    <jhi-application-detail-card [application]="application">
      <div class="slot-right-width" slot-vertical-right>
        @if (documentIds(); as documentIds) {
          <jhi-document-group [documentIds]="documentIds" />
        }
      </div>
    </jhi-application-detail-card>
  } @else {
    <p class="text-center">Application not found</p>
  }
</div>
