<jhi-confirm-dialog
  class="hidden"
  header="entity.applicationSteps.confirmDialog.header"
  message="entity.applicationSteps.confirmDialog.message"
  label="button.submit"
  [severity]="sendButtonSeverity"
  [confirmIcon]="sendButtonIcon"
  [showOpenButton]="false"
  [visible]="showSendDialog()"
  (confirmed)="onConfirmSend()"
  (closed)="showSendDialog.set(false)"
/>

<ng-template #personalInfoPanel>
  <div class="flex h-full w-full max-w-4xl mx-auto px-4 sm:px-5 md:px-6 lg:px-8 xl:px-10">
    <jhi-application-creation-page1
      class="w-full"
      [(data)]="personalInfoData"
      (valid)="onPersonalInfoDataValidityChanged($event)"
      (changed)="onValueChanged()"
      (educationDataExtracted)="onEducationDataExtracted($event)"
      [applicationIdForDocuments]="applicationId()"
      [documentIdsCv]="documentIds()?.cvDocumentId"
      [requestAuth]="requestAuthCallback"
    />
  </div>
</ng-template>

<ng-template #educationPanel>
  <div class="flex h-full w-full max-w-4xl mx-auto px-4 sm:px-5 md:px-6 lg:px-8 xl:px-10">
    <jhi-application-creation-page2
      class="w-full"
      [(data)]="educationData"
      (valid)="onEducationDataValidityChanged($event)"
      (changed)="onValueChanged()"
      [applicationIdForDocuments]="applicationId()"
      [documentIdsBachelorTranscript]="documentIds()?.bachelorDocumentIds"
      [documentIdsMasterTranscript]="documentIds()?.masterDocumentIds"
    />
  </div>
</ng-template>

<ng-template #applicationDetailsPanel>
  <div class="flex h-full w-full max-w-4xl mx-auto px-4 sm:px-5 md:px-6 lg:px-8 xl:px-10">
    @if (applicationDetailsData()) {
      <jhi-application-creation-page3
        class="w-full"
        [(data)]="applicationDetailsData"
        (changed)="onValueChanged()"
        (valid)="onApplicationDetailsDataValidityChanged($event)"
        [applicationIdForDocuments]="applicationId()"
        [documentIdsReferences]="documentIds()?.referenceDocumentIds"
      />
    }
  </div>
</ng-template>

<ng-template #referencesPanel>
  <div class="flex h-full w-full max-w-4xl mx-auto px-4 sm:px-5 md:px-6 lg:px-8 xl:px-10">
    @if (applicationId()) {
      <jhi-application-creation-references
        class="w-full"
        [applicationId]="applicationId()"
        [requiredCount]="referenceLettersRequired()"
        [referenceLettersConfidential]="referenceLettersConfidential()"
        (valid)="onReferencesValidityChanged($event)"
        (referencesChanged)="onReferencesChanged($event)"
        (referenceLettersConfidentialChanged)="referenceLettersConfidential.set($event)"
      />
    }
  </div>
</ng-template>

<ng-template #summaryPanel>
  <jhi-message severity="warn" classStyling="mb-3" message="entity.applicationPage4.message" [shouldTranslate]="true" />
  <!-- Summary panel -->
  <jhi-application-detail-for-applicant
    [previewDetailData]="previewData()"
    [previewDocumentData]="documentIds()"
    [previewReferences]="references()"
    [isSummaryPage]="true"
    class="w-full"
  />

  <p-divider layout="horizontal">
    <span jhiTranslate="privacy.privacyConsent.title"></span>
  </p-divider>

  <div class="mb-2">
    <p jhiTranslate="privacy.privacyConsent.text"></p>
  </div>

  <jhi-checkbox [control]="additionalInfoForm.controls.privacyAccepted" label="privacy.privacyConsent.confirmationText" [required]="true" />

  <p-divider layout="horizontal">
    <span jhiTranslate="entity.applicationPage4.doctoralRequirements.title"></span>
  </p-divider>

  <div class="mb-2">
    <p jhiTranslate="entity.applicationPage4.doctoralRequirements.text"></p>
  </div>

  <jhi-checkbox
    [control]="additionalInfoForm.controls.doctoralRequirementsAccepted"
    label="entity.applicationPage4.doctoralRequirements.confirmationText"
    [required]="true"
  />
</ng-template>

<ng-template #saving_state_panel>
  <jhi-saving-badge [state]="autoSave.state()" />
</ng-template>

<div class="page-container">
  <div class="page-header">
    <h1>{{ this.title() }}</h1>
  </div>
  <jhi-progress-stepper [steps]="stepData()" [shouldTranslate]="true" />
</div>
