<jhi-confirm-dialog
  #sendConfirmDialog
  class="confirm-dialog"
  [header]="'entity.applicationSteps.confirmDialog.header' | translate"
  [message]="'entity.applicationSteps.confirmDialog.message' | translate"
  [label]="'entity.applicationSteps.buttons.send' | translate"
  [severity]="sendButtonSeverity"
  [confirmIcon]="sendButtonIcon"
  [showOpenButton]="false"
  (confirmed)="onConfirmSend()"
/>

<ng-template #panel1>
  <div class="panel">
    <jhi-application-creation-page1 class="w-full" [(data)]="page1" (valid)="onPage1ValidityChanged($event)" (changed)="onValueChanged()" />
  </div>
</ng-template>

<ng-template #panel2>
  <div class="panel">
    <jhi-application-creation-page2
      class="w-full"
      [(data)]="page2"
      (valid)="onPage2ValidityChanged($event)"
      (changed)="onValueChanged()"
      [applicationIdForDocuments]="applicationId()"
      [documentIdsBachelorTranscript]="documentIds()?.bachelorDocumentDictionaryIds"
      [documentIdsMasterTranscript]="documentIds()?.masterDocumentDictionaryIds"
    />
  </div>
</ng-template>

<ng-template #panel3>
  <div class="panel">
    @if (page3()) {
      <jhi-application-creation-page3
        class="w-full"
        [(data)]="page3"
        (changed)="onValueChanged()"
        (valid)="onPage3ValidityChanged($event)"
        [applicationIdForDocuments]="applicationId()"
        [documentIdsReferences]="documentIds()?.referenceDocumentDictionaryIds"
        [documentIdsCv]="documentIds()?.cvDocumentDictionaryId"
      />
    }
  </div>
</ng-template>

<ng-template #panel4>
  <h2 jhiTranslate="entity.applicationPage4.title"></h2>
  <p jhiTranslate="entity.applicationPage4.message"></p>
  <!-- Summary panel -->
  <div class="summary_page">
    <jhi-application-detail-for-applicant [previewDetailData]="previewData()" [previewDocumentData]="documentIds()" class="w-full" />
  </div>

  <p-divider layout="horizontal">
    <span jhiTranslate="privacy.privacyConsent.title"></span>
  </p-divider>

  <div class="data-privacy-notice mb-2">
    <p jhiTranslate="privacy.privacyConsent.text"></p>
  </div>

  <div [formGroup]="additionalInfoForm">
    <label>
      <input type="checkbox" formControlName="privacyAccepted" />
      <span jhiTranslate="privacy.privacyConsent.confirmationText"></span>
    </label>

    @if (!privacyAcceptedSignal() && submitAttempted()) {
      <div class="error-text mt-1" jhiTranslate="privacy.privacyConsent.errorText"></div>
    }
  </div>
</ng-template>

<ng-template #saving_state_panel>
  <div [className]="savingBadgeCalculatedClass()">
    <fa-icon icon="save" />
    <span class="font-bold" [jhiTranslate]="'entity.applicationSteps.status.' + savingState()"></span>
  </div>
</ng-template>

<div class="page-container">
  <div class="header">
    <h1>{{ this.title() }}</h1>
  </div>
  <span class="font-bold">Technical University of Munich - School of Computation, Information and Technology</span>
</div>

<div class="page-container">
  <jhi-progress-stepper [steps]="stepData()" [shouldTranslate]="true" />
</div>
