h1 {
  font-weight: 700;
  font-size: xx-large;
  color: var(--p-secondary-color);
}

.panel {
  height: 100%;
  display: flex;
}

.saved_color {
  color: var(--p-success-color);
}

.unsaved_color {
  color: var(--p-warn-color);
}
