<jhi-confirm-dialog
  class="confirm-dialog"
  [header]="'entity.applicationSteps.confirmDialog.header' | translate"
  [message]="'entity.applicationSteps.confirmDialog.message' | translate"
  [label]="'button.send' | translate"
  [severity]="sendButtonSeverity"
  [confirmIcon]="sendButtonIcon"
  [showOpenButton]="false"
  [visible]="showSendDialog()"
  (confirmed)="onConfirmSend()"
  (closed)="showSendDialog.set(false)"
/>

<ng-template #personalInfoPanel>
  <div class="flex h-full w-full max-w-4xl mx-auto px-4 sm:px-5 md:px-6 lg:px-8 xl:px-10">
    <jhi-application-creation-page1
      class="w-full"
      [(data)]="personalInfoData"
      (valid)="onPersonalInfoDataValidityChanged($event)"
      (changed)="onValueChanged()"
      (educationDataExtracted)="onEducationDataExtracted($event)"
      [applicationIdForDocuments]="applicationId()"
      [documentIdsCv]="documentIds()?.cvDocumentDictionaryId"
    />
  </div>
</ng-template>

<ng-template #educationPanel>
  <div class="flex h-full w-full max-w-4xl mx-auto px-4 sm:px-5 md:px-6 lg:px-8 xl:px-10">
    <jhi-application-creation-page2
      class="w-full"
      [(data)]="educationData"
      (valid)="onEducationDataValidityChanged($event)"
      (changed)="onValueChanged()"
      [applicationIdForDocuments]="applicationId()"
      [documentIdsBachelorTranscript]="documentIds()?.bachelorDocumentDictionaryIds"
      [documentIdsMasterTranscript]="documentIds()?.masterDocumentDictionaryIds"
    />
  </div>
</ng-template>

<ng-template #applicationDetailsPanel>
  <div class="flex h-full w-full max-w-4xl mx-auto px-4 sm:px-5 md:px-6 lg:px-8 xl:px-10">
    @if (applicationDetailsData()) {
      <jhi-application-creation-page3
        class="w-full"
        [(data)]="applicationDetailsData"
        (changed)="onValueChanged()"
        (valid)="onApplicationDetailsDataValidityChanged($event)"
        [applicationIdForDocuments]="applicationId()"
        [documentIdsReferences]="documentIds()?.referenceDocumentDictionaryIds"
      />
    }
  </div>
</ng-template>

<ng-template #summaryPanel>
  <jhi-message severity="warn" styleClass="mb-3" message="entity.applicationPage4.message" [shouldTranslate]="true" />
  <!-- Summary panel -->
  <jhi-application-detail-for-applicant
    [previewDetailData]="previewData()"
    [previewDocumentData]="documentIds()"
    [isSummaryPage]="true"
    class="w-full"
  />

  <p-divider layout="horizontal">
    <span jhiTranslate="privacy.privacyConsent.title"></span>
  </p-divider>

  <div class="data-privacy-notice mb-2">
    <p jhiTranslate="privacy.privacyConsent.text"></p>
  </div>

  <div [formGroup]="additionalInfoForm">
    <div class="flex align-items-center gap-2">
      <p-checkbox formControlName="privacyAccepted" [binary]="true" size="small" />
      <label><span class="required mr-1">*</span><span jhiTranslate="privacy.privacyConsent.confirmationText"></span></label>
    </div>

    @if (!privacyAcceptedSignal() && submitAttempted()) {
      <div class="error-text mt-1" jhiTranslate="privacy.privacyConsent.errorText"></div>
    }
  </div>

  <p-divider layout="horizontal">
    <span jhiTranslate="entity.applicationPage4.doctoralRequirements.title"></span>
  </p-divider>

  <div class="data-privacy-notice mb-2">
    <p jhiTranslate="entity.applicationPage4.doctoralRequirements.text"></p>
  </div>

  <div [formGroup]="additionalInfoForm">
    <div class="flex align-items-center">
      <div class="relative mr-2">
        <p-checkbox formControlName="doctoralRequirementsAccepted" [binary]="true" size="small" />
        <span class="required">*</span>
      </div>
      <label jhiTranslate="entity.applicationPage4.doctoralRequirements.confirmationText"></label>
    </div>

    @if (!doctoralRequirementsAcceptedSignal() && submitAttempted()) {
      <div class="error-text mt-1" jhiTranslate="entity.applicationPage4.doctoralRequirements.missingConfirmation"></div>
    }
  </div>
</ng-template>

<ng-template #saving_state_panel>
  <div [className]="savingBadgeCalculatedClass()">
    <fa-icon icon="save" />
    <span class="font-bold" [jhiTranslate]="'entity.applicationSteps.status.' + savingState()"></span>
  </div>
</ng-template>

<div class="page-container">
  <div class="page-header">
    <h1>{{ this.title() }}</h1>
  </div>
  <jhi-progress-stepper [steps]="stepData()" [shouldTranslate]="true" />
</div>
