.confirm-dialog {
  display: none;
}

.saved_color {
  color: var(--p-success-color);
}

.failed_color {
  color: var(--p-danger-color);
}

.saving_color {
  color: var(--p-warn-color);
}

.external-link {
  color: var(--p-primary-color);
  text-decoration: none;
  cursor: pointer;
  text-decoration: underline;
}
