.confirm-dialog {
  display: none;
}

.panel {
  height: 100%;
  display: flex;
}

.saved_color {
  color: var(--p-success-color);
}

.failed_color {
  color: var(--p-danger-color);
}

.saving_color {
  color: var(--p-warn-color);
}
