<div class="flex items-center justify-between p-3 bg-background-default border rounded border-border-default h-16">
  <div class="flex items-center">
    <!-- Name -->
    <span class="text-sm font-bold text-text-primary w-24 md:w-48 lg:w-64 truncate">
      {{ interviewee().user?.firstName }} {{ interviewee().user?.lastName }}
    </span>

    <!-- Status Group -->
    <div class="flex items-center gap-3">
      <!-- Status Bar -->
      <div
        class="w-1 h-6 mb-2 rounded-full"
        [class.bg-primary-200]="interviewee().state === IntervieweeState.UNCONTACTED"
        [class.bg-primary-300]="interviewee().state === IntervieweeState.INVITED"
        [class.bg-primary-400]="interviewee().state === IntervieweeState.SCHEDULED"
        [class.bg-primary-default]="interviewee().state === IntervieweeState.COMPLETED"
      ></div>

      <!-- Status Text -->
      <span class="text-text-secondary text-sm whitespace-nowrap" [jhiTranslate]="'interview.interviewees.filter.' + interviewee().state">
      </span>
    </div>
  </div>

  <!-- Actions for UNCONTACTED state  -->
  @if (interviewee().state === IntervieweeState.UNCONTACTED) {
    <jhi-button
      [label]="'interview.interviewees.sendInvitations'"
      [shouldTranslate]="true"
      [icon]="'paper-plane'"
      [variant]="'outlined'"
      [severity]="'primary'"
      (click)="$event.stopPropagation()"
    />
  }
</div>
