.bar {
  position: relative;
  width: 100%;
  min-width: 10rem;
  max-width: 15rem;
  height: 1.25rem;
  border-radius: 0.625rem;
  border: 0.02rem solid var(--p-text-primary, #010205);
  background: var(--p-background-surface-alt, #e6e6e6);
}

.marker {
  position: absolute;
  padding: 0.01rem;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 1rem;
  border-radius: 1rem;
}
