.rating {
  display: flex;
  gap: 2%;
  width: 100%;
  max-width: 21rem;
  height: 1rem;

  border-radius: 2rem;
  overflow: hidden;

  .section {
    flex: 1;
    transition: background-color 0.2s ease;

    &.selectable:hover {
      filter: brightness(0.8);
    }
  }
}
