<div class="flex flex-col items-stretch gap-5 w-72 p-8 rounded-[1.25rem] border-4 border-text-on-primary bg-text-on-primary">
  <div class="flex items-center gap-3 self-stretch">
    <img [src]="imageSrc()" alt="{{ name() }}" class="w-12 h-12 rounded-full object-cover" />
    <div class="flex flex-col items-start flex-1">
      <div class="self-stretch text-base text-base-black font-semibold leading-5 [font-size:1.1rem]">{{ name() }}</div>
      <div class="self-stretch text-base-black leading-5 [font-size:0.9rem]">{{ field() }}</div>
    </div>
  </div>
  <div class="flex gap-3 items-start self-stretch">
    <div class="w-[0.2rem] bg-accent-default self-stretch"></div>
    <p class="flex-1 text-base-black text-xl leading-6 italic">{{ quote() }}</p>
  </div>
</div>
