<p-dialog
  [visible]="visible()"
  (visibleChange)="onVisibleChange($event)"
  [modal]="modal()"
  [draggable]="draggable()"
  [resizable]="resizable()"
  [dismissableMask]="dismissableMask()"
  [closeOnEscape]="closeOnEscape()"
  [closable]="closable()"
  [showHeader]="showHeader()"
  [styleClass]="styleClass()"
  [style]="mergedStyle()"
  [header]="useCustomHeader() ? '' : shouldTranslateHeader() ? (header() | translate) : header()"
  [contentStyleClass]="contentStyleClass()"
  [contentStyle]="contentStyle()"
>
  @if (useCustomHeader()) {
    <ng-template pTemplate="header">
      <ng-content select="[dialog-header]" />
    </ng-template>
  }
  <ng-content />
</p-dialog>
