<p-dialog
  [visible]="visible()"
  (visibleChange)="onVisibleChange($event)"
  [modal]="modal()"
  [draggable]="draggable()"
  [resizable]="resizable()"
  [dismissableMask]="dismissableMask()"
  [closeOnEscape]="closeOnEscape()"
  [closable]="closable()"
  [showHeader]="showHeader()"
  [class]="classStyling()"
  [style]="mergedStyle()"
  [header]="displayHeader()"
  [contentStyleClass]="contentStyleClass()"
  [contentStyle]="contentStyle()"
  [appendTo]="appendTo()"
>
  <ng-content />
</p-dialog>
