<div class="doctorate-form-container">
  <header>
    <h1>Create a new Doctorate Position</h1>
  </header>
  <div class="stepper">
    <div (click)="currentStep = 1" [ngClass]="{ active: currentStep === 1, completed: currentStep > 1 }" class="step">
      <div class="step-number">1</div>
      <div class="step-label">Basic Information</div>
    </div>
    <div class="step-connector"></div>
    <div (click)="currentStep = 2" [ngClass]="{ active: currentStep === 2, completed: currentStep > 2 }" class="step">
      <div class="step-number">2</div>
      <div class="step-label">Position Details</div>
    </div>
    <div class="step-connector"></div>
    <div (click)="currentStep = 3" [ngClass]="{ active: currentStep === 3 }" class="step">
      <div class="step-number">3</div>
      <div class="step-label">Additional Information</div>
    </div>
  </div>
  <!-- Step 1: Basic Information -->
  @if (currentStep === 1 && !isLoading()) {
    <div class="form-step">
      <form [formGroup]="basicInfoForm">
        <h2>Basic Information</h2>
        <p>Provide the key details about the doctoral position, such as title, field of study, and supervising professor.</p>
        <div class="form-field">
          <jhi-string-input
            [label]="'Job Title'"
            [placeholder]="'e.g. Doctoral Position in Robotics'"
            [required]="true"
            [labelPosition]="'top'"
            [model]="basicInfoForm.get('title')?.value"
            (modelChange)="onSelectionChange(basicInfoForm, 'title', $event)"
            [control]="basicInfoForm.get('title') ?? undefined"
          />
        </div>

        <div class="form-row">
          <div class="form-field">
            <jhi-string-input
              [label]="'Research Area'"
              [placeholder]="'e.g. Machine Learning, Human-Computer Interaction'"
              [required]="true"
              icon="circle-info"
              [model]="basicInfoForm.get('researchArea')?.value"
              (modelChange)="onSelectionChange(basicInfoForm, 'researchArea', $event)"
              [control]="basicInfoForm.get('researchArea') ?? undefined"
              tooltipText="Specify the main Research Area the doctoral position focuses on."
            />
          </div>

          <div class="form-field">
            <jhi-dropdown
              [(selected)]="basicInfoForm.controls['fieldOfStudies'].value"
              (selectedChange)="onSelectionChange(basicInfoForm, 'fieldOfStudies', $event)"
              [iconField]="'icon'"
              [items]="fieldsOfStudies"
              [labelPosition]="'top'"
              [label]="'Field Of Studies'"
              [required]="true"
              [placeholder]="'Select a Field of Studies...'"
              [width]="'100%'"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-field input-with-icon">
            <label for="supervisingProfessor"> Supervising Professor <span class="required">*</span> </label>
            <div class="icon-input-wrapper">
              <fa-icon [icon]="['fas', 'user']" class="input-icon" />
              <input [readonly]="true" formControlName="supervisingProfessor" id="supervisingProfessor" type="text" />
            </div>
          </div>

          <div class="form-field">
            <jhi-dropdown
              [(selected)]="basicInfoForm.controls['location'].value"
              (selectedChange)="onSelectionChange(basicInfoForm, 'location', $event)"
              [iconField]="'icon'"
              [items]="locations"
              [labelPosition]="'top'"
              [label]="'Location'"
              [required]="true"
              [placeholder]="'Select a Location...'"
              [width]="'100%'"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-field">
            <jhi-datepicker
              [selectedDate]="basicInfoForm.get('startDate')?.value"
              (selectedDateChange)="onSelectionChange(basicInfoForm, 'startDate', $event)"
              [label]="'Start Date'"
              [required]="true"
              [placeholder]="'Select a Start Date...'"
              [width]="'100%'"
            />
          </div>
          <div class="form-field">
            <jhi-dropdown
              [(selected)]="basicInfoForm.controls['workload'].value"
              (selectedChange)="onSelectionChange(basicInfoForm, 'workload', $event)"
              [iconField]="'icon'"
              [items]="workloadOptions"
              [labelPosition]="'top'"
              [label]="'Workload'"
              [required]="true"
              [placeholder]="'Select a Workload...'"
              [width]="'100%'"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-field">
            <jhi-dropdown
              [(selected)]="basicInfoForm.controls['contractDuration'].value"
              (selectedChange)="onSelectionChange(basicInfoForm, 'contractDuration', $event)"
              [iconField]="'icon'"
              [items]="contractDurations"
              [labelPosition]="'top'"
              [label]="'Contract Duration'"
              [required]="true"
              [placeholder]="'Select a Contract Duration...'"
              [width]="'100%'"
            />
          </div>
          <div class="form-field">
            <jhi-dropdown
              [(selected)]="basicInfoForm.controls['fundingType'].value"
              (selectedChange)="onSelectionChange(basicInfoForm, 'fundingType', $event)"
              [iconField]="'icon'"
              [items]="fundingTypes"
              [labelPosition]="'top'"
              [label]="'Funding Type'"
              [required]="true"
              [placeholder]="'Select a Funding Type...'"
              [width]="'100%'"
            />
          </div>
        </div>
      </form>

      <div class="form-actions">
        <jhi-button [label]="'Cancel'" [icon]="'chevron-left'" [severity]="'primary'" [variant]="'outlined'" [disabled]="false" />
        <div class="action-right">
          <jhi-button-group [data]="nextAndSaveButtons()" />
        </div>
      </div>
    </div>
  }
  <!-- Step 2: Position Details -->
  @if (currentStep === 2) {
    <div class="form-step">
      <form [formGroup]="positionDetailsForm">
        <h2>Position Details</h2>
        <p>
          Describe the research focus, main tasks, and expectations for the candidate. Define the minimum requirements and any preferred
          qualifications for applicants.
        </p>
        <div class="form-field">
          <label for="description"
            >Job Description
            <span class="required">*</span>
            <fa-icon
              [icon]="['fas', 'circle-info']"
              pTooltip="Help the applicant understand the research focus and goals of the position."
              tooltipPosition="top"
            />
          </label>
          <div class="input-with-icon">
            <textarea
              formControlName="description"
              maxlength="1000"
              id="description"
              placeholder="Describe the scope and focus of the position..."
              rows="10"
            ></textarea>
          </div>
          <div class="form-footer">
            <small class="description-helper"
              >Describe the research context, goals, and overall scope of the position. Keep it concise but informative.</small
            >
            <small class="char-counter"> {{ descriptionLength }}/1000 </small>
          </div>
        </div>
        <div class="form-field">
          <label for="tasks"
            >Tasks
            <span class="required">*</span>
            <fa-icon
              [icon]="['fas', 'circle-info']"
              pTooltip="Provide a clear picture of the position’s responsibilities and activities."
              tooltipPosition="top"
            />
          </label>
          <div class="input-with-icon">
            <textarea
              formControlName="tasks"
              maxlength="1000"
              id="tasks"
              placeholder="List the main responsibilities..."
              rows="8"
            ></textarea>
          </div>
          <div class="form-footer">
            <small class="description-helper"
              >List the main responsibilities or activities the candidate will be involved in. Bullet points are recommended.</small
            >
            <small class="char-counter"> {{ tasksLength }}/1000 </small>
          </div>
        </div>
        <div class="form-field">
          <label for="requirements"
            >Eligibility Criteria
            <span class="required">*</span>
            <fa-icon
              [icon]="['fas', 'circle-info']"
              pTooltip="Ensure the applicant knows what qualifications are expected."
              tooltipPosition="top"
            />
          </label>
          <div class="input-with-icon">
            <textarea
              formControlName="requirements"
              maxlength="1000"
              id="requirements"
              placeholder="List the minimum requirements for applicants..."
              rows="10"
            ></textarea>
          </div>
          <div class="form-footer">
            <small class="description-helper"
              >Specify the minimum requirements (e.g., degree, grades, language proficiency) applicants must fulfill.</small
            >
            <small class="char-counter"> {{ requirementsLength }}/1000 </small>
          </div>
        </div>
      </form>
      <div class="form-actions">
        <jhi-button
          [label]="'Back'"
          [icon]="'chevron-left'"
          [severity]="'primary'"
          [variant]="'outlined'"
          [disabled]="false"
          (click)="previousStep()"
        />
        <div class="action-right">
          <jhi-button-group [data]="nextAndSaveButtons()" />
        </div>
      </div>
    </div>
  }
  <!-- Step 3: Additional Information -->
  @if (currentStep === 3) {
    <div class="form-step">
      <form [formGroup]="additionalInformationForm">
        <section class="extras-section">
          <h2>Extras</h2>
          <p>Add custom questions that applicants will see in the application form.</p>
          <!--        Not implemented yet-->
          <!--        <div class="custom-questions-dropdown">-->
          <!--          <div class="dropdown-header">-->
          <!--            <span>Custom Questions</span>-->
          <!--            <span class="dropdown-icon">▼</span>-->
          <!--          </div>-->
          <!--        </div>-->
          <div class="data-privacy-notice">
            <p>
              A Data Privacy Statement from the Technical University of Munich (TUM) will automatically be attached to this job. For more
              information, please visit:
              <a class="tum-link" href="https://www.community.tum.de/en/privacy-policy/">TUM Data Protection Information</a>.
            </p>
          </div>
        </section>
      </form>
      <div class="form-actions">
        <jhi-button
          [label]="'Back'"
          [icon]="'chevron-left'"
          [severity]="'primary'"
          [variant]="'outlined'"
          [disabled]="false"
          (click)="previousStep()"
        />
        <div class="action-right">
          <jhi-button-group [data]="publishAndSaveButtons()" />
        </div>
      </div>
    </div>
  }
</div>
