<p>Dear ${applicantFirstName!} ${applicantLastName!},</p>

<p>
  Thank you for your application for the position <strong>${jobTitle!}</strong> at our research group
  <strong>${ researchGroupName!}</strong>. We truly appreciate the time and effort you invested in preparing your materials and expressing
  your interest.
</p>

<p>
  After careful review, we found that your profile does not fully meet the specific requirements of this position. As such, we will not be
  moving forward with your application.
</p>

<p>
  We understand that applying to doctoral positions requires significant preparation, and we sincerely value your interest in joining our
  research group. We encourage you to explore future opportunities within our research group.
</p>

<p>Wishing you all the best in your academic and professional journey.</p>

<p>Best regards,<br />The ${researchGroupName!} Team</p>
