<p>Dear ${APPLICANT_FIRST_NAME!} ${APPLICANT_LAST_NAME!},</p>

<p>Thank you for your time and your interest in the <strong>${JOB_TITLE!}</strong> position.
  Unfortunately, we have to cancel the scheduled interview with our chair ${RESEARCH_GROUP_NAME!}.</p>

<p><strong>Original date &amp; time:</strong> ${INTERVIEW_DATE!} ${INTERVIEW_START_TIME!}–${INTERVIEW_END_TIME!}<br>
  <strong>Location:</strong> ${INTERVIEW_LOCATION!}</p>

<p>Please note the updated calendar invitation attached.</p>

<p>Kind regards,<br>
  ${RESEARCH_GROUP_NAME!}</p>
