<p>Dear ${APPLICANT_FIRST_NAME!} ${APPLICANT_LAST_NAME!},</p>

<p>
  a new job posting in the subject area <strong>${SUBJECT_AREA!}</strong> has been released at the research group
  <strong>${RESEARCH_GROUP_NAME!}</strong>.
</p>

<p><strong>Position:</strong> ${JOB_TITLE!}</p>

<p><strong>Supervising Professor:</strong> ${SUPERVISING_PROFESSOR_FIRST_NAME!} ${SUPERVISING_PROFESSOR_LAST_NAME!}</p>

<p>You can find more information in the job posting on TUMApply.</p>

<@ui.ctaButton href=((url!'') + "/job/detail/" + (JOB_ID!'')) label="View Position" />

<p>Best regards,<br />Your TUMApply Team</p>
