.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.4rem;
  text-align: center;
  padding: 1rem;
  max-width: 25rem;
  width: 100%;
  pointer-events: none;

  .title {
    color: var(--p-text-primary);
    font-size: 1.5rem;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    /* min-height = font-size (1.5rem) × line-height (1.2) × number of lines (2) */
    min-height: calc(1.5rem * 1.2 * 2);
    padding-top: 1rem;
  }

  .description {
    color: var(--p-text-primary);
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
    /* height = font-size (1rem) × line-height (1.4) × lines (3) */
    height: calc(1rem * 1.4 * 3);
  }
}
