<div class="page-container">
  <div class="max-w-[75rem] mx-auto">
    <h1 class="text-[2rem] font-bold" jhiTranslate="imprint.headline"></h1>

    @for (section of sections; track section.titleKey) {
      <section class="mt-8">
        <h2 class="text-2xl font-semibold mb-4" [jhiTranslate]="section.titleKey"></h2>

        <span class="block text-base text-justify whitespace-pre-line" [class]="section.extraClasses" [jhiTranslate]="section.contentKey">
        </span>
      </section>
    }
  </div>
</div>
