<div class="page-container">
  <div class="max-w-[75rem] mr-auto">
    <h1 class="text-[2rem] font-bold" jhiTranslate="imprint.headline"></h1>

    <h2 class="text-2xl font-semibold mt-8 mb-4" jhiTranslate="imprint.publisher.headline"></h2>
    <span class="block text-base text-justify whitespace-pre-line leading-8" jhiTranslate="imprint.publisher.contact"></span>

    <h2 class="text-2xl font-semibold mt-8 mb-4" jhiTranslate="imprint.authorized.headline"></h2>
    <span class="block text-base text-justify whitespace-pre-line" jhiTranslate="imprint.authorized.text"></span>

    <h2 class="text-2xl font-semibold mt-8 mb-4" jhiTranslate="imprint.vat.headline"></h2>
    <span class="block text-base text-justify whitespace-pre-line" jhiTranslate="imprint.vat.text"></span>

    <h2 class="text-2xl font-semibold mt-8 mb-4" jhiTranslate="imprint.responsibility.headline"></h2>
    <span class="block text-base text-justify whitespace-pre-line leading-8" jhiTranslate="imprint.responsibility.text"></span>

    <h2 class="text-2xl font-semibold mt-8 mb-4" jhiTranslate="imprint.tou.headline"></h2>
    <span class="block text-base text-justify whitespace-pre-line" jhiTranslate="imprint.tou.text"></span>

    <h2 class="text-2xl font-semibold mt-8 mb-4" jhiTranslate="imprint.liability.headline"></h2>
    <span class="block text-base text-justify whitespace-pre-line" jhiTranslate="imprint.liability.text"></span>

    <h2 class="text-2xl font-semibold mt-8 mb-4" jhiTranslate="imprint.links.headline"></h2>
    <span class="block text-base text-justify whitespace-pre-line" jhiTranslate="imprint.links.text"></span>
  </div>
</div>
