.imprint-page {
  color: var(--p-text-primary);
  padding: 3rem 5rem 1.5rem 1.5rem;
  max-width: 75rem;
  margin-right: auto;

  .headline {
    font-size: 2.3rem;
    font-weight: 700;
  }

  .subheadline {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  .text {
    display: block;
    font-size: 1rem;
  }

  .text + .text {
    margin-top: 0.2rem;
  }

  .textbloc {
    display: block;
    font-size: 1rem;
  }

  .textbloc + .textbloc {
    margin-top: 0.8rem;
  }
}
