<div class="imprint-page">
  <h1 class="headline" jhiTranslate="imprint.headline"></h1>

  <h2 class="subheadline" jhiTranslate="imprint.publisher.headline"></h2>
  <span class="text bloc" jhiTranslate="imprint.publisher.contact"></span>

  <h2 class="subheadline" jhiTranslate="imprint.authorized.headline"></h2>
  <span class="text" jhiTranslate="imprint.authorized.text"></span>

  <h2 class="subheadline" jhiTranslate="imprint.vat.headline"></h2>
  <span class="text" jhiTranslate="imprint.vat.text"></span>

  <h2 class="subheadline" jhiTranslate="imprint.responsibility.headline"></h2>
  <span class="text bloc" jhiTranslate="imprint.responsibility.text"></span>

  <h2 class="subheadline" jhiTranslate="imprint.tou.headline"></h2>
  <span class="text" jhiTranslate="imprint.tou.text"></span>

  <h2 class="subheadline" jhiTranslate="imprint.liability.headline"></h2>
  <span class="text" jhiTranslate="imprint.liability.text"></span>

  <h2 class="subheadline" jhiTranslate="imprint.links.headline"></h2>
  <span class="text" jhiTranslate="imprint.links.text"></span>
</div>
