<nav class="flex w-full items-center justify-between bg-surface p-3 shadow-md" data-cy="navbar">
  <div class="flex items-center">
    <a (click)="collapseNavbar()" class="logo flex items-center mr-6" routerLink="/">
      <span class="logo-img"></span>
      <span class="navbar-title text-lg font-semibold" jhiTranslate="global.title">TUMApply</span>
      <span class="navbar-version ml-1">{{ version }}</span>
    </a>
  </div>

  <!-- Mobile menu button -->
  <div class="lg:hidden">
    <button (click)="toggleNavbar()" aria-label="Toggle navigation" class="p-button p-button-text p-button-rounded" type="button">
      <fa-icon icon="bars" />
    </button>
  </div>

  <!-- Navigation items -->
  <div [class.hidden]="isNavbarCollapsed()" class="lg:flex w-full lg:w-auto lg:flex-grow lg:justify-end">
    <ul class="flex flex-col lg:flex-row lg:items-center space-y-2 lg:space-y-0 lg:space-x-4">
      <li>
        <button
          pButton
          pRipple
          (click)="toggleTheme()"
          aria-label="Toggle theme"
          class="p-button-text p-button-rounded"
          title="Toggle theme"
          type="button"
        >
          <fa-icon icon="circle-half-stroke" class="mr-1" />
          <span jhiTranslate="global.menu.colorTheme"></span>
        </button>
      </li>

      <li>
        <a
          (click)="collapseNavbar()"
          class="flex items-center p-2 rounded-md hover:bg-surface-hover"
          routerLink="/"
          routerLinkActive="bg-surface-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <fa-icon icon="home" class="mr-1" />
          <span jhiTranslate="global.menu.home">Home</span>
        </a>
      </li>

      @if (account() !== null) {
        <li>
          <p-menu #entityMenu [popup]="true" [model]="entitiesNavbarItems" appendTo="body" />
          <button pButton pRipple type="button" (click)="entityMenu.toggle($event)" class="p-button-text p-button-rounded" data-cy="entity">
            <fa-icon icon="th-list" class="mr-1" />
            <span jhiTranslate="global.menu.entities.main">Entities</span>
          </button>
        </li>
      }

      <li *jhiHasAnyAuthority="'ROLE_ADMIN'">
        <p-menu #adminMenu [popup]="true" [model]="adminNavItems" appendTo="body" />
        <button pButton pRipple type="button" (click)="adminMenu.toggle($event)" class="p-button-text p-button-rounded" data-cy="adminMenu">
          <fa-icon icon="users-cog" class="mr-1" />
          <span jhiTranslate="global.menu.admin.main">Administration</span>
        </button>
      </li>

      @if (languages && languages.length > 1) {
        <li>
          <p-menu
            #langMenu
            [popup]="true"
            [model]="languageNavItems"
            styleClass="language-menu"
            appendTo="body"
            [showTransitionOptions]="'0ms'"
            [hideTransitionOptions]="'0ms'"
          />
          <button pButton pRipple type="button" (click)="langMenu.toggle($event)" class="p-button-text p-button-rounded">
            <fa-icon icon="flag" class="mr-1" />
            <span jhiTranslate="global.menu.language">Language</span>
          </button>
        </li>
      }

      <li>
        <p-menu #accountMenu [popup]="true" [model]="accountNavItems" appendTo="body" />
        @let accountRef = account();
        <button
          pButton
          pRipple
          type="button"
          (click)="accountMenu.toggle($event)"
          class="p-button-text p-button-rounded"
          data-cy="accountMenu"
        >
          @if (!accountRef?.imageUrl) {
            <fa-icon icon="user" class="mr-1" />
            <span jhiTranslate="global.menu.account.main">Account</span>
          } @else {
            <img [src]="accountRef!.imageUrl" class="profile-image rounded-full mr-1" alt="Avatar" />
            <span>{{ accountRef!.firstName }}</span>
          }
        </button>
      </li>
    </ul>
  </div>
</nav>
