<div class="page-container">
  <jhi-confirm-dialog
    #approveDialog
    [label]="'button.confirm' | translate"
    [header]="'researchGroup.adminView.confirmDialog.header' | translate"
    [message]="'researchGroup.adminView.confirmDialog.message' | translate"
    severity="success"
    confirmIcon="check"
    [showOpenButton]="false"
    (confirmed)="onConfirmApprove()"
  />

  <jhi-confirm-dialog
    #denyDialog
    [label]="'button.deny' | translate"
    [header]="'researchGroup.adminView.denyConfirmDialog.header' | translate"
    [message]="'researchGroup.adminView.denyConfirmDialog.message' | translate"
    severity="danger"
    confirmIcon="times"
    [showOpenButton]="false"
    (confirmed)="onConfirmDeny()"
  />

  <jhi-confirm-dialog
    #withdrawDialog
    [label]="'button.withdraw' | translate"
    [header]="'researchGroup.adminView.withdrawConfirmDialog.header' | translate"
    [message]="'researchGroup.adminView.withdrawConfirmDialog.message' | translate"
    severity="danger"
    confirmIcon="withdraw"
    [showOpenButton]="false"
    (confirmed)="onConfirmWithdraw()"
  />
  <div class="header-container">
    <div class="page-header">
      <h1 jhiTranslate="researchGroup.adminView.title" class="h1-text"></h1>
    </div>
    <jhi-button
      [label]="'researchGroup.adminView.createButton'"
      icon="plus"
      severity="primary"
      (click)="onCreateResearchGroup()"
      [shouldTranslate]="true"
    />
  </div>
  <div class="body">
    <jhi-search-filter-sort-bar
      [searchText]="'researchGroup.adminView.searchFilterSortBar.searchText' | translate"
      [totalRecords]="totalRecords()"
      [singleEntity]="'researchGroup.adminView.group' | translate"
      [multipleEntities]="'researchGroup.adminView.groups' | translate"
      [filters]="filters"
      (searchOutput)="onSearchEmit($event)"
      (filterOutput)="onFilterEmit($event)"
      (sortOutput)="loadOnSortEmit($event)"
      [sortableFields]="sortableFields"
    />

    <div class="table-wrapper">
      <jhi-dynamic-table
        [columns]="columns()"
        [data]="researchGroups()"
        [totalRecords]="totalRecords()"
        [page]="page()"
        [rows]="pageSize()"
        [selectable]="true"
        (lazyLoad)="loadOnTableEmit($event)"
      />
    </div>

    <ng-template #actionTemplate let-researchGroup>
      <div class="flex space-x-2">
        <jhi-button
          icon="eye"
          [ariaLabel]="'button.view' | translate"
          [tooltip]="'button.view' | translate"
          severity="primary"
          variant="text"
          (click)="onViewResearchGroup(researchGroup.id)"
        />
        <jhi-button
          icon="ellipsis-vertical"
          [tooltip]="getMenuItems()(researchGroup).length > 0 ? ('button.actions' | translate) : ('button.noFurtherActions' | translate)"
          severity="primary"
          variant="text"
          (click)="menu.toggle($event)"
          [disabled]="getMenuItems()(researchGroup).length === 0"
        />
        <jhi-menu #menu [items]="getMenuItems()(researchGroup)" [shouldTranslate]="true" />
      </div>
    </ng-template>

    <ng-template #stateTemplate let-researchGroup>
      <jhi-tag
        [text]="
          stateTextMap()[researchGroup.status]
            ? (stateTextMap()[researchGroup.status] | translate)
            : ('researchGroup.adminView.groupState.unknown' | translate)
        "
        [color]="stateSeverityMap()[researchGroup.status] || 'info'"
        width="8rem"
      />
    </ng-template>
  </div>
</div>
