<div class="page-container">
  <div class="page-header">
    <h1 jhiTranslate="researchGroup.adminView.title" class="h1-text"></h1>
  </div>
  <div class="body">
    <jhi-search-filter-sort-bar
      [searchText]="'researchGroup.adminView.searchFilterSortBar.searchText' | translate"
      [totalRecords]="totalRecords()"
      [singleEntity]="'researchGroup.adminView.group' | translate"
      [multipleEntities]="'researchGroup.adminView.groups' | translate"
      [filters]="filters"
      (searchOutput)="onSearchEmit($event)"
      (filterOutput)="onFilterEmit($event)"
      (sortOutput)="loadOnSortEmit($event)"
      [sortableFields]="sortableFields"
    />

    <div class="table-wrapper">
      <jhi-dynamic-table
        [columns]="columns()"
        [data]="researchGroups()"
        [totalRecords]="totalRecords()"
        [page]="page()"
        [rows]="pageSize()"
        [selectable]="true"
        (lazyLoad)="loadOnTableEmit($event)"
      />
    </div>
  </div>
</div>
