.p-dialog {
  background: transparent;
  box-shadow: none;
  border: none;
  max-width: 45rem;
}

.confirm-dialog-sm {
  width: 400px;
  max-width: 90vw;
}

.confirm-dialog-md {
  width: 600px;
  max-width: 90vw;
}

.confirm-dialog-lg {
  width: 800px;
  max-width: 95vw;
}
