<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1><span jhiTranslate="home.title">Welcome to TUMApply!</span></h1>

    <jhi-button (click)="goToJobCreation()" icon="tasks" label="Create a Job" severity="secondary" />
    <jhi-button
      (click)="this.router.navigate(['/application/create/00000000-0000-0000-0000-000000010006'])"
      label="Apply to the position of 'Machine Learning for Climate Science'"
      severity="secondary"
    />
    <jhi-button
      severity="secondary"
      label="Edit the application of 'Human-Computer Interaction'"
      (click)="this.router.navigate(['/application/edit/bce85235-25b7-46c2-988c-9290be79dc57'])"
    />
    <jhi-button (click)="this.goToApplicationOverviewForApplicants()" label="View my Applications" severity="secondary" icon="table-list" />

    <jhi-button (click)="goToJobsOverview()" icon="tasks" label="View Current Job Postings" severity="secondary" />
  </div>
</div>
