/* ==========================================================================
Main page styles
========================================================================== */
.row {
  background: var(--p-background-default);
}

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('content/images/jhipster_family_member_2.svg') no-repeat center top;
  background-size: contain;
}

h1 {
  color: var(--p-text-primary);
}

jhi-button {
  display: inline-block;
  margin-bottom: 1rem;
  margin-right: 1rem;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('content/images/jhipster_family_member_2.svg') no-repeat center top;
    background-size: contain;
  }
}
