.page-container {
  .settings-sub-heading {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    gap: 1rem;
    align-items: center;

    font-weight: 600;
    font-size: 1.5rem;
    color: var(--p-primary-color);
  }

  .content-container {
    padding: 1rem;
  }

  .section-divider {
    height: 0;
    border-bottom: 1px solid var(--p-content-border-color);
    margin: 0 0 1rem;
  }
}
