<div class="page-container">
  <div class="page-header">
    <h1 jhiTranslate="settings.header">Settings</h1>
  </div>

  <jhi-tab-view [tabs]="tabs()" [activeTabId]="activeTab()" [lazyLoad]="true" (tabChange)="onTabChange($event)">
    <ng-template jhiTabPanel="general">
      <div class="mb-4">
        <div class="text-lg font-semibold mb-2">
          <h2 jhiTranslate="settings.appearance.header"></h2>
        </div>
        <div class="pb-4">
          <div class="flex flex-row items-center justify-between">
            <label class="text-base font-medium text-text-secondary" jhiTranslate="settings.appearance.theme.label"></label>
            <jhi-select
              [items]="themeOptions"
              [selected]="selectedTheme()"
              (selectedChange)="onThemeChange($event)"
              [translateItems]="true"
            />
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template jhiTabPanel="notifications">
      <jhi-email-settings [currentRole]="role()" />
    </ng-template>

    <ng-template jhiTabPanel="personal-information">
      <div class="px-4 xl:px-32 2xl:px-64">
        <jhi-personal-information-settings />
      </div>
    </ng-template>
  </jhi-tab-view>
</div>
