@for (document of documents(); track document.document.id) {
  <jhi-sub-section [titleKey]="document.label" [titleParams]="document.labelParams">
    <div class="h-60 w-full">
      <jhi-document-viewer [documentId]="document.document" />
    </div>
  </jhi-sub-section>
}
@if (hasDocuments()) {
  @if (extraDocuments().length > 0) {
    <div class="mt-8 w-full">
      <p class="text-sm font-semibold mb-2" jhiTranslate="evaluation.details.furtherDocuments"></p>
      <ul class="list-disc text-sm text-text-secondary ml-5">
        @for (document of extraDocuments(); track document.document.id) {
          <li>
            @if (document.shouldTranslateLabel) {
              <span [jhiTranslate]="document.label" [translateValues]="document.labelParams ?? {}"></span>
            } @else {
              <span>{{ document.label }}</span>
            }
          </li>
        }
      </ul>
    </div>
  }
} @else {
  <div class="mt-14 w-full flex justify-center">
    <p class="text-sm" jhiTranslate="evaluation.details.documentNoUploads"></p>
  </div>
}

<jhi-document-dialog [(isOpen)]="dialogVisible" [(selectedId)]="selectedDocumentId" [documentHolders]="allDocuments()" />
