<div class="credentials">
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="credentials-form">
    <jhi-string-input
      [autofocus]="true"
      [control]="form.controls.email"
      [label]="'auth.common.email.label' | translate"
      [placeholder]="'auth.common.email.placeholder' | translate"
      id="email"
    />

    @if (showPassword()) {
      <jhi-password-input
        [control]="form.controls.password"
        [label]="'auth.common.password.label' | translate"
        [placeholder]="'auth.common.password.placeholder' | translate"
        id="password"
      />
    }

    @if (submitError() && form.pristine) {
      <p jhiTranslate="auth.login.messages.error.wrongCredentials" class="[color:var(--p-danger-color)] text-center pb-4"></p>
    }

    <div class="buttons">
      <jhi-button
        [disabled]="form.invalid || this.authOrchestrator.isBusy() || (form.pristine && submitError())"
        [fullWidth]="true"
        [label]="submitLabel()"
        [loading]="authOrchestrator.isBusy()"
        [shouldTranslate]="true"
        type="submit"
      />
      @if (showSecondButton()) {
        <jhi-button
          [disabled]="form.invalid || (form.pristine && submitError())"
          [fullWidth]="true"
          [label]="secondButtonLabel()"
          [shouldTranslate]="true"
          (click)="secondButtonHandler()()"
          variant="outlined"
        />
      }
    </div>
  </form>
  <p-divider align="center">
    <span [jhiTranslate]="dividerLabel()" class="divider-text"></span>
  </p-divider>
  <jhi-auth-idp-buttons class="providers" />
</div>
