@use '../../../../../content/scss/layout' as layout;

.credentials {
  @include layout.buttons-col;

  .credentials-form {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .p-divider-content {
    background-color: var(--p-background-surface);
  }

  .divider-text {
    color: var(--p-text-secondary);
  }

  .providers {
    display: flex;
    flex: 1 1 auto;
    align-self: stretch;
  }
}
