<form (ngSubmit)="onSubmit()" [formGroup]="form" class="flex flex-col gap-4 w-full sm:w-56">
  <div class="flex flex-col gap-1">
    <jhi-string-input
      [autofocus]="true"
      [control]="form.controls.email"
      [label]="'login.emailLogin.email' | translate"
      [ngClass]="{ 'p-invalid': emailInvalid() }"
      [placeholder]="'login.emailLogin.emailPlaceholder' | translate"
      id="email"
    />
  </div>
  <div class="flex flex-col gap-1">
    <jhi-password-input
      [control]="form.controls.password"
      [label]="'login.emailLogin.password' | translate"
      [ngClass]="{ 'p-invalid': passwordInvalid() }"
      [placeholder]="'login.emailLogin.password' | translate"
      id="password"
    />
  </div>
  <jhi-button [fullWidth]="true" [shouldTranslate]="true" label="login.emailLogin.login" type="submit" />
</form>
