<form (ngSubmit)="onSubmit()" [formGroup]="form" class="flex flex-col gap-4 w-full sm:w-56">
  <div class="flex flex-col gap-1">
    <label for="email">Email</label>
    <input [ngClass]="{ 'p-invalid': emailInvalid() }" formControlName="email" id="email" pInputText type="email" />
    @if (emailInvalid()) {
      @if (form.controls['email']?.errors?.['required']) {
        <p-message severity="error" size="small" variant="simple">Email is required.</p-message>
      }
      @if (form.controls['email']?.errors?.['email']) {
        <p-message severity="error" size="small" variant="simple">Please enter a valid email.</p-message>
      }
    }
  </div>
  <div class="flex flex-col gap-1">
    <label for="password">Password</label>
    <p-password
      [feedback]="false"
      [ngClass]="{ 'p-invalid': passwordInvalid() }"
      [toggleMask]="true"
      autocomplete="off"
      fluid
      formControlName="password"
      id="password"
    />
    @if (passwordInvalid()) {
      <p-message severity="error" size="small" variant="simple">Password is required.</p-message>
    }
  </div>
  <jhi-button [fullWidth]="true" label="Submit" type="submit" />
</form>
