<jhi-tag text="Primary" [round]="false" />
<jhi-tag text="Primary" [round]="true" [icon]="testIcon" [iconRight]="true" />

<jhi-tag text="Secondary" [round]="false" color="secondary" />
<jhi-tag text="Secondary" [round]="true" color="secondary" [icon]="testIcon" [iconRight]="false" />

<jhi-tag text="Info" [round]="false" color="info" />
<jhi-tag text="Info" [round]="true" color="info" />

<jhi-tag text="Success" [round]="false" color="success" />
<jhi-tag text="Success" [round]="true" color="success" />

<jhi-tag text="Warn" [round]="false" color="warn" />
<jhi-tag text="Warn" [round]="true" color="warn" />

<jhi-tag text="Danger" [round]="false" color="danger" />
<jhi-tag text="Danger" [round]="true" color="danger" />

<jhi-tag text="Contrast" [round]="false" color="contrast" />
<jhi-tag text="Contrast" [round]="true" color="contrast" />
