.faq-container {
  display: flex;
  padding: 6.25rem 3.125rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  align-self: stretch;

  .title {
    font-size: 2rem;
    font-weight: 700;
  }

  .subtitle {
    font-size: 1.25rem;
    font-weight: 600;
  }

  .sub-subtitle-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .sub-subtitle {
    margin: 0;
  }

  .p-accordionheader {
    border: 0.0625rem solid var(--p-border-default);
    border-radius: 0;
  }
}
