<div class="card" [class.disabled]="disabled()" [class.placeholder]="placeholder()">
  @if (!placeholder()) {
    <!-- Header -->
    <div class="header">
      <p class="name">{{ applicationDetails()?.applicant?.user?.name }}</p>
      <jhi-tag
        [text]="'evaluation.statusBadge.' + (applicationDetails()?.applicationState || '') | translate"
        [color]="stateSeverityMap[applicationDetails()?.applicationState!] || 'info'"
      />
    </div>

    <!-- Job Title -->
    <div class="job">
      <fa-icon class="icon" [icon]="['fas', 'briefcase']" />
      <span class="job-title">
        {{ applicationDetails()?.jobTitle }}
      </span>
    </div>

    <!--

    Rating and Comments removed for now

    <div class="rating">
      <jhi-rating [rating]="application()?.rating" />
      <div class="comments">
        <p>0</p>
        <fa-icon [icon]="['fas', 'comment-alt']" />
      </div>
    </div>

    -->
  }
</div>
