<p-fileupload
  [customUpload]="true"
  [multiple]="true"
  accept="application/pdf"
  mode="advanced"
  [maxFileSize]="maxUploadSizeInMb * 1024 * 1024"
  (onClear)="onClear()"
  [disabled]="disabled()"
  (onSelect)="onFileSelected($event)"
>
  <ng-template #header let-chooseCallback="chooseCallback" let-uploadCallback="uploadCallback" let-clearCallback="clearCallback">
    <div class="flex flex-wrap gap-2.5">
      <jhi-button variant="outlined" icon="plus" (click)="chooseCallback()" label="Select" />
      <jhi-button variant="outlined" icon="upload" (click)="onUpload()" label="Upload" [disabled]="(selectedFiles() ?? []).length === 0" />
      <jhi-button variant="outlined" icon="times" (click)="deleteAll()" label="Clear" />
    </div>
  </ng-template>
  <ng-template #empty>
    <div>Drag and drop files to here to upload.</div>
  </ng-template>
  <ng-template #content let-files let-removeFileCallback="removeFileCallback">
    <div class="mt-0 w-full">
      <table class="table-fixed border-collapse w-full slim-table">
        <tbody>
          @if (selectedFiles(); as selectedFiles) {
            @for (file of selectedFiles; track $index) {
              <tr class="border border-gray-400 leading-0 border-x-0">
                <td>
                  <fa-icon icon="cloud-arrow-up" class="icon-color-warning" />
                </td>
                <td>
                  <div class="font-small text-wrap" contenteditable>{{ file.name }}</div>
                </td>
                <td>
                  <small class="text-muted">{{ formatSize(file.size) }}</small>
                </td>
                <td>
                  <jhi-button
                    icon="times"
                    severity="danger"
                    variant="outlined"
                    (click)="removeFileCallback($event, $index)"
                    aria-label="Remove file"
                  />
                </td>
              </tr>
            }
          }
          @if (documentIds(); as documentIds) {
            <!-- <div class="mt-0"> -->
            @for (info of documentIds; track $index) {
              <tr class="border border-gray-400 leading-0 border-x-0">
                <td>
                  <fa-icon icon="file-circle-check" class="icon-color-success" />
                </td>
                <td>
                  <span class="font-small" contenteditable>{{ info.name }}</span>
                </td>
                <td>
                  <small class="text-muted">{{ formatSize(info.size) }}</small>
                </td>
                <td class="border-r-0">
                  <jhi-button
                    icon="trash-alt"
                    severity="danger"
                    variant="outlined"
                    (click)="deleteDictionary(info)"
                    aria-label="Remove file"
                  />
                </td>
              </tr>
            }
            <!-- </div> -->
          }
        </tbody>
      </table>
    </div>
  </ng-template>
  <ng-template #file />
</p-fileupload>
