.border-primary {
  border: solid var(--p-primary-color) 0.1rem;
}

.border-success {
  border: solid var(--p-success-color) 0.1rem;
}

.border-neutral {
  border: solid var(--p-background-disabled) 0.1rem;
}

.background-disabled {
  background: var(--p-background-disabled);
}

.background-primary {
  color: var(--p-primary-color);
}

.background-success {
  color: var(--p-success-color);
}

.text-color {
  color: var(--p-text-primary);
}

.drag-over {
  border-color: var(--p-primary-color);
  background: var(--p-primary-hover-color-outlined);
}

.slim-table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed; /* Enables wrapping */
}

.slim-table th,
.slim-table td {
  border-right: 1px solid #ccc;
  padding: 0px 5px;
  font-size: 14px;
  vertical-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.2;
}

.slim-table td {
  white-space: normal;
}

.icon-color-success {
  color: var(--p-success-color);
}

.icon-color-warning {
  color: var(--p-warn-color);
}
