<div class="page-container">
  <div class="header-container">
    <div class="page-header">
      <h1 jhiTranslate="myPositionsPage.header.title"></h1>
    </div>
    <jhi-button label="myPositionsPage.header.createButton" severity="primary" (click)="onCreateJob()" [shouldTranslate]="true" />
  </div>
  <div class="my-positions-container">
    <div class="body">
      <jhi-search-filter-sort-bar
        [searchText]="'myPositionsPage.searchFilterSortBar.searchText' | translate"
        [totalRecords]="totalRecords()"
        [singleEntity]="'job' | translate"
        [multipleEntities]="'jobs' | translate"
        (searchOutput)="onSearchEmit($event)"
        (filterOutput)="onFilterEmit($event)"
        (sortOutput)="loadOnSortEmit($event)"
        [filters]="[
          {
            filterLabel: 'myPositionsPage.tableColumn.job',
            filterSearchPlaceholder: 'myPositionsPage.searchFilterSortBar.filterOptions.jobSearchPlaceholder',
            filterOptions: allJobNames(),
          },
          {
            filterLabel: 'evaluation.tableHeaders.status',
            filterSearchPlaceholder: 'myPositionsPage.searchFilterSortBar.filterOptions.stateSearchPlaceholder',
            filterOptions: availableStatusLabels,
            shouldTranslateOptions: true,
          },
        ]"
        [sortableFields]="sortableFields"
      />
      <div class="table-wrapper">
        <jhi-dynamic-table
          [columns]="columns()"
          [data]="jobs()"
          [totalRecords]="totalRecords()"
          [page]="page()"
          [rows]="pageSize()"
          [selectable]="true"
          (lazyLoad)="loadOnTableEmit($event)"
        />
      </div>

      <ng-template #actionTemplate let-job>
        <div class="flex space-x-2">
          <jhi-button
            label="jobActionButton.view"
            severity="primary"
            data-testid="view"
            (click)="onViewJob(job.jobId)"
            [shouldTranslate]="true"
          />
          <jhi-button
            label="jobActionButton.edit"
            severity="primary"
            variant="outlined"
            (click)="onEditJob(job.jobId)"
            data-testid="edit"
            [disabled]="job.state !== 'DRAFT'"
            [shouldTranslate]="true"
          />
          @if (job.state === 'DRAFT') {
            <jhi-confirm-dialog
              [label]="'jobActionButton.delete' | translate"
              severity="danger"
              [header]="'myPositionsPage.confirmDialog.deleteHeader' | translate"
              [message]="'myPositionsPage.confirmDialog.deleteMessage' | translate"
              (confirmed)="onDeleteJob(job.jobId)"
              confirmIcon="trash"
              data-testid="delete"
            />
          }
          @if (job.state === 'PUBLISHED') {
            <jhi-confirm-dialog
              [label]="'jobActionButton.close' | translate"
              severity="danger"
              variant="outlined"
              [header]="'myPositionsPage.confirmDialog.closeHeader' | translate"
              [message]="'myPositionsPage.confirmDialog.closeMessage' | translate"
              (confirmed)="onCloseJob(job.jobId)"
              confirmIcon="xmark"
              data-testid="delete"
            />
          }
        </div>
      </ng-template>

      <ng-template #stateTemplate let-job>
        <jhi-tag
          [text]="stateTextMap()[job.state] ? (stateTextMap()[job.state] | translate) : ('jobState.unknown' | translate)"
          [color]="stateSeverityMap()[job.state] || 'info'"
          width="8rem"
        />
      </ng-template>
    </div>
  </div>
</div>
