.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 0;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  color: var(--p-primary-color);
}
.my-positions-container {
  .body {
    padding: 0 1rem;
  }
}
