@use '../../../../content/scss/_header.scss';

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;

  .header {
    padding-bottom: 0; // Override the 4rem padding from _header.scss to keep items on same row

    h1 {
      margin: 0; // Remove default h1 margins
    }
  }
}

.my-positions-container {
  .body {
    padding: 0 1rem;
  }
}
