<div class="ml-2 mt-5 mb-8 p-2">
  <h1>Manage your Doctorate Positions</h1>
</div>
<div class="body">
  <div class="table-wrapper">
    <jhi-dynamic-table
      [columns]="columns()"
      [data]="jobs()"
      [totalRecords]="totalRecords()"
      [page]="page()"
      [rows]="pageSize()"
      [selectable]="true"
      (lazyLoad)="loadOnTableEmit($event)"
    />
  </div>

  <ng-template #actionTemplate>
    <div class="flex space-x-2">
      <jhi-button label="View" severity="primary" />
      <jhi-button label="Edit" severity="primary" variant="outlined" />
      <jhi-button label="Delete" severity="danger" />
    </div>
  </ng-template>

  <ng-template #stateTemplate let-job>
    <jhi-tag [text]="stateTextMap()[job.state] || 'Unknown'" [color]="stateSeverityMap()[job.state] || 'info'" />
  </ng-template>
</div>
