<div
  [ngClass]="{
    disabled: disabled(),
    'invalid-field': isInvalid(),
  }"
  class="label-top dropdown-wrapper"
>
  @if (label()) {
    <label class="custom-label">
      @if (!shouldTranslate()) {
        {{ label() }}
      } @else {
        <span jhiTranslate="{{ label() }}"></span>
      }
      @if (required()) {
        <span class="required">*</span>
      }
      @if (icon()) {
        @if (icon() === 'circle-info' && tooltipText()) {
          <fa-icon class="icon" [icon]="['fas', icon() ?? '']" [pTooltip]="tooltipText()" tooltipPosition="top" />
        } @else {
          <fa-icon class="icon" [icon]="['fas', icon() ?? '']" />
        }
      }
    </label>
  }
  <p-dropdown
    (ngModelChange)="onSelectionChange($event)"
    (onHide)="isOpen = false; onBlur()"
    (onShow)="isOpen = true"
    [disabled]="disabled()"
    [ngModel]="selected()"
    [optionLabel]="labelField()"
    [options]="items()"
    [placeholder]="placeholder()"
    [style]="{ width: width() }"
    class="custom-dropdown"
  >
    <!-- Render each dropdown item -->
    <ng-template pTemplate="item" let-item>
      @if (!shouldTranslate()) {
        {{ item[labelField()] }}
      } @else {
        <span jhiTranslate="{{ item[labelField()] }}"></span>
      }
    </ng-template>

    <!-- Render each selected dropdown item -->
    <ng-template pTemplate="selectedItem" let-item>
      @if (!shouldTranslate()) {
        {{ item[labelField()] }}
      } @else {
        <span jhiTranslate="{{ item[labelField()] }}"></span>
      }
    </ng-template>

    <ng-template pTemplate="dropdownicon">
      <fa-icon [icon]="isOpen ? ['fas', 'chevron-up'] : ['fas', 'chevron-down']" />
    </ng-template>
  </p-dropdown>
  @if (displayErrorText()) {
    <div class="error-text">
      @if (inputState() === 'invalid') {
        <span jhiTranslate="{{ errorMessage() }}"></span>
      }
    </div>
  }
</div>
