::ng-deep .dropdown-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  &.label-left {
    flex-direction: row;
    align-items: center;

    .dropdown-label {
      margin-right: 1rem;
    }
  }

  &.label-top .dropdown-label {
    margin-bottom: 0.25rem;
  }

  .dropdown-label {
    color: var(--p-text-primary);
    font-size: 1rem;
  }

  .custom-dropdown {
    background: var(--p-background-default);
    border: 0.1rem solid var(--p-border-default);
    border-radius: 0.5rem;
    color: var(--p-text-primary);

    &.p-disabled {
      background-color: var(--p-background-disabled) !important;
      color: var(--p-text-disabled) !important;
      border-color: var(--p-border-default) !important;

      .ng-fa-icon {
        color: var(--p-text-disabled) !important;
      }
    }

    &.open {
      border: 0.1rem var(--p-primary-color) !important;
    }

    .dropdown-item-content {
      display: flex;
      align-items: center;

      .left-icon {
        margin-right: 0.5rem;
        color: var(--p-text-primary);
      }
    }

    .p-select-list {
      padding: 0;
    }

    .p-dropdown-items {
      background: var(--p-background-surface);
    }

    .p-dropdown-item {
      color: var(--p-text-primary);

      &:hover {
        background-color: var(--p-background-surface-alt);
      }
    }
  }

  .ng-fa-icon {
    color: var(--p-text-primary);
  }

  .p-select-list .ng-star-inserted {
    padding: 0;
  }
}
