.login-header {
  display: flex;
  padding: 1rem 1rem;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: var(--p-accent-color);
  color: var(--p-text-on-accent);
  font-weight: 700;
  font-size: 2rem;
  border-radius: 0.75rem 0.75rem 0 0;
}

.login-content {
  display: flex;
  padding: 1.5rem 2rem;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  align-self: stretch;

  .login-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    align-self: stretch;

    .progressbar {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: 100%;

      .progress-label {
        width: 3.5rem;
        text-align: right;
        color: var(--p-text-primary);
      }
    }

    .login-description {
      max-width: 100%;
      width: 100%;
      word-break: break-word;
      text-align: center;
      box-sizing: border-box;
      color: var(--p-text-primary);
    }

    .login-buttons {
      display: flex;
      flex: 1 1 auto;
      align-self: stretch;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .login-credentials {
        width: 100%;
      }

      .p-divider-content {
        background-color: var(--p-background-surface);
      }

      .divider-text {
        color: var(--p-text-secondary);
      }

      .login-providers {
        display: flex;
        flex: 1 1 auto;
        align-self: stretch;
      }
    }
  }

  .login-footer {
    padding: 1rem 0 0;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--p-text-primary);

    a {
      color: var(--p-primary-color);
      font-weight: 700;
      cursor: pointer;

      &:hover {
        color: var(--p-primary-hover);
      }
    }
  }
}
