<div class="registration-header">
  <h1 jhiTranslate="auth.register.texts.title"></h1>
</div>
<div class="registration-steps">
  <div class="steps">
    @if (showBackButton()) {
      <jhi-button (click)="onBack()" variant="text" icon="chevron-left" />
    }
    <span [translateValues]="{ number: registerProgress(), total: totalRegisterSteps }" jhiTranslate="auth.register.texts.steps"></span>
    @if (showSkipButton()) {
      <jhi-button (click)="onSkip()" variant="text" icon="chevron-right" />
    }
  </div>
  <div class="progressbar">
    <p-progressbar [showValue]="false" [value]="registerProgressInPercent()" class="progressbar" color="var(--p-accent-color)" />
  </div>
</div>
<div class="registration-content">
  <div class="registration-panel">
    <div class="registration-buttons">
      @switch (authOrchestrator.registerStep()) {
        @case ('email') {
          <jhi-credentials-group
            [showPassword]="false"
            [submitHandler]="sendOtp"
            class="login-credentials"
            [submitLabel]="'auth.register.buttons.continue'"
          />
          <p-divider align="center">
            <span class="divider-text" jhiTranslate="auth.register.texts.or"></span>
          </p-divider>
          <jhi-auth-idp-buttons class="registration-providers" />
        }
        @case ('verify') {
          <jhi-otp-input [registration]="true" />
        }
        @case ('profile') {}
        @case ('password') {}
      }
    </div>
  </div>
  @if (authOrchestrator.registerStep() === 'email') {
    <p class="registration-footer">
      <span jhiTranslate="auth.register.texts.accountMissing.prefix"></span>
      <a (click)="authOrchestrator.switchToLogin()" jhiTranslate="auth.register.texts.accountMissing.link"></a>
    </p>
  }
</div>
