<div class="notification-settings">
  <div class="setting-row">
    <span class="setting-label">Applicant Notification Setting 1</span>
    <p-toggleSwitch />
  </div>
  <p-divider styleClass="tight-divider" />
  <div class="setting-row">
    <span class="setting-label">Applicant Notification Setting 2</span>
    <p-toggleSwitch />
  </div>
  <p-divider styleClass="tight-divider" />
  <div class="setting-row">
    <span class="setting-label">Applicant Notification Setting 3</span>
    <p-toggleSwitch />
  </div>
</div>
