<div class="flex flex-col lg:flex-row gap-6 md:gap-8 p-6 md:p-8 items-center justify-center">
  <div class="flex-none lg:flex-[0_1_50%] w-full lg:w-auto">
    <img
      src="/content/images/landing-page/benefits-section/professor-landing-page-benefits.webp"
      class="w-full h-full aspect-[5/3] rounded-[1.25rem] block"
    />
  </div>
  <div class="flex flex-col items-center gap-8 lg:flex-[0_1_50%]">
    <h2 class="font-bold text-3xl" jhiTranslate="professorLandingPage.platformBenefits.headline"></h2>
    <p jhiTranslate="professorLandingPage.platformBenefits.text"></p>
    <!-- TODO: list buttons with platform overview when available -->
    <!--<jhi-button-group [data]="buttons()" [shouldTranslate]="true" />-->
  </div>
</div>
