<div class="flex flex-col lg:flex-row gap-8 lg:gap-32 p-6 md:p-16 items-center justify-center">
  <div class="flex-none lg:flex-[0_1_35%] w-full lg:w-auto">
    <img
      class="w-full h-full aspect-[5/3] rounded-xl block"
      src="/content/images/landing-page/benefits-section/professor-landing-page-benefits.webp"
    />
  </div>
  <div class="flex flex-col items-center gap-8 lg:flex-[0_1_50%]">
    <h2 class="font-bold text-3xl" jhiTranslate="professorLandingPage.platformBenefits.headline"></h2>
    <p jhiTranslate="professorLandingPage.platformBenefits.text"></p>
  </div>
</div>
