@use '../../../../../content/scss/breakpoints' as bp;

.platform-benefits-section {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}

.image-container img {
  max-width: 32rem;
  aspect-ratio: 5 / 3;
  border-radius: 1.25rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 50rem;

  .title {
    color: var(--p-text-primary);
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
  }

  .text {
    color: var(--p-text-primary);
    text-align: justify;
    text-justify: inter-word;
    word-spacing: normal;
    letter-spacing: normal;
  }
}

.button-group {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
@media (max-width: bp.$lg) {
  .platform-benefits-section {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;

    .image-container img {
      max-width: 100%;
    }

    .text-container {
      padding: 2rem;
      align-items: center;

      .title {
        font-size: 2rem;
        text-align: center;
      }

      .text {
        text-align: center;
      }
    }

    .button-group {
      margin-top: 1.5rem;
      justify-content: center;
    }
  }
}

@media (max-width: bp.$md) {
  .platform-benefits-section {
    flex-direction: column;
    padding: 1.5rem;
    gap: 1.5rem;
  }

  .image-container img {
    max-width: 100%;
    width: 100%;
  }

  .text-container {
    padding: 1.5rem;
    align-items: flex-start; // so that the text is alligned to the left
    text-align: left;

    .title {
      font-size: 1.75rem;
      text-align: left;
    }

    .text {
      text-align: left;
    }
  }

  .button-group {
    flex-direction: column;
    align-items: stretch;
  }
}
