<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span jhiTranslate="home.title">Welcome to TUMApply!</span></h1>

    <div>
      @if (account() !== null) {
        <div class="alert alert-success">
          @if (account(); as accountRef) {
            <span id="home-logged-message" jhiTranslate="home.logged.message" [translateValues]="{ username: accountRef.login }"
              >You are logged in as user &quot;{{ accountRef.login }}&quot;.</span
            >
          }
        </div>
      } @else {
        <!--        <div class="alert alert-warning">-->
        <!--          <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>-->
        <!--          <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a>-->
        <!--          <span jhiTranslate="global.messages.info.authenticated.suffix"-->
        <!--            >, you can try the default accounts:<br />- Administrator (login=&quot;admin&quot; and password=&quot;admin&quot;) <br />- User-->
        <!--            (login=&quot;user&quot; and password=&quot;user&quot;).</span-->
        <!--          >-->
        <!--        </div>-->
      }
    </div>
    <jhi-button severity="secondary" label="Create a Job" icon="tasks" (click)="goToJobCreation()" />
    <jhi-button
      severity="secondary"
      label="Apply to the position of 'Machine Learning for Climate Science'"
      (click)="this.router.navigate(['/application/create/00000000-0000-0000-0000-000000010006'])"
    />
    <jhi-button
      severity="secondary"
      label="Edit the application of 'Human-Computer Interaction'"
      (click)="this.router.navigate(['/application/edit/bce85235-25b7-46c2-988c-9290be79dc57'])"
    />
  </div>
</div>
