<div class="card" [class.disabled]="disabled()">
  <!-- Header -->
  <div class="header">
    <p class="name">Max Mustermann</p>
    <jhi-tag [round]="true" text="Accepted" color="info" />
  </div>

  <!-- Job Title -->
  <div class="job">
    <fa-icon class="icon" [icon]="['fas', 'briefcase']" />
    <span class="job-title"> Ai Systems and the opportunities and challenges super long description should not wrap </span>
  </div>

  <!-- Rating and Comments -->
  <div class="rating">
    <jhi-rating [likertScale]="5" [rating]="2" />
    <div class="comments">
      <p>4</p>
      <fa-icon [icon]="['fas', 'comment-alt']" />
    </div>
  </div>

  <!-- Action Buttons -->
  <div class="actions">
    <jhi-button label="Accept" [disabled]="disabled()" />
    <jhi-button label="Reject" variant="outlined" [disabled]="disabled()" />
  </div>
</div>
