<p-card class="job-card">
  <ng-template #header>
    <div [style.--header-color]="headerColor()" class="card-header">
      <div class="card-icon">
        <fa-icon [icon]="['fas', icon()]" />
      </div>
      <div class="timestamp">{{ relativeTime() }}</div>
    </div>
  </ng-template>

  <ng-template #title>
    <div class="card-title">{{ jobTitle() }}</div>
  </ng-template>

  <div class="card-body">
    <ul class="card-info">
      <ng-template #infoItem let-icon="icon" let-value="value" let-tooltip="tooltip">
        <li class="info-item">
          <fa-icon [icon]="['fas', icon]" [pTooltip]="tooltip" tooltipPosition="top" />
          @if (value) {
            @if (icon === 'calendar') {
              Start:
            }
            @if (icon === 'user') {
              Prof. Dr.
            }
            @if (icon === 'clock') {
              <span jhiTranslate="jobOverviewPage.hoursPerWeek" [translateValues]="{ workload: value }"></span>
            } @else {
              {{ value }}
            }
          } @else {
            @if (icon === 'calendar') {
              Start:&nbsp;
            }
            <span jhiTranslate="jobDetailPage.noData"></span>
          }
        </li>
      </ng-template>
      <ng-container
        [ngTemplateOutletContext]="{
          icon: 'graduation-cap',
          value: fieldOfStudies(),
          tooltip: ('jobOverviewPage.tooltips.fieldOfStudies' | translate),
        }"
        [ngTemplateOutlet]="infoItem"
      />
      <ng-container
        [ngTemplateOutletContext]="{ icon: 'location-dot', value: location(), tooltip: ('jobOverviewPage.tooltips.location' | translate) }"
        [ngTemplateOutlet]="infoItem"
      />
      <ng-container
        [ngTemplateOutletContext]="{ icon: 'user', value: professor(), tooltip: ('jobOverviewPage.tooltips.supervisor' | translate) }"
        [ngTemplateOutlet]="infoItem"
      />
      <ng-container
        [ngTemplateOutletContext]="{ icon: 'clock', value: workload(), tooltip: ('jobOverviewPage.tooltips.workload' | translate) }"
        [ngTemplateOutlet]="infoItem"
      />
      <ng-container
        [ngTemplateOutletContext]="{
          icon: 'calendar',
          value: formattedStartDate(),
          tooltip: ('jobOverviewPage.tooltips.startDate' | translate),
        }"
        [ngTemplateOutlet]="infoItem"
      />
    </ul>

    <div class="card-actions">
      <jhi-button
        (click)="onViewDetails()"
        [shouldTranslate]="true"
        class="view-button"
        label="jobActionButton.view"
        severity="primary"
        variant="outlined"
      />
      <jhi-button (click)="onApply()" [shouldTranslate]="true" class="apply-button" label="jobActionButton.apply" severity="primary" />
    </div>
  </div>
</p-card>
