<p-card styleClass="job-card">
  <ng-template #header>
    <div class="card-header" [style.--header-color]="headerColor()">
      <div class="card-icon">
        <fa-icon [icon]="['fas', icon()]" />
      </div>
      <div class="timestamp">{{ relativeTime() }}</div>
    </div>
  </ng-template>

  <ng-template #title>
    <div class="card-title">{{ jobTitle() }}</div>
  </ng-template>

  <div class="card-body">
    <ul class="card-info">
      <ng-template #infoItem let-icon="icon" let-value="value">
        <li class="info-item">
          <fa-icon [icon]="['fas', icon]" />
          @if (value) {
            @if (icon === 'calendar') {
              Start:
            }
            @if (icon === 'clock') {
              <span jhiTranslate="jobOverviewPage.hoursPerWeek" [translateValues]="{ workload: value }"></span>
            } @else {
              {{ value }}
            }
          } @else {
            @if (icon === 'calendar') {
              Start:&nbsp;
            }
            <span jhiTranslate="jobDetailPage.noData"></span>
          }
        </li>
      </ng-template>
      <ng-container [ngTemplateOutlet]="infoItem" [ngTemplateOutletContext]="{ icon: 'graduation-cap', value: fieldOfStudies() }" />
      <ng-container [ngTemplateOutlet]="infoItem" [ngTemplateOutletContext]="{ icon: 'location-dot', value: location() }" />
      <ng-container [ngTemplateOutlet]="infoItem" [ngTemplateOutletContext]="{ icon: 'user', value: professor() }" />
      <ng-container [ngTemplateOutlet]="infoItem" [ngTemplateOutletContext]="{ icon: 'clock', value: workload() }" />
      <ng-container [ngTemplateOutlet]="infoItem" [ngTemplateOutletContext]="{ icon: 'calendar', value: formattedStartDate() }" />
    </ul>

    <div class="card-actions">
      <jhi-button
        severity="primary"
        variant="outlined"
        label="jobActionButton.view"
        (click)="onViewDetails()"
        class="view-button"
        [shouldTranslate]="true"
      />
      <jhi-button severity="primary" label="jobActionButton.apply" (click)="onApply()" class="apply-button" [shouldTranslate]="true" />
    </div>
  </div>
</p-card>
