$sm: 480px; // large phones
$xs: 400px; // standard phones
$xxs: 380px; // small phones
$md: 768px; // tablets
$lg: 1024px; // laptops
$xl: 1440px; // desktops
$ultra-wide: 2048px; // very large screens
