@import 'tailwindcss';

@plugin "tailwindcss-primeui";
@custom-variant dark (&:where(.tum-apply-dark-mode, .tum-apply-dark-mode *)); //dark mode configuration

/* -------------------------------
   Custom Global Styles for Inputs
---------------------------------- */
.label-input-wrapper {
  display: flex;
  flex-direction: column;

  .custom-label {
    color: var(--p-text-color);
  }

  // Add styling for labels on the top of the field
  &.label-top .custom-label {
    margin-bottom: 0.25rem;
  }

  .fa-circle-info {
    color: var(--p-primary-color);
  }

  .p-inputtext:enabled:focus {
    box-shadow: none;
    border: 0.1rem solid var(--p-primary-color);
  }

  .p-inputtext {
    color: var(--p-text-primary);
    border: 0.1rem solid var(--p-border-default);
    background: transparent;
  }

  .p-inputtext::placeholder {
    color: var(--p-background-disabled);
  }

  .p-inputtext:disabled {
    background-color: var(--p-background-disabled);
    color: var(--p-text-disabled);
  }

  .p-inputtext:disabled::placeholder {
    color: var(--p-text-disabled);
  }

  .error .p-inputtext {
    border-color: var(--p-danger-color);
  }
}

.required {
  color: var(--p-danger-color);
}

.error-text {
  color: var(--p-danger-color);
  min-height: 1.5rem;
}

// Styles for the Dynamic Table component
.p-datatable .p-datatable-tbody > tr > td,
.p-datatable .p-datatable-thead > tr > th {
  border-bottom: none;
  background: var(--p-background-default);
}

.selection-col {
  width: 5rem;
}

.external-icon {
  font-size: 1rem;
  position: relative;
}

/* -------------------------------
   Custom Global Styles for Job Card
---------------------------------- */
.job-card {
  overflow: hidden;
  border: 0.1rem solid var(--p-primary-color);
  // max-width: 20rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--p-background-default);
  color: var(--p-text-color);

  .card-header {
    position: relative;
    background: linear-gradient(to right, var(--header-color, var(--p-secondary-color)), var(--p-secondary-color));
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--p-text-on-primary);
    padding: 0 1rem;

    .card-icon {
      font-size: 1.5rem;
      color: var(--p-text-on-primary);
    }

    .timestamp {
      position: absolute;
      bottom: 0.5rem;
      left: 1rem;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 1rem;
      font-size: 0.75rem;
      padding: 0.25rem 0.75rem;
    }
  }

  // Make the card title have consistent height
  .p-card-title {
    min-height: 3rem;
    display: flex;
    align-items: center;

    .card-title {
      line-height: 1.2;
      overflow: hidden;
    }
  }

  .p-card-body {
    padding: 0.7rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;

    .card-info {
      margin: 0 0 1rem 0;
      flex: 1;

      .info-item {
        display: flex;
        font-size: 0.95rem;
        margin-bottom: 0.25rem;

        fa-icon {
          color: var(--p-primary-color);
          margin-right: 0.5rem;

          .svg-inline--fa {
            width: 1.2rem;
          }
        }
      }
    }

    .card-actions {
      display: flex;
      justify-content: space-between;
      margin-top: auto; // Push buttons to bottom
      flex-shrink: 0; // Prevent buttons from shrinking
    }
  }
}

/* --------------------------------------------------
   Custom Global Styles for Atomic Editor Component

   fixes the issue, that the editor originally
   does not grow with a larger placeholder
--------------------------------------------------- */

.ql-editor {
  background: transparent;
  color: var(--p-text-primary);
}

.ql-editor.ql-blank {
  color: var(--p-background-disabled);
}

.ql-editor.ql-blank::before {
  content: none;
}

.ql-editor.ql-blank::after {
  content: attr(data-placeholder);
  display: block;
  font-style: italic;
  margin-top: -1.15rem;
  min-height: 0.81rem;
  pointer-events: none;
}

/* -------------------------------
   Primeng Editor Toolbar Styling
---------------------------------- */

/* Default text color for toolbar buttons and pickers */
.ql-picker-label,
.ql-picker-item,
.p-editor .ql-snow.ql-toolbar button {
  color: var(--p-text-primary);
}

/* Default icon styling */
.p-editor .ql-snow.ql-toolbar .ql-fill {
  fill: var(--p-text-primary);
}
.p-editor .ql-snow.ql-toolbar .ql-stroke {
  stroke: var(--p-text-primary);
}

/* Picker dropdown background */
.ql-picker-options {
  background: var(--p-background-default);
}

/* -------------------------------
   Active State
---------------------------------- */
.p-editor .ql-snow.ql-toolbar button.ql-active,
.p-editor .ql-snow.ql-toolbar .ql-picker-label.ql-active,
.p-editor .ql-snow.ql-toolbar .ql-picker-item.ql-selected {
  color: var(--p-primary-color);
}

.p-editor .ql-snow.ql-toolbar button.ql-active .ql-fill {
  fill: var(--p-primary-color);
}

.p-editor .ql-snow.ql-toolbar button.ql-active .ql-stroke,
.p-editor .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.p-editor .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke {
  stroke: var(--p-primary-color);
}

/* -------------------------------
   Hover State
---------------------------------- */
.p-editor .ql-snow.ql-toolbar button:hover,
.p-editor .ql-snow.ql-toolbar .ql-picker-label:hover,
.p-editor .ql-snow.ql-toolbar .ql-picker-item:hover {
  color: var(--p-primary-color);
}

.p-editor .ql-snow.ql-toolbar button:hover .ql-fill {
  fill: var(--p-primary-color);
}

.p-editor .ql-snow.ql-toolbar button:hover .ql-stroke,
.p-editor .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.p-editor .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke {
  stroke: var(--p-primary-color);
}

/* -------------------------------
   Picker Expanded State
---------------------------------- */
.p-editor .ql-snow.ql-toolbar .ql-picker.ql-expanded .ql-picker-label {
  color: var(--p-primary-color);
}

.p-editor .ql-snow.ql-toolbar .ql-picker.ql-expanded .ql-picker-label .ql-stroke {
  stroke: var(--p-primary-color);
}

/* -------------------------------
   Primeng Editor Border Styling
---------------------------------- */
.p-editor-toolbar.ql-toolbar.ql-snow {
  border-top: 0.1rem solid var(--p-border-default);
  border-left: 0.1rem solid var(--p-border-default);
  border-right: 0.1rem solid var(--p-border-default);
  border-bottom: none;
}

.p-editor-content.ql-container.ql-snow {
  border-top: 0.1rem solid var(--p-border-default);
  border-left: 0.1rem solid var(--p-border-default);
  border-right: 0.1rem solid var(--p-border-default);
  border-bottom: 0.1rem solid var(--p-border-default);

  &:focus-within {
    border-color: var(--p-primary-color);
  }
}

.ql-editor ol li[data-list='bullet']:before {
  content: '•';
}

/* Styles for the My Positions page */
.my-positions-container {
  // Align the paginator and table contents
  .p-datatable-tbody > tr > td:first-child,
  .p-datatable-thead > tr > th:first-child {
    padding-left: 0;
  }
  .p-datatable-tbody > tr > td:last-child {
    padding-right: 0;
  }
}

/* Styles for the tooltip icon in the Dropdown component */
.dropdown-wrapper {
  .fa-circle-info {
    color: var(--p-primary-color);
  }
}

/* Styling for links */
.link {
  color: var(--p-primary-color);

  &:hover {
    color: var(--p-primary-color-hover);
    text-decoration: underline;
  }
}

/* Styles for overriding list styles in Job Detail Page */
.description-text ol,
.description-text ul {
  margin-left: 2rem;
  list-style: initial;
}

.description-text ol {
  list-style-type: decimal;
}

/* ---------------------------
 Style for file upload component
------------------------------- */
.p-fileupload-content {
  color: var(--p-text-color);
  background: var(--p-background-default);
}

.p-fileupload-header {
  background: var(--p-background-default);
}
