@import 'tailwindcss';

@plugin "tailwindcss-primeui";
@custom-variant dark (&:where(.tum-apply-dark-mode, .tum-apply-dark-mode *)); //dark mode configuration

/* -------------------------------
   Custom Global Styles for Inputs
---------------------------------- */
.label-input-wrapper {
  display: flex;
  flex-direction: column;

  // Add styling for labels on the left of the field
  &.label-left {
    flex-direction: row;
    align-items: center;

    .input-wrapper,
    .custom-input {
      flex: 1;
    }
  }

  // Add styling for labels on the top of the field
  &.label-top .custom-label {
    margin-bottom: 0.25rem;
  }

  .fa-circle-info {
    color: var(--p-primary-color);
  }

  .p-inputtext:enabled:focus {
    box-shadow: none;
    border: 0.1rem solid var(--p-primary-color);
  }

  .p-inputtext {
    color: var(--text-primary);
    border: 0.1rem solid var(--p-border-default);
  }

  .p-inputtext::placeholder {
    color: var(--p-background-disabled);
  }

  .p-inputtext:disabled {
    background-color: var(--p-background-disabled);
    color: var(--p-text-disabled);
  }

  .p-inputtext:disabled::placeholder {
    color: var(--p-text-disabled);
  }

  .error .p-inputtext {
    border-color: var(--p-danger-color);
  }
}

.required {
  color: var(--p-danger-color);
}

.error-text {
  color: var(--p-danger-color);
  min-height: 1.5rem;
}

// Styles for the Dynamic Table component
.p-datatable .p-datatable-tbody > tr > td,
.p-datatable .p-datatable-thead > tr > th {
  border-bottom: none;
  background: var(--p-background-default);
}

.selection-col {
  width: 5rem;
}

.job-card {
  overflow: hidden;
  border: 0.1rem solid var(--p-primary-color);
  max-width: 20rem;

  .card-header {
    position: relative;
    background: linear-gradient(to right, var(--p-primary-color), pink);
    color: var(--p-text-on-primary);
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .card-icon {
      font-size: 1.5rem;
    }

    .timestamp {
      position: absolute;
      bottom: 0.5rem;
      left: 1rem;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 1rem;
      font-size: 0.75rem;
      padding: 0.25rem 0.75rem;
    }
  }

  .card-body {
    .card-info {
      margin: 0 0 1rem 0;

      .info-item {
        display: flex;
        font-size: 0.95rem;
        margin-bottom: 0.25rem;

        fa-icon {
          color: var(--p-primary-color);
          margin-right: 0.5rem;

          .svg-inline--fa {
            width: 1.2rem;
          }
        }
      }
    }

    .card-actions {
      display: flex;
      justify-content: space-between;
    }
  }

  .p-card-body {
    padding: 0.7rem;
  }
}
