:root {
  // Stepper Styles
  --p-stepper-step-number-size: 1.75rem;
  --p-stepper-step-number-font-size: 1rem;
  --p-stepper-step-title-font-weight: 500;
  --p-accordion-header-background: var(--p-background-default);
}

p-step[data-p-active='true'] .p-step-title {
  font-weight: 700 !important;
  color: var(--p-text-primary) !important;
}
/* -------------------------------
   Custom Global Styles for Login
---------------------------------- */
.login-header-button .p-button-text.p-button-info {
  color: white !important;
  transition: all 0.3s ease;
}

.registration-header-button .p-button-text {
  color: white !important;
  transition: all 0.3s ease;
}

.login-header-button .p-button-text.p-button-info:hover,
.registration-header-button .p-button-text:hover {
  filter: drop-shadow(0 0 0.075rem white);
  background: rgba(255, 255, 255, 0.05);
}

/* -------------------------------
   Custom Global Styles for Tags
---------------------------------- */
.p-tag {
  border: 0.1rem solid var(--p-border-default) !important;
}

.p-tag-success {
  border-color: var(--p-success-500) !important;
}

.p-tag-info {
  border-color: var(--p-neutral-500) !important;
}

.p-tag-secondary {
  border-color: var(--p-secondary-500) !important;
}

.p-tag-danger {
  border-color: var(--p-danger-500) !important;
}

.p-tag-warn {
  border-color: var(--p-warn-500) !important;
}

.p-tag-contrast {
  border-color: var(--p-accent-500) !important;
}

/* -------------------------------
   Progress Stepper Sticky Footer Buttons
------------------------------- */
jhi-progress-stepper .sticky-footer .p-button {
  height: 2.25rem;
  padding: 0.4rem 0.75rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}
