<header class="app-header border-b border-border-default dark:border-none">
  <div (click)="navigateToHome()" class="logo-section cursor-pointer">
    <img alt="TUMApply Logo" class="h-8" src="content/images/tum-apply-logo/tum-apply-logo.svg" />
    @if (isProfessorPage()) {
      <span class="professor" jhiTranslate="header.professorTitle"></span>
    }
  </div>

  <div class="actions-section">
    <div class="language-switch">
      @for (language of languages; track language; let isLast = $last) {
        <button (click)="toggleLanguage(language)" [ngClass]="{ active: currentLanguage() === language }" class="language-button">
          {{ language.toUpperCase() }}
        </button>
        @if (!isLast) {
          <span class="divider">|</span>
        }
      }
    </div>
    <jhi-button
      class="theme-toggle-button"
      (click)="toggleColorScheme()"
      [icon]="isDarkMode() ? 'moon' : 'sun'"
      severity="primary"
      variant="text"
      [tooltip]="'header.theme' | translate"
    />

    @if (user() === undefined) {
      @if (isProfessorPage()) {
        <jhi-button
          class="header-button"
          (click)="redirectToApplicantLandingPage()"
          label="{{ 'header.applicant' | translate }}"
          severity="primary"
          variant="outlined"
        />
      } @else {
        <jhi-button
          class="header-button"
          (click)="redirectToProfessorLandingPage()"
          label="{{ 'header.professor' | translate }}"
          severity="primary"
          variant="outlined"
        />
      }
      <jhi-button class="header-button" (click)="login()" label="{{ 'header.login' | translate }}" severity="primary" />
    } @else {
      <div class="profile">
        <fa-icon class="profile-icon" icon="user" />
        <span class="font-medium">{{ user()?.name }}</span>
      </div>
      <jhi-button
        class="header-button"
        (click)="logout()"
        label="{{ 'header.logout' | translate }}"
        severity="primary"
        variant="outlined"
      />
    }
  </div>
</header>

<div
  class="flex items-center justify-between py-2 px-6 bg-white dark:bg-background-surface-alt sticky top-12 z-[999] border-b border-border-default"
>
  <div class="flex items-center gap-3">
    <div class="flex flex-col gap-0.5 text-primary-default">
      <span (click)="navigateToHome()" class="text-xs font-normal cursor-pointer hover:underline">TUMApply</span>
      <a href="https://www.cit.tum.de/" target="_blank" rel="noopener noreferrer" class="text-xs font-normal hover:underline">
        TUM School of Computation, Information and Technology
      </a>
      <a
        href="https://www.tum.de/"
        target="_blank"
        rel="noopener noreferrer"
        class="text-xs font-normal hover:underline"
        jhiTranslate="header.universityName"
      ></a>
    </div>
  </div>
  <a href="https://www.tum.de/" target="_blank" rel="noopener noreferrer">
    <img alt="TUM Logo" class="h-10 shrink-0" src="content/images/tum-logo/tum-logo-blue.svg" />
  </a>
</div>
