.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 1.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  overflow-x: auto;
  height: 3rem;

  .logo-section {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--p-primary-color);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    flex-shrink: 0;

    .tum-logo {
      height: 1.5rem;
    }

    .professor {
      color: var(--p-secondary-color);
      font-weight: 300;
    }
  }

  .actions-section {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    flex-shrink: 0;

    .theme-switch {
      position: relative;

      .theme-toggle-button {
        .p-button {
          width: 2rem;
          height: 2rem;
          border-radius: 0.5rem;
        }
      }
    }

    .language-switch {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      button {
        color: var(--p-primary-color);
        cursor: pointer;

        &.active {
          font-weight: bold;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .divider {
      color: var(--p-primary-color);
    }

    .profile {
      display: flex;
      padding: 0.5rem 0.75rem;
      margin-right: -1rem;
      align-items: center;
      gap: 0.5rem;
      border-radius: 0.5rem;
      cursor: pointer;
      background-color: transparent;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: var(--p-primary-hover-color-outlined);
      }

      .profile-icon {
        display: flex;
        justify-content: center;
        width: 1.75rem;
        height: 1.75rem;
        align-items: center;
        border-radius: 50%;
        background: var(--p-primary-color);
        color: var(--p-text-on-primary);
      }

      .dropdown-icon {
        font-size: 0.75rem;
        color: var(--p-text-color);
      }
    }

    .header-button {
      display: inline-flex;

      .p-button {
        min-width: 6.3rem;
        height: 2rem;
        justify-content: center;
        padding: 0.4rem 0.75rem;
        font-size: 0.9rem;
        border-radius: 0.5rem;
      }
    }
  }
}

.profile-menu {
  margin-top: 0.5rem;
  min-width: 12rem;

  &:hover {
    background-color: var(--p-primary-hover-color-outlined);
  }

  .p-menuitem-link {
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--p-primary-hover-color-outlined);
    } // TODO Background color funktioniert nicht richtig

    .p-menuitem-icon {
      font-size: 1rem;
      color: var(--p-text-secondary);
    }

    .p-menuitem-text {
      font-size: 0.95rem;
      color: var(--p-text-color);
    }
  }
}
