.login-card {
  position: relative;
  border-radius: 0.75rem;
  background: var(--p-background-default);
  width: auto;
  max-width: 35rem;

  .close-button {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    transform: scale(0.8);
  }
}
