<div class="relative rounded-xl bg-background-default w-auto max-w-[25rem]">
  <!-- Close Button -->
  <jhi-button
    class="login-header-button absolute top-3 right-3 scale-80 text-text-on-primary [&_.p-button]:!text-inherit"
    icon="xmark"
    variant="text"
    severity="info"
    style="font-weight: bold"
    [disabled]="false"
    (click)="onClose()"
  />
  <!--  Auth Mode   -->
  @if (authOrchestrator.mode() === 'login') {
    <jhi-login />
  } @else {
    <jhi-registration />
  }
</div>
