.login-card {
  border-radius: 0.75rem;
  background: var(--p-background-surface);
  width: auto;
  max-width: 35rem;
}

.login-card jhi-button-group {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
