name: 'Validate Gradle Wrapper'
on:
  push:
    branches:
      - main
    paths:
      - '**/gradle/**'
  pull_request:
    branches: [main]
    paths:
      - '**/gradle/**'

jobs:
  validation:
    name: 'Gradle Wrapper Validation'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: gradle/actions/wrapper-validation@v5
        with:
          min-wrapper-count: 1
