<div class="login-header">
  <h1 jhiTranslate="auth.common.title"></h1>
</div>
<div class="login-content">
  <div class="login-panel">
    @if (this.authOrchestrator.loginStep() !== 'otp') {
      <section class="mb-0.5 w-full border-b-[0.0625rem] border-border-default pb-3.5">
        <div class="flex w-full flex-col gap-3">
          <jhi-button
            [shouldTranslate]="true"
            [disabled]="authOrchestrator.isBusy()"
            [loading]="authOrchestrator.isBusy()"
            [fullWidth]="true"
            label="auth.passkey.buttons.passkey"
            icon="lock"
            severity="primary"
            variant="outlined"
            (click)="signInWithPasskey()"
          />
        </div>
      </section>
      <jhi-credentials-group
        [secondButtonHandler]="secondButtonHandler"
        [showPassword]="showPassword()"
        [showSecondButton]="!showPassword()"
        [submitHandler]="submitHandler"
        class="login-credentials"
        secondButtonLabel="auth.login.buttons.continueWithPassword"
      />
      @if (this.showPassword()) {
        <jhi-button
          class="login-header-button back-button"
          severity="info"
          icon="chevron-left"
          [shouldTranslate]="true"
          variant="text"
          style="font-weight: bold"
          (click)="backButtonHandler()"
        />
      }
    } @else {
      <jhi-otp-input />
      <jhi-button
        class="login-header-button back-button"
        severity="info"
        icon="chevron-left"
        [shouldTranslate]="true"
        variant="text"
        style="font-weight: bold"
        (click)="backButtonHandler()"
      />
    }
  </div>
  <p class="login-footer">
    <span jhiTranslate="auth.login.texts.accountMissing.prefix"></span>
    <a (click)="authOrchestrator.switchToRegister()" jhiTranslate="auth.login.texts.accountMissing.link"></a>
  </p>
</div>
