@use '../../../../../content/scss/layout' as layout;

.login-header {
  @include layout.authentication-header-base;

  background: var(--p-primary-color);
  color: var(--p-text-on-primary);
}

.login-content {
  @include layout.section-col;

  .login-panel {
    @include layout.panel-col;

    .login-credentials {
      width: 100%;
    }
  }
  .back-button {
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    transform: scale(0.8);
  }

  .login-footer {
    @include layout.auth-footer;
  }
}
