<div class="login-header">
  <h1>TUMApply</h1>
</div>
<div class="login-content">
  <div class="login-panel">
    <div class="login-buttons">
      <jhi-credentials-group [submitHandler]="onEmailLogin" class="login-credentials" />
      <p-divider align="center">
        <span class="divider-text" jhiTranslate="login.texts.or"></span>
      </p-divider>
      <jhi-auth-idp-buttons class="login-providers" />
    </div>
  </div>
  <p class="login-footer">
    <span jhiTranslate="login.texts.accountmissing.prefix"></span>
    <a (click)="authOrchestrator.switchToRegister()" jhiTranslate="login.texts.accountmissing.link"></a>
  </p>
</div>
